---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"91df880a-9cb2-4c20-9e81-bd3ffb4096bd","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"0173c6a6-4f60-49e2-a2ad-6b399172a219","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"739682ed-74d2-4166-89a2-05036708a68c","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"c8758000-826d-4739-ad17-c4474ffbf083","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest/baz.txt
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"565f0d78-ced3-4216-95e9-3576b24ba9e4","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:42:50Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118596547","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/380563a0-6dff-4519-8fa3-622df153713f?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T172750Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=GcaPAwA2bA14GUBD2iq4k9AXfPdYUm6vhGL0zu6jnY0jBvnmQDFcJOFpRkmDIg4sQO_uN_LVO4M2trOjwutqgvC4v1jmjtc2rwN4XNRfMWSzQ8wMZG.AnMuiEq5kefR8\u0026X-Amz-Signature=ded9522a5bbf3fbc45448c49200ce5d238817cd9cd682aa95c44687f5fe4705c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/380563a0-6dff-4519-8fa3-622df153713f?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T172750Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=GcaPAwA2bA14GUBD2iq4k9AXfPdYUm6vhGL0zu6jnY0jBvnmQDFcJOFpRkmDIg4sQO_uN_LVO4M2trOjwutqgvC4v1jmjtc2rwN4XNRfMWSzQ8wMZG.AnMuiEq5kefR8&X-Amz-Signature=ded9522a5bbf3fbc45448c49200ce5d238817cd9cd682aa95c44687f5fe4705c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - V2Q929AEKMJBWB5M
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T09:27:41.083554382-08:00","ref":"put-4118596547"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:27:51Z","mtime":"2023-02-06T17:27:51Z","provided_mtime":"2023-02-06T17:27:41Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root
    method: GET
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root","display_name":"dest-root","type":"directory","size":null,"created_at":"2023-02-06T17:20:50Z","mtime":"2023-02-06T17:27:51Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest","display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T17:20:51Z","mtime":"2023-02-06T17:27:51Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root/Dest/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:27:51Z","mtime":"2023-02-06T17:27:51Z","provided_mtime":"2023-02-06T17:27:41Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_baz.txt_to_Dest/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
