---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"12f10f5d-5c1d-4df1-abeb-009f2670edec","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"98218bd5-392a-4ab4-84b1-9b13f06154cf","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"da22a856-7bfc-435e-bf5d-d28b5576a2a6","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root/dest
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"1205d225-2f2e-428d-b02a-e9974203ae99","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root/dest/bar
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"99cc2f76-8756-4190-95bc-84c1c0f7716d","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root/dest/bar/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:43:28Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118600447","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c6a54104-86c9-440b-8195-932a13ab3791?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T172828Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=58lnH6UkIenP2.L52xUqq3yMOZ9sjJ9IDW.H8GCQZmlsncFdEAh.jomuDaCDs1SN689fu.BmBVHaoqoIafSmq4ypKfWlgSomTHXXhhiDzJARe8m9MAOw0_m7JHngmdry\u0026X-Amz-Signature=4f18174162d357e84aa0bd67c41daa988a80bb0d2dff95c0b82467cd2d582922"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c6a54104-86c9-440b-8195-932a13ab3791?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T172828Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=58lnH6UkIenP2.L52xUqq3yMOZ9sjJ9IDW.H8GCQZmlsncFdEAh.jomuDaCDs1SN689fu.BmBVHaoqoIafSmq4ypKfWlgSomTHXXhhiDzJARe8m9MAOw0_m7JHngmdry&X-Amz-Signature=4f18174162d357e84aa0bd67c41daa988a80bb0d2dff95c0b82467cd2d582922
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - MJC9CVNN9RJZWZDY
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T09:28:23.949074062-08:00","ref":"put-4118600447"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root/dest/bar/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_(with_destination_slash)/dest-root/dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:28Z","mtime":"2023-02-06T17:28:28Z","provided_mtime":"2023-02-06T17:28:23Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root/dest/bar
    method: GET
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_(with_destination_slash)/dest-root/dest/bar","display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T17:26:04Z","mtime":"2023-02-06T17:28:29Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root/dest/bar?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_(with_destination_slash)/dest-root/dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:28Z","mtime":"2023-02-06T17:28:28Z","provided_mtime":"2023-02-06T17:28:23Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root/dest
    method: GET
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_(with_destination_slash)/dest-root/dest","display_name":"dest","type":"directory","size":null,"created_at":"2023-02-06T17:26:02Z","mtime":"2023-02-06T17:28:29Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_contents_of_foo_to_bar_%28with_destination_slash%29/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
