---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"073f026a-31f5-4abe-9e7a-2d45c34278cb","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"9b94edb5-3ca7-427b-8353-b28503ce4d64","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"503d2ec0-b9d6-4114-bef5-add18486a8c5","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root/Dest
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"fd9d59b9-c07a-4b8f-ae69-c9daf95467a5","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root/Dest/taz.txt
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"bef5d540-c9cc-4ea2-8154-ca2db3d4bb1e","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root/Dest/taz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:43:04Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118598102","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/f24ad76e-bfa1-4d00-9a9d-32b22d1dd9b6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T172804Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=CoEhcvR5IKdeBFYy8aflpl6fRkEIgdE9Np5eY25w7KxEel.QYKc0JLhuFSFMkgRURooxBJigZqKlc0rP9IUAze1oIwMtGrDv5fiap7mZ4Hdz9DMs.jiye8E.yK3KYckL\u0026X-Amz-Signature=b866dafe7c291d6aff94168cf35e4e91ef6132b37581f2c5a924282a81d33aaf"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/f24ad76e-bfa1-4d00-9a9d-32b22d1dd9b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T172804Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=CoEhcvR5IKdeBFYy8aflpl6fRkEIgdE9Np5eY25w7KxEel.QYKc0JLhuFSFMkgRURooxBJigZqKlc0rP9IUAze1oIwMtGrDv5fiap7mZ4Hdz9DMs.jiye8E.yK3KYckL&X-Amz-Signature=b866dafe7c291d6aff94168cf35e4e91ef6132b37581f2c5a924282a81d33aaf
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - ETZPW0289QEKSB5F
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T09:28:02.314397776-08:00","ref":"put-4118598102"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root/Dest/taz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root/Dest/taz.txt","display_name":"taz.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:05Z","mtime":"2023-02-06T17:28:05Z","provided_mtime":"2023-02-06T17:28:02Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root
    method: GET
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root","display_name":"dest-root","type":"directory","size":null,"created_at":"2023-02-06T17:25:45Z","mtime":"2023-02-06T17:28:05Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_baz.txt_to_Dest_with_rename/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
