---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"b87344ea-c1bd-4889-b938-759d9e7c7a53","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"85477518-005f-491f-b450-a8fba0d9af1f","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"76d54b9a-c091-401c-844b-9c3b34825db4","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root
    method: GET
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root","display_name":"dest-root","type":"directory","size":null,"created_at":"2023-02-06T17:25:49Z","mtime":"2023-02-06T17:25:49Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:43:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118598743","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c901be74-93b5-493c-81bd-c52bfd89dd76?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T172811Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=thPHTQ7vDKzKJ0vtpAu5CS_2x_ls7uDoFz7OY3MSKzkuFROOL7Z9eFzci191rDCUDd7jfG.ZOL1E5pn6jj6A5.kdsJxsq4U_KZ9YFhWJuAjsShkV.hTO_FhUmloyP56w\u0026X-Amz-Signature=48f9c26e91935e4d78acb362fc8b1d1e9240e1a14eb99c536c3eb94d38153e0a"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c901be74-93b5-493c-81bd-c52bfd89dd76?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T172811Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=thPHTQ7vDKzKJ0vtpAu5CS_2x_ls7uDoFz7OY3MSKzkuFROOL7Z9eFzci191rDCUDd7jfG.ZOL1E5pn6jj6A5.kdsJxsq4U_KZ9YFhWJuAjsShkV.hTO_FhUmloyP56w&X-Amz-Signature=48f9c26e91935e4d78acb362fc8b1d1e9240e1a14eb99c536c3eb94d38153e0a
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - H9R3K35RM5XQR2J3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T09:28:10.281668963-08:00","ref":"put-4118598743"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:12Z","mtime":"2023-02-06T17:28:12Z","provided_mtime":"2023-02-06T17:28:10Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:12Z","mtime":"2023-02-06T17:28:12Z","provided_mtime":"2023-02-06T17:28:10Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_baz.txt_to_current_working_directory/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
