---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"a19dade9-7201-4c87-a1b1-b5f87b86f60b","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"1dd70712-665e-4611-8b9f-ade3c01af3c5","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"b93d2803-e8a2-43f6-9de8-5f5ca284e345","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"5081528c-ceea-4f0a-a193-ccf699a55f00","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:43:34Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118601125","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/efb7b727-1f16-4946-8111-f0e4b4330481?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T172834Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=uWq8OXsRMO3ou6xPMAFk2SrLx2qvwrv4zGgW4teC1i8iK.9DQTKDWH9arZifUCtCfp3QyE2Aiu0NwuPIpw3p7bA3143Fdt_L.dMvfU.nWSRUq2WKbQKNIpJjrp18dJGI\u0026X-Amz-Signature=c1ac71191fb5c4128dfe1cf8f83e806fc23fab74d24b4a513f863649291ae108"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/bar/lo.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:43:34Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118601133","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/83cae088-1f95-4b93-a783-2c7df5732633?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T172834Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=cWhAqqMzcoIvhZXQ9cvBcmFGE69v42P6eDOaw0OXItbunZMpx55Nf27rjvQyWnH8.nMCqTYUXudjRACQr0eyPGvyJ6EP0QR6srF4_pkeP0gVevO_nfLhmul82RWwQ0cm\u0026X-Amz-Signature=bca7ae59f4d68880275bba7af3d7d2bf32d2a14e3850a48615d0bb26c61135f6"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/efb7b727-1f16-4946-8111-f0e4b4330481?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T172834Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=uWq8OXsRMO3ou6xPMAFk2SrLx2qvwrv4zGgW4teC1i8iK.9DQTKDWH9arZifUCtCfp3QyE2Aiu0NwuPIpw3p7bA3143Fdt_L.dMvfU.nWSRUq2WKbQKNIpJjrp18dJGI&X-Amz-Signature=c1ac71191fb5c4128dfe1cf8f83e806fc23fab74d24b4a513f863649291ae108
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - HXRTKB6N22ARFP6B
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/83cae088-1f95-4b93-a783-2c7df5732633?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T172834Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=cWhAqqMzcoIvhZXQ9cvBcmFGE69v42P6eDOaw0OXItbunZMpx55Nf27rjvQyWnH8.nMCqTYUXudjRACQr0eyPGvyJ6EP0QR6srF4_pkeP0gVevO_nfLhmul82RWwQ0cm&X-Amz-Signature=bca7ae59f4d68880275bba7af3d7d2bf32d2a14e3850a48615d0bb26c61135f6
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - HXRRJEJJHCA9WEJP
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T09:28:32.760949438-08:00","ref":"put-4118601125"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:35Z","mtime":"2023-02-06T17:28:35Z","provided_mtime":"2023-02-06T17:28:32Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T09:28:32.76160985-08:00","ref":"put-4118601133"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/bar/lo.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/bar/lo.txt","display_name":"lo.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:35Z","mtime":"2023-02-06T17:28:35Z","provided_mtime":"2023-02-06T17:28:32Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest
    method: GET
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest","display_name":"dest","type":"directory","size":null,"created_at":"2023-02-06T17:26:09Z","mtime":"2023-02-06T17:28:35Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/bar","display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T17:28:34Z","mtime":"2023-02-06T17:28:35Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:35Z","mtime":"2023-02-06T17:28:35Z","provided_mtime":"2023-02-06T17:28:32Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/bar
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root/dest/foo/bar/lo.txt","display_name":"lo.txt","type":"file","size":0,"created_at":"2023-02-06T17:28:35Z","mtime":"2023-02-06T17:28:35Z","provided_mtime":"2023-02-06T17:28:32Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_foo_to_dest_with_nested_directories_and_files/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
