---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"90eccc97-0918-4423-b3a2-bab9ca8a41c6","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_Dest
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"b7253173-f38b-4d42-a8ef-eb35f99487ef","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"6a24f4e4-ae22-42e2-a75f-0014dff8d1f2","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"70652407-f65b-46b3-bf22-f47d06717a8b","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:42:12Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118592539","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c7a2c266-1b7e-4854-9be4-fb21f404db41?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T172712Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=0FFUbO9zE9z_DazGZwKWfBVwLfCeju6QRw6VpbY.zc17ID2cPWZ1Z0ovxh0Cs_1kn2p3e7c2S_T4jXvMW5azPDPoNcIHXlyNAjJatTcrRod32He0oZU1S4OD6crVPTK5\u0026X-Amz-Signature=c500e0ab2858a354b2c441522558507161f5dc5d32d93a200e8a27d93fd7d229"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c7a2c266-1b7e-4854-9be4-fb21f404db41?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T172712Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=0FFUbO9zE9z_DazGZwKWfBVwLfCeju6QRw6VpbY.zc17ID2cPWZ1Z0ovxh0Cs_1kn2p3e7c2S_T4jXvMW5azPDPoNcIHXlyNAjJatTcrRod32He0oZU1S4OD6crVPTK5&X-Amz-Signature=c500e0ab2858a354b2c441522558507161f5dc5d32d93a200e8a27d93fd7d229
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - D431FAH47GQ9GNKA
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T09:27:10.834112133-08:00","ref":"put-4118592539"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:27:13Z","mtime":"2023-02-06T17:27:13Z","provided_mtime":"2023-02-06T17:27:10Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest
    method: GET
  response:
    body: '{"path":"tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest","display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T17:18:37Z","mtime":"2023-02-06T17:27:13Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T17:27:12Z","mtime":"2023-02-06T17:27:13Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest/foo?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:27:13Z","mtime":"2023-02-06T17:27:13Z","provided_mtime":"2023-02-06T17:27:10Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUploader-uploader-copy_foo_to_Dest/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
