---
version: 1
interactions:
- request:
    body: '{"username":"TestMo"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/users
    method: POST
  response:
    body: '{"id":558974,"username":"TestMo","admin_group_ids":[],"allowed_ips":null,"attachments_permission":false,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2022-06-29T17:19:58-04:00","dav_permission":true,"disabled":false,"email":null,"ftp_permission":true,"group_ids":"","header_text":null,"language":"","last_login_at":null,"last_protocol_cipher":null,"lockout_expires":null,"name":null,"company":null,"notes":null,"notification_daily_send_time":null,"office_integration_enabled":true,"password_set_at":"2022-06-29T17:19:58-04:00","password_validity_days":0,"public_keys_count":0,"require_2fa":"use_system_setting","active_2fa":false,"require_password_change":false,"password_expired":false,"restapi_permission":true,"self_managed":true,"sftp_permission":true,"site_admin":false,"skip_welcome_screen":false,"ssl_required":"use_system_setting","sso_strategy_id":null,"externally_managed":false,"time_zone":"Eastern
      Time (US \u0026 Canada)","type_of_2fa":null,"user_root":""}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
