---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/users
    method: GET
  response:
    body: '[{"id":401963,"username":"dustin","admin_group_ids":[],"allowed_ips":null,"attachments_permission":true,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2020-04-02T16:17:28-04:00","dav_permission":true,"disabled":false,"email":"dustin@zeisler.net","first_login_at":"2022-02-11T18:05:19-05:00","ftp_permission":true,"group_ids":"","header_text":null,"language":"","last_login_at":"2023-05-05T15:18:27-04:00","last_web_login_at":"2023-05-05T15:18:27-04:00","last_ftp_login_at":"2023-05-03T18:20:03-04:00","last_sftp_login_at":"2023-02-01T17:08:47-05:00","last_dav_login_at":"2022-10-20T19:31:56-04:00","last_desktop_login_at":"2020-04-14T11:32:56-04:00","last_restapi_login_at":"2023-01-25T18:47:45-05:00","last_api_use_at":"2022-01-13T13:55:13-05:00","last_active_at":"2023-05-05T15:18:27-04:00","last_protocol_cipher":"TLSv1.2;
      ECDHE-RSA-AES256-GCM-SHA384","lockout_expires":null,"name":null,"company":null,"notes":null,"notification_daily_send_time":null,"office_integration_enabled":true,"password_set_at":"2020-04-02T16:18:34-04:00","password_validity_days":0,"public_keys_count":2,"receive_admin_alerts":true,"require_2fa":"never_require","active_2fa":false,"require_password_change":false,"password_expired":false,"restapi_permission":true,"self_managed":true,"sftp_permission":true,"site_admin":true,"skip_welcome_screen":false,"ssl_required":"use_system_setting","sso_strategy_id":null,"subscribe_to_newsletter":false,"externally_managed":false,"time_zone":"Eastern
      Time (US \u0026 Canada)","type_of_2fa":"","user_root":"","days_remaining_until_password_expire":0,"password_expire_at":"2020-04-02T16:18:34-04:00"},{"id":479491,"username":"dustinrecoveryuser","admin_group_ids":[],"allowed_ips":null,"attachments_permission":false,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2021-06-13T21:40:22-04:00","dav_permission":true,"disabled":false,"email":"dustin@zeisler.net","first_login_at":"2021-06-14T13:10:47-04:00","ftp_permiss[...]
- request:
    body: '{"username":"test-list-user"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/users
    method: POST
  response:
    body: '{"id":804447,"username":"test-list-user","admin_group_ids":[],"allowed_ips":null,"attachments_permission":false,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2023-05-05T18:58:46-04:00","dav_permission":true,"disabled":false,"ema[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/users/804447
    method: GET
  response:
    body: '{"id":804447,"username":"test-list-user","admin_group_ids":[],"allowed_ips":null,"attachments_permission":false,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2023-05-05T18:58:46-04:00","dav_permissi[...]
