---
version: 1
interactions:
- request:
    body: '{"-":"files-dest-copy_foo_to_dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_foo_to_dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:44Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_foo_to_dest/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:45Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_foo_to_dest/dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T19:18:45Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2592185202","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/93f9190e-308b-4754-8250-aa62b1d50389?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T190345Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=pbFsswWvMcb2H35z8WDogISJUJqIunH0py6u1OMQl4xSECJCnM5F6uVpT2G6x0yrMnaqLunTYpsIXkeFQnsRGjl3kXM4nATc0oAgSk0RQhYeYwLSk2In7Rc.R6z0PnW_\u0026X-Amz-Signature=475e224b6e0c4a0d9341bfa6e6809f873f1bb048c01e825c0c9fbc232d7f6dc2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/93f9190e-308b-4754-8250-aa62b1d50389?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T190345Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=pbFsswWvMcb2H35z8WDogISJUJqIunH0py6u1OMQl4xSECJCnM5F6uVpT2G6x0yrMnaqLunTYpsIXkeFQnsRGjl3kXM4nATc0oAgSk0RQhYeYwLSk2In7Rc.R6z0PnW_&X-Amz-Signature=475e224b6e0c4a0d9341bfa6e6809f873f1bb048c01e825c0c9fbc232d7f6dc2
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ddf66d49f5b58593a322d1e85538cc77"'
      X-Amz-Request-Id:
      - GAQ51K68BQH4QX60
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","action":"end","etags":[{"etag":"ddf66d49f5b58593a322d1e85538cc77","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-04T19:03:44.375493909Z","ref":"put-2592185202","size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_foo_to_dest/dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:03:46Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":"2022-10-04T19:03:44Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest","display_name":"files-dest-copy_foo_to_dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:44Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_foo_to_dest/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:45Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest/dest?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_foo_to_dest/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2022-10-04T19:03:45Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest/dest/foo?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:03:46Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":"2022-10-04T19:03:44Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest/dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:45Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest/dest/foo
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2022-10-04T19:03:45Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest/dest/foo/baz.txt
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:03:46Z","mtime":"2022-10-04T19:03:46Z","provided_mtime":"2022-10-04T19:03:44Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_foo_to_dest?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_contents_of_foo_to_dest_foo","type":"directory","size":null,"created_at":"2022-10-04T19:03:51Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:52Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo
    method: POST
  response:
    body: '{"display_name":"foo","type":"directory","size":null,"created_at":"2022-10-04T19:03:52Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T19:18:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2592186174","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1c8af310-78db-44c3-b89e-95dc2535d544?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T190353Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=yA.dPqdlJYhHIxpxoLi.nY0bl7svKIcYmEd3SktTzF5b3welvThNOl_148jEVr5oZuetZEcmK72YW48GUN4EZlgPu9W.TyLQfJlL_SWw7yxdwP82TZH_U.8yWnmJ3RWg\u0026X-Amz-Signature=f68d311afbd484e1ca336769df5cf5e1ea459b61c8c21e3238098bbf2f3713d6"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1c8af310-78db-44c3-b89e-95dc2535d544?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T190353Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=yA.dPqdlJYhHIxpxoLi.nY0bl7svKIcYmEd3SktTzF5b3welvThNOl_148jEVr5oZuetZEcmK72YW48GUN4EZlgPu9W.TyLQfJlL_SWw7yxdwP82TZH_U.8yWnmJ3RWg&X-Amz-Signature=f68d311afbd484e1ca336769df5cf5e1ea459b61c8c21e3238098bbf2f3713d6
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ddf66d49f5b58593a322d1e85538cc77"'
      X-Amz-Request-Id:
      - 4EZF4FC655F53SQ7
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","action":"end","etags":[{"etag":"ddf66d49f5b58593a322d1e85538cc77","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-04T19:03:51.078409642Z","ref":"put-2592186174","size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:03:54Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":"2022-10-04T19:03:51Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo","display_name":"files-dest-copy_contents_of_foo_to_dest_foo","type":"directory","size":null,"created_at":"2022-10-04T19:03:51Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:52Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo/dest?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2022-10-04T19:03:52Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:03:54Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":"2022-10-04T19:03:51Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo/dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:03:52Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2022-10-04T19:03:52Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:03:54Z","mtime":"2022-10-04T19:03:54Z","provided_mtime":"2022-10-04T19:03:51Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_foo?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_contents_of_foo_to_dest_bar","type":"directory","size":null,"created_at":"2022-10-04T19:04:00Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:04:00Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar
    method: POST
  response:
    body: '{"display_name":"bar","type":"directory","size":null,"created_at":"2022-10-04T19:04:01Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T19:19:02Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2592187267","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/0227f448-6472-4987-876b-40ee2c398e8a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T190402Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Njij41ElRgU00GATMQuwQXTnnhjUs5F1kMt1a0QzeN0mNGUc8i_B1eYGMvY_J2x1xv_YSZE2N0EzTDHeg8oufnQ8HtTefFh6c2iWChOB7SxPsoDPJsEAMww3ylo45.tZ\u0026X-Amz-Signature=8e224d75944e1ab8f3635ec3ae036013ec3e8ca2a3e41548dfd735d9901c9df2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/0227f448-6472-4987-876b-40ee2c398e8a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T190402Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Njij41ElRgU00GATMQuwQXTnnhjUs5F1kMt1a0QzeN0mNGUc8i_B1eYGMvY_J2x1xv_YSZE2N0EzTDHeg8oufnQ8HtTefFh6c2iWChOB7SxPsoDPJsEAMww3ylo45.tZ&X-Amz-Signature=8e224d75944e1ab8f3635ec3ae036013ec3e8ca2a3e41548dfd735d9901c9df2
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ddf66d49f5b58593a322d1e85538cc77"'
      X-Amz-Request-Id:
      - 8FTTJW8VND8AB736
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","action":"end","etags":[{"etag":"ddf66d49f5b58593a322d1e85538cc77","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-04T19:03:59.835299553Z","ref":"put-2592187267","size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt
    method: POST
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:04:03Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":"2022-10-04T19:03:59Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar","display_name":"files-dest-copy_contents_of_foo_to_dest_bar","type":"directory","size":null,"created_at":"2022-10-04T19:04:00Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:04:00Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar/dest?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar","display_name":"bar","type":"directory","size":null,"created_at":"2022-10-04T19:04:01Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar?page=1
    method: GET
  response:
    body: '[{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:04:03Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":"2022-10-04T19:03:59Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar/dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:04:00Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar","display_name":"bar","type":"directory","size":null,"created_at":"2022-10-04T19:04:01Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-04T19:04:03Z","mtime":"2022-10-04T19:04:03Z","provided_mtime":"2022-10-04T19:03:59Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_bar?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"-":"files-dest-copy_baz.txt_to_dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_baz.txt_to_dest
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_baz.txt_to_dest","type":"directory","size":null,"created_at":"2022-10-04T19:04:08Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_baz.txt_to_dest/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_baz.txt_to_dest/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-04T19:04:09Z","crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_baz.txt_to_dest/dest/baz.txt
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"8b357e9a-d5ef-42db-bfb8-61948ebb92df","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"-":"files-dest-copy_baz.txt_to_dest/dest/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_baz.txt_to_dest/dest/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T19:19:10Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2592188385","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/514d15fa-21cb-477a-bcdb-4852a0a7bd81?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T190410Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=1zBvn5.Ay.M7IccYWH.s3GENUNu_z3WI1_1GSelC8IwWTRGM_eIwEWOAssd5JcP6UW1YPwRng.axWYArAyqhs3K.bV.DvnepP0W1AA3zqw739FCkIJko7ymhG7z5yLtp\u0026X-Amz-Signature=2ac2745492c98219b1ae64a3f11b89cc8f6d2f5049719c652dda6b752a210bf3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
[...]
