---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/golib
    method: POST
  response:
    body: '{"display_name":"golib","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/bool.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860492","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6293b411-2a63-4544-90df-c3f0ee9adbf6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=.L1EDAM9eArHJ6mNuVgBYH78JgEez7Uu99z2IT4Z0eaovR6Qrwj06G0xUqtEjkgQA2NEtY8_nsUyy7QnE1IWbm5SLYq5asA_nFw6cgEmY8Zfity1PSC0f1DEacICmtyh\u0026X-Amz-Signature=04f1a6ffdcd9e4029f7c5fbd6b832f75b02054288d37c1c214924c2f5a644282"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/progresswriter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860488","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/0c612446-3139-4287-aa05-717759a77e76?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=RMoWZyY30fPBeUXwp6G3EaysiNgnp1nZOdknirQB0o9YPI5x3wTn8QmeGTjn.8G8Hg9L9A3fm5D9OWEDfu86mjiE.0IXG.5_ouwxxCnh3P_Xz3rEAdkaGHztL_DEF0dL\u0026X-Amz-Signature=d6c1b4024ba3134aaa1b9242af2734d874d1bb29276a2c7e88c776e42a5944c4"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860489","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/f2345b32-1ec7-42f6-acf0-f5f09b22f26f?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=smiiOdOEW0ROqsNgD8ShizuI5mcguE0xNRi7NQ2VRkAbkAqARurcqEMAizX.vVXKvHRDUU6Vgvh7w.BRUahk4le76hSN9JG8U0hd7Qe77Sd74QZY527RzCJ7ofHHwSs9\u0026X-Amz-Signature=10dc0cb115841f17cd942cc05e4da05944dd25a9a2f4454aad45f41c7061c2cc"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/export_params.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860491","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/28c3a473-601c-47af-ab43-c8d877983ae3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Pzo1jOcuxeFgVFPbqldqOA0faawHjtNAxWsfJr83khKP5YasNUnf2aw4qHVNLI.P8lEUh4XY_rpMcRUzC6N_V7_7Ia1UJHi2VA02ZOE.sJWhnvrJQN1E.KgTtkDAYmIe\u0026X-Amz-Signature=9e9e87e67573ef8c7e9945739475ae0f87128beba56dd005e007aed7e771e393"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/string.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860495","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/eaf3f8d4-8d27-4c78-9375-3a40e1b54d80?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=pAbvwD56SqQBhL8V30E_n2wYgszIuLOnckJQorLTXwp_mIgdCkcmLWEYpG6M_MK_YuHR3pr0cBpe_JFJSaruvRSU0SJH_OodUj0BlIGxP8pLeSs3RvaJe87RPZaLhTe4\u0026X-Amz-Signature=051d88474e661113b77a14f90bbaf965d42a6d86e8b17a542f5b4189716dab71"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860499","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/2abf3173-e649-45f3-8491-0e8bcb1edf2c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=lt33t4Q4_.VmZodZwmoC2p.2sCtG3JFbwgIETSvV12FNs.qZVOV2tVwHIIuJm7FYsKlMRcnIp4rcnuar4FAyrINBjblltm324c12k.VUNkEpSiVL1zvxJNeMkuxfZ9ak\u0026X-Amz-Signature=f36eb1b5dc2bd35184e215664397aabf2354feb9fe5604d23b66904f2c21e651"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/interface.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860494","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/da25acf3-4ee0-4267-8e6f-eb40629f6f26?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=QZKcyh1WwG5mTXYn30CMaNN1WUQATl.3v0KbU2ZCyGH9gOxGNMudU0qOskXN2F_4SUiw4GwyCaSHbwn3slNhMIVJJLtr8W90IY_anTDCjFvDcj80mKVBwFjHhvhm5Bjv\u0026X-Amz-Signature=fbec6796ea00174fc08d6db1dd0b51386529f7e3b549935769f4abc6fceaea20"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860490","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d078fafa-a024-4750-a9c6-a94f94400688?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=8BE0vKnxcFOqNSm1jAmoJKorsOcgXyPzqHUHV2lHkWfCk4rs0eZM_yCV8P3XyU47CDaTnjcMEaJj8mIYxEq4_S2minYCJ0l1cJ8lWlWHAScnE6tY4kieZmjFD2spzGsZ\u0026X-Amz-Signature=2f6212653c6aec0e06406dfe35cff7d9fda97fab1efce49ea92a4828121dd5ea"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860498","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/f1357373-6cc0-4958-b69f-d6206f68531d?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=NyqdEvIKAStAk5SG2MZrDA8sSiLOUOXfyKnl.nQgSIJq3WZDQVxGa4MpTzrlOpY7jaAmKJm_J9jJlqKV.D.mgBzE1Cfvo2R25RQTAaVU5n9wO.JlZprqHnDUcap2dTib\u0026X-Amz-Signature=72b97558a60a8ef456e2155ad0c5d93e6f51f953ea25d84861064b7a5e3f2aab"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/query.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860501","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/9a9b6e6e-13e7-4a80-9463-8e85a4e0c172?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162911Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=lS3nvnnFZ6wMMxYLl4VfQ8Z8NokvWMhxoUctXVVIBshSU2UNGmIxgFWTX45IHkkf9LVvHFyJkrFmvqVwLynoBmwPygfzypdt9VvJcPPa9STbWiBtGqvyPaBn1zIk0APZ\u0026X-Amz-Signature=a0ba4180f961b8b910b744bf6c866b447d5e075514f564199ddd377fc4b22891"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc String(string string) *string {\n\treturn &string\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/eaf3f8d4-8d27-4c78-9375-3a40e1b54d80?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162911Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=pAbvwD56SqQBhL8V30E_n2wYgszIuLOnckJQorLTXwp_mIgdCkcmLWEYpG6M_MK_YuHR3pr0cBpe_JFJSaruvRSU0SJH_OodUj0BlIGxP8pLeSs3RvaJe87RPZaLhTe4&X-Amz-Signature=051d88474e661113b77a14f90bbaf965d42a6d86e8b17a542f5b4189716dab71
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"cecd1ea94155ea41d1f8f9e0c2f2e0d9"'
      X-Amz-Request-Id:
      - X92TXK3G21BZ4JWW
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Bool(bool bool) *bool {\n\treturn &bool\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6293b411-2a63-4544-90df-c3f0ee9adbf6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162911Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=.L1EDAM9eArHJ6mNuVgBYH78JgEez7Uu99z2IT4Z0eaovR6Qrwj06G0xUqtEjkgQA2NEtY8_nsUyy7QnE1IWbm5SLYq5asA_nFw6cgEmY8Zfity1PSC0f1DEacICmtyh&X-Amz-Signature=04f1a6ffdcd9e4029f7c5fbd6b832f75b02054288d37c1c214924c2f5a644282
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"83789abda0845357c13aa5fa9c8605a2"'
      X-Amz-Request-Id:
      - X92H51N5T1VC76WG
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n)\n\nvar
      QueryEscape = url.QueryEscape\n\nfunc PathEscape(path string) string {\n\tpathParts
      := strings.Split(path, \"/\")\n\tnewParts := make([]string, len(pathParts))\n\n\tfor
      i, part := range pathParts {\n\t\tnewParts[i] = url.PathEscape(part)\n\t}\n\n\treturn
      strings.Join(newParts, \"/\")\n}\n\nfunc BuildPath(resourcePath string, unescapedPath
      string) stri[...]
- request:
    body: "package lib\n\nfunc Interface() interface{} {\n\tvar i interface{}\n\treturn
      i\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/da25acf3-4ee0-4267-8e6f-eb40629f6f26?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162911Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=QZKcyh1WwG5mTXYn30CMaNN1WUQATl.3v0KbU2ZCyGH9gOxGNMudU0qOskXN2F_4SUiw4GwyCaSHbwn3slNhMIVJJLtr8W90IY_anTDCjFvDcj80mKVBwFjHhvhm5Bjv&X-Amz-Signature=fbec6796ea00174fc08d6db1dd0b51386529f7e3b549935769f4abc6fceaea20
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f7cb73244af2aafb2ced638dc9658dee"'
      X-Amz-Request-Id:
      - X92GT0NP01YMVGGJ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\n\t\"github.com/appscode/go-querystring/query\"\n)\n\nfunc
      ExportParams(i interface{}) (url.Values, error) {\n\tv, err := query.Values(i)\n\tif
      err != nil {\n\t\tpanic(err)\n\t}\n\n\treturn v, CheckRequired(i, &v)\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/28c3a473-601c-47af-ab43-c8d877983ae3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162911Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Pzo1jOcuxeFgVFPbqldqOA0faawHjtNAxWsfJr83khKP5YasNUnf2aw4qHVNLI.P8lEUh4XY_rpMcRUzC6N_V7_7Ia1UJHi2VA02ZOE.sJWhnvrJQN1E.KgTtkDAYmIe&X-Amz-Signature=9e9e87e67573ef8c7e9945739475ae0f87128beba56dd005e007aed7e771e393
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"3cc6728f7554f3ea0f53dabed57b19d2"'
      X-Amz-Request-Id:
      - X92H47NDETRYPZFT
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"fmt\"\n\t\"net/url\"\n\t\"reflect\"\n\t\"strings\"\n)\n\nfunc
      CheckRequired(iStruct interface{}, values *url.Values) error {\n\tvar errors
      = make([]string, 0)\n\tval := reflect.ValueOf(iStruct)\n\tfor val.Kind() ==
      reflect.Ptr {\n\t\tif val.IsNil() {\n\t\t\treturn nil\n\t\t}\n\t\tval = val.Elem()\n\t}\n\n\tif
      iStruct == nil {\n\t\treturn nil\n\t}\n\n\tif val.Kind() != reflect.Struct {\n\t\treturn
      fmt.Errorf(\"CheckR[...]
- request:
    body: "package lib\n\nimport \"io\"\n\ntype ProgressWriter struct {\n\tWriter
      \         io.Writer\n\tProgressWatcher func(int64)\n}\n\nfunc (w ProgressWriter)
      Write(p []byte) (n int, err error) {\n\tn, err = w.Writer.Write(p)\n\n\tw.ProgressWatcher(int64(n))\n\treturn
      n, err\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/0c612446-3139-4287-aa05-717759a77e76?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162911Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=RMoWZyY30fPBeUXwp6G3EaysiNgnp1nZOdknirQB0o9YPI5x3wTn8QmeGTjn.8G8Hg9L9A3fm5D9OWEDfu86mjiE.0IXG.5_ouwxxCnh3P_Xz3rEAdkaGHztL_DEF0dL&X-Amz-Signature=d6c1b4024ba3134aaa1b9242af2734d874d1bb29276a2c7e88c776e42a5944c4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"a818d0badee418a848d9dc03b985b244"'
      X-Amz-Request-Id:
      - X92ZK2Y5XGBNQXMK
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/appscode/go-querystring/query\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      A struct {\n\tName   string `url:\"name\" required:\"true\"`\n\tAge    int    `url:\"age\"
      required:\"false\"`\n\tIgnore int    `url:\"-\" required:\"false\"`\n}\n\nfunc
      TestCheckRequired_Valid(t *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Name:
      \"Dustin\", Age: 90, Ignore: 50}\n\tvalues, _ := query.Values(a)\n\n\terr :=
      CheckRequired(a, &values)\n\tassert.Equal(err, nil)\n}\n\nfunc TestCheckRequired_Invalid(t
      *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Age: 90}\n\tvalues, _ :=
      query.Values(a)\n\n\terr := CheckRequired(a, &values)\n\tassert.EqualError(err,
      \"missing required field: A{}.Name\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/f2345b32-1ec7-42f6-acf0-f5f09b22f26f?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162911Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=smiiOdOEW0ROqsNgD8ShizuI5mcguE0xNRi7NQ2VRkAbkAqARurcqEMAizX.vVXKvHRDUU6Vgvh7w.BRUahk4le76hSN9JG8U0hd7Qe77Sd74QZY527RzCJ7ofHHwSs9&X-Amz-Signature=10dc0cb115841f17cd942cc05e4da05944dd25a9a2f4454aad45f41c7061c2cc
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"129a7a11d2f07ee5446398ff07588c99"'
      X-Amz-Request-Id:
      - X92WJ1BQP201KGFR
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      TestIter_Next_MaxPages(t *testing.T) {\n\tassert := assert.New(t)\n\tparams
      := ListParams{}\n\tparams.Set(0, 5, \"\", 2)\n\tit := Iter{}\n\tit.ListParams
      = &params\n\n\tit.Query = func() (*[]interface{}, string, error) {\n\t\tret
      := make([]interface{}, params.PerPage)\n\n\t\treturn &ret, \"cursor\", nil\n\t}\n\trecordCount
      := 0\n\tfor it.Next() {\n\t\t[...]
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"3cc6728f7554f3ea0f53dabed57b19d2\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860491","size":"231"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/export_params.go
    method: POST
  response:
    body: '{"path":"golib/export_params.go","display_name":"export_params.go","type":"file","size":231,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"129a7a11d2f07ee5446398ff07588c99\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860489","size":"691"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required_test.go
    method: POST
  response:
    body: '{"path":"golib/required_test.go","display_name":"required_test.go","type":"file","size":691,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"f7cb73244af2aafb2ced638dc9658dee\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860494","size":"75"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/interface.go
    method: POST
  response:
    body: '{"path":"golib/interface.go","display_name":"interface.go","type":"file","size":75,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"cecd1ea94155ea41d1f8f9e0c2f2e0d9\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860495","size":"68"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/string.go
    method: POST
  response:
    body: '{"path":"golib/string.go","display_name":"string.go","type":"file","size":68,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"a818d0badee418a848d9dc03b985b244\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860488","size":"250"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/progresswriter.go
    method: POST
  response:
    body: '{"path":"golib/progresswriter.go","display_name":"progresswriter.go","type":"file","size":250,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"4a67a49b0a254d1698fb963d7011aebd\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860499","size":"1768"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter_test.go
    method: POST
  response:
    body: '{"path":"golib/iter_test.go","display_name":"iter_test.go","type":"file","size":1768,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"e9ea3460b609e2e5cc8e297aee42f49d\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860490","size":"3133"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter.go
    method: POST
  response:
    body: '{"path":"golib/iter.go","display_name":"iter.go","type":"file","size":3133,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"72556a26959c471a4b0bff38d08e558b\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860498","size":"1087"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required.go
    method: POST
  response:
    body: '{"path":"golib/required.go","display_name":"required.go","type":"file","size":1087,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"896d351744edbb4420bd736284a1a288\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860501","size":"549"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/query.go
    method: POST
  response:
    body: '{"path":"golib/query.go","display_name":"query.go","type":"file","size":549,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"83789abda0845357c13aa5fa9c8605a2\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:11-07:00","ref":"put-4169860492","size":"58"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/bool.go
    method: POST
  response:
    body: '{"path":"golib/bool.go","display_name":"bool.go","type":"file","size":58,"mtime":"2021-04-14T16:29:11Z","provided_mtime":"2021-04-14T16:29:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/golib
    method: DELETE
  response:
    body: '{"error":"Folder golib not empty","http-code":422,"instance":"4a5c05c6-0fe6-42c3-adc3-02e67f6a25d9","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
[...]
