---
version: 1
interactions:
- request:
    body: '{"-":"file_to_implicit"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f2f7ece6-bd6a-4bad-b0d6-9bfc06d26276","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"file_to_implicit/nested_1"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"d6b813de-5add-471f-b129-810c9d42c8bd","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"file_to_implicit/nested_1/nested_2"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"178e3f78-a142-436a-b900-fcc35747f58a","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"file_to_implicit/nested_1/nested_2/nested_3"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"24d17fb8-0ddf-429f-bea7-c9593f7a4b48","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"file_to_implicit/nested_1/nested_2/3.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file_to_implicit/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T21:51:34Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593446622","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3c26d38e-378d-4e1e-a4e1-f8e12f3f8af0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T213634Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=mTNDQG492MaDARYEUuc2GWc8BHghmgAcIf9B4AAhjj2rou3kWYEtwP3kyMcOwgTvMz1Bbnt9RSko4bsHnT0Gr674y0wAJ3ELNT20.9Zwm1BQhKNS3Z7ASyketxBzuV1m\u0026X-Amz-Signature=7cdcfddc60a60a832a47b69d16fa88e0e797ccb2279bda7ebb3682770b7e8918"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3c26d38e-378d-4e1e-a4e1-f8e12f3f8af0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T213634Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=mTNDQG492MaDARYEUuc2GWc8BHghmgAcIf9B4AAhjj2rou3kWYEtwP3kyMcOwgTvMz1Bbnt9RSko4bsHnT0Gr674y0wAJ3ELNT20.9Zwm1BQhKNS3Z7ASyketxBzuV1m&X-Amz-Signature=7cdcfddc60a60a832a47b69d16fa88e0e797ccb2279bda7ebb3682770b7e8918
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - EH09GZSMHBXBPB8B
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"file_to_implicit/nested_1/nested_2/3.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2593446622","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-04T21:36:35Z","mtime":"2022-10-04T21:36:35Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"file_to_implicit/nested_1/nested_2/nested_3/4.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file_to_implicit/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T21:51:35Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593446951","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6b4b3bdf-6a3a-46f4-b0e0-ee55ed3be086?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T213635Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=qyP0stj7avkMf9O8F8bpvRuELTL4MbxDqAd0yGCH8qfjxtbucviKPa303nnkwTJ2Q4YZuhBXg5yJ9GE40fNWe1oR9hv_TwUk3aSzgLlSKrYYizaMRLEsC6eC6phzlvJg\u0026X-Amz-Signature=c95f5573b38ebba6cf91bf4fb44f77b432a8d25fff29d5dec11e834b8d482e5b"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6b4b3bdf-6a3a-46f4-b0e0-ee55ed3be086?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T213635Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=qyP0stj7avkMf9O8F8bpvRuELTL4MbxDqAd0yGCH8qfjxtbucviKPa303nnkwTJ2Q4YZuhBXg5yJ9GE40fNWe1oR9hv_TwUk3aSzgLlSKrYYizaMRLEsC6eC6phzlvJg&X-Amz-Signature=c95f5573b38ebba6cf91bf4fb44f77b432a8d25fff29d5dec11e834b8d482e5b
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - CRC4HRTS61J5DEKB
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"file_to_implicit/nested_1/nested_2/nested_3/4.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2593446951","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-04T21:36:37Z","mtime":"2022-10-04T21:36:37Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/file_to_implicit/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-04T21:36:35Z","mtime":"2022-10-04T21:36:35Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-04T21:36:35Z","mtime":"2022-10-04T21:36:35Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3c26d38e-378d-4e1e-a4e1-f8e12f3f8af0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T213639Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=8c6bcc34b9898790f29eb9e069dbb0756386b8a804ecfc3ef460e435d1ad7d7b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3c26d38e-378d-4e1e-a4e1-f8e12f3f8af0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T213639Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=8c6bcc34b9898790f29eb9e069dbb0756386b8a804ecfc3ef460e435d1ad7d7b
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Tue, 04 Oct 2022 21:36:35 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - RQV2982RD7151C2M
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
