---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/relative/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-14T18:53:48Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-213627818","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8122de81-7bf1-4880-9de0-fa6961a03ee6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211014T183848Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=i3rXUe8o88u07FL6orxHvIU.WmSLOx7cz.3eF_zhoc2xxdSoFMd2TcqLXx3fA2J7SxXIdo_rkLTyolnk0d.llDo4Yyn_sCDMmTt47zC_xmLY722lGg_rQtmgFe32cn5i\u0026X-Amz-Signature=b47efe1ae0f47a211fe7c17ff09737eb684f4eb3247b0833bb5a286ac8a7490a"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: hello 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/7755e25b-8566-4b5e-b12e-61e47a38ec66?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T183848Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=wwwbgcqVE40mL8fVKe1GRf8tQuu4pA09V2FXTA_xDNj9d28dDC3Uid65wcTJ5GPf65HDr6pFmJQb2KWk_w_5ebVqFeJEarvFEC0PuBicIF4HgWbQA.V9PRaqQ3UdV158&X-Amz-Signature=beea98bc99481c9280d05e13a6e633bd6ab8825759b096d4b0f266089af32bd9
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"df0649bc4f1be901c85b6183091c1d83"'
      X-Amz-Request-Id:
      - HS7HJNEGAMNHZ1TR
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8122de81-7bf1-4880-9de0-fa6961a03ee6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T183848Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=i3rXUe8o88u07FL6orxHvIU.WmSLOx7cz.3eF_zhoc2xxdSoFMd2TcqLXx3fA2J7SxXIdo_rkLTyolnk0d.llDo4Yyn_sCDMmTt47zC_xmLY722lGg_rQtmgFe32cn5i&X-Amz-Signature=b47efe1ae0f47a211fe7c17ff09737eb684f4eb3247b0833bb5a286ac8a7490a
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"dab729aefdf2bfa7ed05b5531dc26118"'
      X-Amz-Request-Id:
      - HS7RV3EA9KHXR4BB
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/bc02aff7-1c8a-4bbd-a019-2c90b21eec35?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T183848Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=7LGFgbCjTMYcd7bebfw2Ahf4FTFcl1RZFBSvjLSrxD68p6WKEaA6iFf6RFg0piuOkjxn3GCAt8FdhWVi8Q4ZmFKX0vxk7.eiMnUnJzY4TDPUoo5ReJKr1b2DjyvUz6wS&X-Amz-Signature=e0c2a1fa5a368c0de88427fb3dd183ed25ebd4e69b857c9ea05e3cf4cbae7a9e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"bb21ec8394b75795622f61613a777a8b"'
      X-Amz-Request-Id:
      - HS7KZ5NG34XBVEZM
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"dab729aefdf2bfa7ed05b5531dc26118","etags[0][part]":"1","provided_mtime":"2021-10-14T11:38:48-07:00","ref":"put-213627818","size":"7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/relative/3.text
    method: POST
  response:
    body: '{"path":"relative/3.text","display_name":"3.text","type":"file","size":7,"mtime":"2021-10-14T18:38:49Z","provided_mtime":"2021-10-14T18:38:48Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/relative
    method: DELETE
  response:
    body: '{"error":"Folder relative not empty","http-code":422,"instance":"3ee7247a-00ac-4ab9-b31a-bfc0fff0b7ef","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/relative?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
