---
version: 1
interactions:
- request:
    body: '{"-":"golib/lib/partsize.go","mkdir_parents":true,"size":1076}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/partsize.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855969","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ef2fcde9-f530-41e7-9f50-b3c56ba69cd6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Lb8w2U0CUyB.rukMyUqwkUQhzj1CDeYqEq_eWmtZ962Cil4Smi7tGESMlOaHMRb4GJIWkspw10NUYdXjbIH0urmRJx3D18cP.xAYh6DT1vT5Cuf_zdC8DCJDOTiyfurT\u0026X-Amz-Signature=6887696034d61489b98e43503b752d067636895e6342349b4e0ae9c036a4bd19"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/readerctx.go","mkdir_parents":true,"size":552}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/readerctx.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855971","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/e11a9d7b-26f8-413d-91b4-811a5cf00648?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=cdfaMsLHS8wU.zux42wI23xiikwF3JH_8ST8bq_yyb.NMVSoq4u6YwclQrh4uTlfnvOnXXRwCcrdxHjRCXbIPHC19FCxKYdCYLk.b7hT9C4dsLZP_As4f52zI3iHIJQO\u0026X-Amz-Signature=c7b53cd0e7a66c98f3373651cc6e3b81ec600a3c3e725972953d6057ca8d16d6"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/test/createconfig.go","mkdir_parents":true,"size":926}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/test/createconfig.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855979","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a229d94c-2758-4833-96ea-c43acc217aec?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=LJ44bNzQ76rnPGdxyzGEYABaM7Cs_dpHDIzASxmtdDqsXl1TCUmh4hCTnni9JxXM4N_prKeo0owUqEhtuMBPKsBzpC24xZyxSmPkNlRjWlJyZrib2t7qKt9hc.KB4._F\u0026X-Amz-Signature=244c091fb3287fe7fb0b1ed6544e1b629402b3e964d4790b8eb281e93894364f"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/required.go","mkdir_parents":true,"size":1457}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/required.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855977","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5c6ac6de-cd6a-465f-9e8a-e189647150d5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=QrZ8JLgyoLW9YAsg1qWZXGOy2tRBpMOUjIiGnDOM4bZzFctFUBH4G2aw.JDNztfb_AqQXH9NlcvKGnJoId2uCkTd_s8SyqcpRAfLRQI06BMAdZrdq3JuE0cLk2BuJz_3\u0026X-Amz-Signature=13ade34db585ede7100e260b655ce49264c3ffe0305ba26cf8bbf5e289ff2779"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/iter_test.go","mkdir_parents":true,"size":2230}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/iter_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855973","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ff8cfbf1-6061-49b5-bbdb-07d57d9daf2a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=.pgLMvJwverGMVsGJLBS_HRxPgCjAgwRvlQHymnV9Jp68u6Wu5VoLDfR9eHOrcqtoTLto_EKIoFvMXl52WgIJnl2yn2jDwMaV46N54q3aE46FVVt06lWQfy135eZG0_C\u0026X-Amz-Signature=2d7625f03c40b5e4c6226c5f6e3cecc78f9253b502f0b571c7f9bcf9441bf788"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/params_test.go","mkdir_parents":true,"size":1599}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/params_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855982","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a3f900f8-254f-47ee-8705-92548bd64b48?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=C7mDdX6OsH0eeFRZ7dHGUq6Tu0pjLfznIYyL0amgg7iF2BwFvtmHejsuI8qV7PmWp1uL2QEw5ve7zd9Z2kwR1JPYpWJVxfUIcXZ6yY.ocsNCMTnPn9D.aObN.BWwKrnj\u0026X-Amz-Signature=e5eb3e40dc7dad617151c02050bcc40c991d5989c0eef4bd38f3122010689db7"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/direction/main.go","mkdir_parents":true,"size":254}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/direction/main.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855986","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/04280d8d-c914-4e0f-b45a-3eb65a857238?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=99cKo3cACmKHnbf_ETYqj747qkVa9cFBU_o9dej0pzZxWztIkR_XhRvmAy0lpxOkbB22inxt7n4vLg9TKqsatHedqqmTN2XxNQaX4CpfNiKjjqFHD99iBnCzoJRFIIK6\u0026X-Amz-Signature=051accc94150a597e4c44e910d73f7ce9ae6b03284084a798b0823e5c6162bdd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/query_test.go","mkdir_parents":true,"size":1448}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/query_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855984","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/94caca70-e13a-470f-81db-a670cac2f9e0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=KcVyk6j24dhUKivA77TlrxT4relDIuRj9z7FTheTnKOBkoIFc7ussd0dGMzdGaa9_c2TugbK032YlYrei.7YSWouWPQg71PFAKALaUZUtpNzmqqpbZhWJlVE1yx4VsHG\u0026X-Amz-Signature=e8aac2721c7b07c658fc72f96a15838900c912214452405119c82d6002fdc061"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/path.go","mkdir_parents":true,"size":516}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/path.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855993","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/621c6c8b-e2cb-4542-bf7e-115a26cf2e0d?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=h0BwKgf7eF0pzHqiHvNyshyDUa6y0T1dn20KekXhkYQClqDrJfhaqkKIqQaOlkl87jFuwjZoAOI0aF6D7udidZLe8uVEAZc6YamPXe9hrBvKMXUo5nvZ2PY1jYBp12R8\u0026X-Amz-Signature=f5a778a228103af630ed0218d5a53ef3a9074a3f5ba7ff3a79af2953f2b9b715"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/required_test.go","mkdir_parents":true,"size":511}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/required_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593856002","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/89b4075d-8d12-4264-a4c0-27498d79a9bb?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=rAg4AXyo194fDcnrifDcBRgTjhkEGedOh_0k6qr7.O1CqHqKWd.odkfZF6hC647gS0nFZwjufz5T8BZGlP6yxpLPMhlsddfBhccZCB96wlUoBLMpB.Wpa5Luf98y58VT\u0026X-Amz-Signature=eee2094e663341af95d10cba7e60e42a308ec677b8021ce731d8fb9028aba5ca"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/params.go","mkdir_parents":true,"size":1580}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/params.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593856005","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/e382b041-e1f0-42f9-a518-2c43785141ed?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=zW1t15RKhFTqKGvCbqE1Y4MV7QoJq2GmheBo3zyBbZGu05zVEwzj7rsDXDk1SNEUoO1OREhE3iPTgsHYne9G5UF3NYxp4jiUH6zqVhb4B0bNQXHErMW0jwYQT0MbgDqb\u0026X-Amz-Signature=9bb6f2ddd1bc485423da62300ff6d7366f61f80b220220befa99dd95b3061f06"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/pointers.go","mkdir_parents":true,"size":203}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/pointers.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855974","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/214238aa-8678-4a9a-8c54-8e81a799308b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=4RffC57JRG73pzcIv5_Ft_aTuEmXVliORSu3AwgvxLuYH1FNBud_LMDtQ6Wq6tduFb9rM5kLleZKE3boJ9OiKOEXvq.GtxEAAje8q8MYoMGH64HE.4MHV2mSP6veL78J\u0026X-Amz-Signature=9fb2debef83f7807985b813809933a52f2a68c547101ac87a8744ae14b7ef56f"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/errorwithoriginalresponse.go","mkdir_parents":true,"size":787}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/errorwithoriginalresponse.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855983","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/abaea641-cc38-49d8-a70a-9445cc9dac02?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=3KNlpMRlh62uMmg8hyxXwcL9q6_bHtIQZiKVRBBa_eTwaF65uTJtJTumTktFsJafA.Yum3uzH2u6B0lKMZyItRwsyzneokr4ehBrcDCJXY6HzU8d7rrqrNK.W4F9Yvtl\u0026X-Amz-Signature=a496aef76bc1b8d9be8e568ac33ed79a0a774a18538902ebf35af2c2a0ea0718"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/query.go","mkdir_parents":true,"size":1516}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/query.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593856008","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/84ab9b8a-7a9e-4998-9099-d48161241e3e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=ecARy4vjgA8JpMiIxxLILbKLsp6idxH4yPkpO4sCwwmg1p82jAF1q_VUvuQcrbqJdluPZU2B0lkn6PXVTFMk5oqa88R7cJYH05zT7cvnyp3sNEre00xyrEAXWCe6ZuaH\u0026X-Amz-Signature=fd386bbee25c6907b42e134fe369a749ad64861b1658b98a28c2ec8b70b6f6f3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"golib/lib/string.go","mkdir_parents":true,"size":68}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/lib/string.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593855999","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/c72405bb-7319-476a-89ea-d8419b4dba9a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222529Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=BW9SeMAWomaKBXExdenekUM3Ohu5pE8rG4DyKUmhkaAe8pJcHZfwldjsqs7dsktZsdt.51t.gPkZrSc4F_dftsONMMwUKq5Lr6yyzctnUvkzjPZ6YL_6mq6rC6aBHqDS\u0026X-Amz-Signature=e04940978968c805060852d09cff07b5ff2a9447dbd13519cc863d8d12782a50"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nconst (\n\tBasePart = int64(1024*1024*5 + 1024*1024/3)\n)\n\n//
      PartSizes return 10k parts that add up to 4.9 TB\nvar PartSizes = partSizes()\n\nfunc
      partSizes() []int64 {\n\tmaxSize := int64(1024 * 1024 * 1024 * 1024 * 5)\n\ttotalParts
      := 10_000\n\ttotalSize := int64(0)\n\tvar parts []int64\n\tpartSize := BasePart\n\tvar
      iter []int\n\titer = append(iter, 0)\n\titer = append(iter, 100)\n\tf := fibonacci()\n\tf()
      // 0 - skip first[...]
- request:
    body: "package direction\n\ntype Direction struct {\n\tname   string\n\tSymbol
      string\n}\n\nvar (\n\tDownloadType = Direction{name: \"download\", Symbol: \"⬆\"}\n\tUploadType
      \  = Direction{name: \"upload\", Symbol: \"⬆\"}\n)\n\nfunc (t *Direction) Name()
      string {\n\treturn t.name\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/04280d8d-c914-4e0f-b45a-3eb65a857238?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T222529Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=99cKo3cACmKHnbf_ETYqj747qkVa9cFBU_o9dej0pzZxWztIkR_XhRvmAy0lpxOkbB22inxt7n4vLg9TKqsatHedqqmTN2XxNQaX4CpfNiKjjqFHD99iBnCzoJRFIIK6&X-Amz-Signature=051accc94150a597e4c44e910d73f7ce9ae6b03284084a798b0823e5c6162bdd
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"54abeb068b4f1a45cee6fcacf279478d"'
      X-Amz-Request-Id:
      - 0EM80AJD8JNJK71M
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"fmt\"\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      UserExample struct {\n\tUserId int    `json:\"user_id\"`\n\tId     int    `json:\"id\"`\n\tPath
      \  string `json:\"-\" path:\"path\"`\n}\n\nfunc TestBuildPath(t *testing.T)
      {\n\ttype args struct {\n\t\tresourcePath string\n\t\tvalues       interface{}\n\t}\n\ttests
      := []struct {\n\t\tname string\n\t\targs args\n\t\twant string\n\t\terror\n\t}{\n\t\[...]
- request:
    body: "package lib\n\nfunc String(string string) *string {\n\treturn &string\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/c72405bb-7319-476a-89ea-d8419b4dba9a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T222529Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=BW9SeMAWomaKBXExdenekUM3Ohu5pE8rG4DyKUmhkaAe8pJcHZfwldjsqs7dsktZsdt.51t.gPkZrSc4F_dftsONMMwUKq5Lr6yyzctnUvkzjPZ6YL_6mq6rC6aBHqDS&X-Amz-Signature=e04940978968c805060852d09cff07b5ff2a9447dbd13519cc863d8d12782a50
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"cecd1ea94155ea41d1f8f9e0c2f2e0d9"'
      X-Amz-Request-Id:
      - 0EM3HB18YPDB9CMB
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      TestIter_Next_MaxPages(t *testing.T) {\n\tassert := assert.New(t)\n\tparams
      := ListParams{Page: 0, PerPage: 5, MaxPages: 2}\n\tit := Iter{}\n\tit.ListParams
      = &params\n\n\tit.Query = func(Values) (*[]interface{}, string, error) {\n\t\tret
      := make([]interface{}, params.PerPage)\n\n\t\treturn &ret, \"cursor\", nil\n\t}\n\trecordCount
      := 0\n\tfor it.Next([...]
- request:
    body: "package lib\n\nimport (\n\t\"io/ioutil\"\n\t\"net/url\"\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      SubStruct struct {\n\tC string `json:\"c\" url:\"c\"`\n}\n\ntype ParamsStructExample
      struct {\n\tA string      `json:\"a\" url:\"a\" required:\"true\"`\n\tB string
      \     `json:\"-\" url:\"-\"`\n\tC []SubStruct `json:\"sub\" url:\"sub\"`\n\tD
      []string    `json:\"d\" url:\"d\" required:\"true\"`\n}\n\nfunc Test_Params_ToJSON(t
      *testing.T) {\n\tp := Params{\n\t\tParams: ParamsStructExample{\n\t\t\tA: \"The
      a value\",\n\t\t\tB: \"The b value\",\n\t\t\tC: []SubStruct{{C: \"the c value\"}},\n\t\t\tD:
      []string{\"hello\"},\n\t\t},\n\t}\n\n\treader, err := p.ToJSON()\n\tassert.NoError(t,
      err)\n\n\tb, err := ioutil.ReadAll(reader)\n\tassert.NoError(t, err)\n\tassert.Equal(t,
      \"{\\\"a\\\":\\\"The a value\\\",\\\"sub\\\":[{\\\"c\\\":\\\"the c value\\\"}],\\\"d\\\":[\\\"hello\\\"]}\",
      string(b))\n}\n\nfunc Test_Params_ToJSON_Missing_Require(t *testing.T) {\n\tp
      := Params{\n\t\tParams: ParamsStructExample{\n\t\t\tA: \"The a value\",\n\t\t\tB:
      \"The b value\",\n\t\t\tC: []SubStruct{{C: \"the c value\"}},\n\t\t},\n\t}\n\n\t_,
      err := p.ToJSON()\n\tassert.Error(t, err, \"\")\n\n\tp = Params{\n\t\tParams:
      ParamsStructExample{\n\t\t\tB: \"The b value\",\n\t\t\tC: []SubStruct{{C: \"the
     [...]
- request:
    body: "package lib\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"io\"\n\t\"net/url\"\n\n\t\"github.com/appscode/go-querystring/query\"\n)\n\ntype
      Params struct {\n\tParams interface{}\n}\n\ntype Values interface {\n\tToValues()
      (url.Values, error)\n\tToJSON() (io.Reader, error)\n}\n\ntype ExportValues struct
      {\n\turl.Values\n}\n\nfunc (m ExportValues) ToValues() (url.Values, error) {\n\treturn
      m.Values, nil\n}\n\nfunc (m ExportValues) ToJSON[...]
- request:
    body: "package lib\n\nimport (\n\t\"context\"\n\t\"io\"\n)\n\ntype readerCtx struct
      {\n\tctx context.Context\n\tr   io.Reader\n}\n\ntype WithContextReader interface
      {\n\tWithContext(context.Context)\n\tio.Reader\n}\n\nfunc (r *readerCtx) Read(p
      []byte) (n int, err error) {\n\tif err := r.ctx.Err(); err != nil {\n\t\treturn
      0, err\n\t}\n\n\twithContext, ok := r.r.(WithContextReader)\n\tif ok {\n\t\twithContext.WithContext(r.ctx)\n\t}\n\treturn
      r.r.Read[...]
- request:
    body: "package lib\n\nimport (\n\t\"encoding/json\"\n)\n\ntype ErrorWithOriginalResponse
      struct {\n\terror\n\toriginalResponse interface{}\n}\n\nfunc (u ErrorWithOriginalResponse)
      OriginalResponse() interface{} {\n\treturn u.originalResponse\n}\n\nfunc (u
      ErrorWithOriginalResponse) ProcessError(data []byte, err error, t interface{})
      error {\n\tunmarshalError, ok := err.(*json.UnmarshalTypeError)\n\n\tif ok {\n\t\tignoreErr
      := json.Unmarshal(data, &t)\[...]
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      A struct {\n\tName string `url:\"name\" required:\"true\"`\n\tAge  int    `url:\"age\"
      required:\"false\"`\n}\n\nfunc TestCheckRequired_Valid(t *testing.T) {\n\tassert
      := assert.New(t)\n\ta := A{Name: \"Dustin\", Age: 90}\n\n\terr := CheckRequired(a)\n\tassert.Equal(err,
      nil)\n}\n\nfunc TestCheckRequired_Invalid(t *testing.T) {\n\tassert := assert.New(t)\n\ta
      := A{Age: 90}\n\n\terr := CheckRequired(a)\n\tassert.EqualError(err, \"missing
      required field: A{}.Name\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/89b4075d-8d12-4264-a4c0-27498d79a9bb?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T222529Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=rAg4AXyo194fDcnrifDcBRgTjhkEGedOh_0k6qr7.O1CqHqKWd.odkfZF6hC647gS0nFZwjufz5T8BZGlP6yxpLPMhlsddfBhccZCB96wlUoBLMpB.Wpa5Luf98y58VT&X-Amz-Signature=eee2094e663341af95d10cba7e60e42a308ec677b8021ce731d8fb9028aba5ca
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5ee87120cbc0fcf98de07af90ce2ca13"'
      X-Amz-Request-Id:
      - 0EM1B9FFDDAR04R1
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package test\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"os\"\n\t\"path/filepath\"\n\n\tfiles_sdk
      \"github.com/Files-com/files-sdk-go/v2\"\n\t\"github.com/Files-com/files-sdk-go/v2/lib\"\n\t\"github.com/dnaeon/go-vcr/cassette\"\n\t\"github.com/dnaeon/go-vcr/recorder\"\n)\n\nfunc
      CreateConfig(fixture string) (files_sdk.Config, *recorder.Recorder, error) {\n\tconfig
      := files_sdk.Config{}\n\tvar r *recorder.Recorder\n\tvar err error\n\tif os.Getenv(\"GITLAB\"[...]
- request:
    body: "package lib\n\nimport (\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/url\"\n\t\"reflect\"\n\t\"regexp\"\n\t\"strings\"\n)\n\nvar
      QueryEscape = url.QueryEscape\n\nfunc PathEscape(path string) string {\n\tif
      path == \"nil\" {\n\t\treturn \"\"\n\t}\n\tpathParts := strings.Split(path,
      \"/\")\n\tnewParts := make([]string, len(pathParts))\n\n\tfor i, part := range
      pathParts {\n\t\tnewParts[i] = url.PathEscape(part)\n\t}\n\n\treturn strings.Join(newParts,
     [...]
- request:
    body: "package lib\n\nimport (\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n)\n\ntype
      Path struct {\n\tPath string\n}\n\nfunc (p Path) Pop() string {\n\t_, last :=
      filepath.Split(strings.TrimSuffix(p.Path, string(os.PathSeparator)))\n\treturn
      last\n}\n\nfunc (p Path) EndingSlash() bool {\n\tif p.Path == \"\" {\n\t\treturn
      false\n\t}\n\treturn p.Path[len(p.Path)-1:] == string(os.PathSeparator)\n}\n\nfunc
      (p Path) Join(str ...string) Path {\n\treturn Path{Path: filepath.Join(p.String(),
      filepath.Join(str...))}\n}\n\nfunc (p Path) String() string {\n\treturn p.Path\n}\n"
    form: {}
    headers:
[...]
