---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"e053c2a7-8da6-4dfc-a7c7-cb77ad1db4cb","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"89026643-3fbf-44bc-9d92-b9e9bce60887","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"9e906ca8-5329-44ad-8b43-11ab304aaa80","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"9b822345-efb1-4e4b-bfe3-b87e9e34897f","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file_to_implicit/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T00:02:43Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4073751426","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8437de40-c379-40a7-ab18-103721797b41?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210330T234743Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=nc9CznVQI6WLxMlJ_pehZ9dfqtPuY_slKbIQnsUFAAsCCzD0X_YcvfrmA1aL0yfjwYCpnCuC4QVYb2CQdX4UTEqWoL7mso2ePWpbSDWWjhbcQ8Qo._wt8UJbBP1Opy5A\u0026X-Amz-Signature=093c08d6c7c273e2eafd1d07cb37e1fac1a3eef6622fc0a344005cbb7daef317"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8437de40-c379-40a7-ab18-103721797b41?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210330T234743Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=nc9CznVQI6WLxMlJ_pehZ9dfqtPuY_slKbIQnsUFAAsCCzD0X_YcvfrmA1aL0yfjwYCpnCuC4QVYb2CQdX4UTEqWoL7mso2ePWpbSDWWjhbcQ8Qo._wt8UJbBP1Opy5A&X-Amz-Signature=093c08d6c7c273e2eafd1d07cb37e1fac1a3eef6622fc0a344005cbb7daef317
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - BYES34P314K6PD6J
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-03-30T16:47:43-07:00","ref":"put-4073751426","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-03-30T23:47:44Z","provided_mtime":"2021-03-30T23:47:43Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file_to_implicit/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T00:02:44Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4073751495","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/de38233e-3754-4032-aec2-8cc8ff849ab2?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210330T234744Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=pV5BE9iuELrRIw5aowjr_tOJKVBgzBimepOz1vt6SOFXYUajZd8dZiwuWrxG_sKO0SLUqbUc9n8.ky7cZODRSqe7K30HFYAqi3xlsE16RLIlrTal6VoFLpQ7iGJ.qqDH\u0026X-Amz-Signature=45df3ef88f969526ead36a55859b706117c3166171fb5722b827bbeb8cf8531c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/de38233e-3754-4032-aec2-8cc8ff849ab2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210330T234744Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=pV5BE9iuELrRIw5aowjr_tOJKVBgzBimepOz1vt6SOFXYUajZd8dZiwuWrxG_sKO0SLUqbUc9n8.ky7cZODRSqe7K30HFYAqi3xlsE16RLIlrTal6VoFLpQ7iGJ.qqDH&X-Amz-Signature=45df3ef88f969526ead36a55859b706117c3166171fb5722b827bbeb8cf8531c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - BYYS2127F8S76667
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-03-30T16:47:44-07:00","ref":"put-4073751495","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"mtime":"2021-03-30T23:47:45Z","provided_mtime":"2021-03-30T23:47:44Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1/nested_2/3.text?page=1
    method: GET
  response:
    body: '[{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-03-30T23:47:44Z","provided_mtime":"2021-03-30T23:47:43Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-03-30T23:47:44Z","provided_mtime":"2021-03-30T23:47:43Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8437de40-c379-40a7-ab18-103721797b41?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210330T234745Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=80298dc0f7a5b4b4eca8e3f7e2673094b67be2ba30127ba05286341d09b04a5c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8437de40-c379-40a7-ab18-103721797b41?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210330T234745Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=80298dc0f7a5b4b4eca8e3f7e2673094b67be2ba30127ba05286341d09b04a5c
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Tue, 30 Mar 2021 23:47:44 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - D52NETWHM0RR02N1
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
