---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/zero_byte_folder/zero-byte-file.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-11-04T00:25:00Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2934628087","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4eb7145f-5aa6-4e72-bbd8-00403ce819a2?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221104%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221104T001000Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=N3WkMRvWnKuTpmI396wefu0PXNA0uxFnyo20UEm4tIagUfDmRyqLYoTS3SsKdU8UMkG4ODJFLm9aKaCyOea2VWfhXL4zTWHMIx2Hp3ObrwHVrgfjYiIXzlN_iZ75_CYO\u0026X-Amz-Signature=f084722ed926cb66ec0433d3673905bd2358e92408625aaaa4c6159696d5d6be"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4eb7145f-5aa6-4e72-bbd8-00403ce819a2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221104%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221104T001000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=N3WkMRvWnKuTpmI396wefu0PXNA0uxFnyo20UEm4tIagUfDmRyqLYoTS3SsKdU8UMkG4ODJFLm9aKaCyOea2VWfhXL4zTWHMIx2Hp3ObrwHVrgfjYiIXzlN_iZ75_CYO&X-Amz-Signature=f084722ed926cb66ec0433d3673905bd2358e92408625aaaa4c6159696d5d6be
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - PS9KH1F1Q07EFS37
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-11-04T00:09:59.558962415Z","ref":"put-2934628087"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/zero_byte_folder/zero-byte-file.text
    method: POST
  response:
    body: '{"path":"zero_byte_folder/zero-byte-file.text","display_name":"zero-byte-file.text","type":"file","size":0,"created_at":"2022-11-04T00:10:02Z","mtime":"2022-11-04T00:10:02Z","provided_mtime":"2022-11-04T00:09:59Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/zero_byte_folder
    method: GET
  response:
    body: '{"path":"zero_byte_folder","display_name":"zero_byte_folder","type":"directory","size":null,"created_at":"2022-11-03T21:53:05Z","mtime":"2022-11-04T00:10:02Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/zero_byte_folder?page=1
    method: GET
  response:
    body: '[{"path":"zero_byte_folder/zero_byte_folder","display_name":"zero_byte_folder","type":"directory","size":null,"created_at":"2022-11-03T21:57:27Z","mtime":"2022-11-03T21:57:27Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"zero_byte_folder/zero-byte-file.text","display_name":"zero-byte-file.text","type":"file","size":0,"created_at":"2022-11-04T00:10:02Z","mtime":"2022-11-04T00:10:02Z","provided_mtime":"2022-11-04T00:09:59Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/zero_byte_folder/zero-byte-file.text
    method: GET
  response:
    body: '{"path":"zero_byte_folder/zero-byte-file.text","display_name":"zero-byte-file.text","type":"file","size":0,"created_at":"2022-11-04T00:10:02Z","mtime":"2022-11-04T00:10:02Z","provided_mtime":"2022-11-04T00:09:59Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4eb7145f-5aa6-4e72-bbd8-00403ce819a2?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221104%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221104T001003Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22zero-byte-file.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=53ca8565fbc488372207b0e96402294524417e1bd674f2c0dbbcb8ee6f46a5bf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/zero_byte_folder/zero_byte_folder?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cached-Response:
      - "1667512758"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4eb7145f-5aa6-4e72-bbd8-00403ce819a2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221104%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221104T001003Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22zero-byte-file.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=53ca8565fbc488372207b0e96402294524417e1bd674f2c0dbbcb8ee6f46a5bf
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="zero-byte-file.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Fri, 04 Nov 2022 00:10:01 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 5S3M3DPEKZCVPSFW
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
