---
version: 1
interactions:
- request:
    body: '{"-":"relative/2.text","mkdir_parents":true,"size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/relative/2.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T19:11:39Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2592135677","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d64194d5-1984-43a2-ae17-d09e0907c8be?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T185639Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=cUBs0rB8xN2yB2IZxwqT3hS1jtPoKa3y.y5cJMwBa1IqwMyNtUhwx82ocMa9WNU4KKo7iChfKzLG4s3pKQo0pOpCQcjdmVPgkLtv.mjtGKdQAZJaNcNUT4bRJzDbfSWS\u0026X-Amz-Signature=f2f983643465bdd601661b854143499d877c450d871931ec5184f928855b8da4"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d64194d5-1984-43a2-ae17-d09e0907c8be?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T185639Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=cUBs0rB8xN2yB2IZxwqT3hS1jtPoKa3y.y5cJMwBa1IqwMyNtUhwx82ocMa9WNU4KKo7iChfKzLG4s3pKQo0pOpCQcjdmVPgkLtv.mjtGKdQAZJaNcNUT4bRJzDbfSWS&X-Amz-Signature=f2f983643465bdd601661b854143499d877c450d871931ec5184f928855b8da4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"bb21ec8394b75795622f61613a777a8b"'
      X-Amz-Request-Id:
      - SPZ0J3V83EYFT03X
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"relative/2.text","action":"end","etags":[{"etag":"bb21ec8394b75795622f61613a777a8b","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-04T11:56:38.103067433-07:00","ref":"put-2592135677","size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/relative/2.text
    method: POST
  response:
    body: '{"path":"relative/2.text","display_name":"2.text","type":"file","size":7,"created_at":"2022-10-04T18:56:40Z","mtime":"2022-10-04T18:56:40Z","provided_mtime":"2022-10-04T18:56:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: hello 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4aaa1f0c-cdfe-493d-ae55-4fcec7744ec5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T185640Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=R7jqxq84ByKgq2vV7cc0FNUreVvPbx3yPlINkk5Cli1GIPrPcqjHIpYdrkCrNN8iJ14nQlWvnMACLgHtnezJnQWr0jkyEt_J28IWEB9JDYXjQIdvnTnyGF_MtmYtjtiL&X-Amz-Signature=09d74bb1bd6436aa0de04c24bcdfa3b396bd30c0747714937f5fc85a36d60a33
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"dab729aefdf2bfa7ed05b5531dc26118"'
      X-Amz-Request-Id:
      - CWMZJ7XAK2ZF7SJJ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/855427d1-7aa1-4e10-8da4-c02afd28a800?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T185641Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=e7JQu0xXPmbo2dbmCFFpWpxiT2G.Bl76mM.XuC69ViNjadxuhV0bd61o7p18JKOu_.BcF_ViISxEHqGR.PkemkM36q_4LMVbgn8xSYFV0pYDXzzfmAe6WKvPoR5Pd3fr&X-Amz-Signature=2616cfa928c5ad885d7f1f6ab26a0e0becf0b5be48bf113a7b51e4338f20e12b
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"df0649bc4f1be901c85b6183091c1d83"'
      X-Amz-Request-Id:
      - FKSHYXPF1JRBBXP7
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/relative
    method: DELETE
  response:
    body: '{"error":"Folder relative not empty","http-code":422,"instance":"9d1b32e6-543e-496d-8e50-bb9e6d9a3eb2","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/relative?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
