---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/docs
    method: POST
  response:
    body: '{"display_name":"docs","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/docs
    method: GET
  response:
    body: '{"path":"docs","display_name":"docs","type":"directory","size":null,"mtime":"2021-10-13T22:34:07Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/docs/LICENSE
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-13T22:49:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-206753522","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8f26aac6-5cd1-473d-a8ac-4cc5ccf8246c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211013%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211013T223411Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=MzimauuYpiY7sZOlh5rniX5QRgPa9skjlwaf_o4vGBDcm4UlzkyZUszAzgexqlXMLDE6G5.Jgx6IDcHs6rx2rw9lY9ljL_X9tQIXCMd51dyDrCwaoyIomXHtXo0OYA0Y\u0026X-Amz-Signature=22ad3706eeb481e45513e90ac812d43e323e4d6e9cfc13186ca71b4f8f0f59ed"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      The MIT License

      Copyright (c) 2019- Action Verb, LLC (https://www.files.com)

      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to w[...]
- request:
    body: '{"action":"end","etags[0][etag]":"5b1e5439f3483c0b3e5af1d44889d0f7","etags[0][part]":"1","provided_mtime":"2021-10-13T15:34:11-07:00","ref":"put-206753522","size":"1102"}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/files/docs/LICENSE
    method: POST
  response:
    body: '{"path":"docs/LICENSE","display_name":"LICENSE","type":"file","size":1102,"mtime":"2021-10-13T22:34:12Z","provided_mtime":"2021-10-13T22:34:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/docs/LICENSE
    method: GET
  response:
    body: '{"path":"docs/LICENSE","display_name":"LICENSE","type":"file","size":1102,"mtime":"2021-10-13T22:34:12Z","provided_mtime":"2021-10-13T22:34:11Z","crc32":"32107119","md5":"5b1e5439f3483c0b3e5af1d44889d0f7","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8f26aac6-5cd1-473d-a8ac-4cc5ccf8246c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211013%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211013T223412Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22LICENSE%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=9205b7d2491f74a5feacd03c2016fb5f8b08128d446be3083dd56201cc784a49"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8f26aac6-5cd1-473d-a8ac-4cc5ccf8246c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211013%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211013T223412Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22LICENSE%22&response-content-type=application%2Focte[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/docs
    method: DELETE
  response:
    body: '{"error":"Folder docs not empty","http-code":422,"instance":"03f1aabe-7e03-40d5-ab6e-ef829cad4352","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/docs?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
