---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/remotefs_test/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-21T17:17:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-58111233","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ff135daa-e4ef-4ada-a355-284159c58479?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210921T170237Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=E8C4U6tLcokQvCSvfVVYnoewr74BEjcHwQ7NAje7KEWHmIAUTYmnFxSiAPs2LzcmaybGT9lQF.2jUo24Re06LdRPHOGDhOtT7ftRSp23qoI1bW.BmsWXmxMBFPsjt987\u0026X-Amz-Signature=682a214e4ec5c7f89010ee39422b9f3fa3a9374bd62bff2484aa7bdeba7e3235"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ff135daa-e4ef-4ada-a355-284159c58479?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210921T170237Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=E8C4U6tLcokQvCSvfVVYnoewr74BEjcHwQ7NAje7KEWHmIAUTYmnFxSiAPs2LzcmaybGT9lQF.2jUo24Re06LdRPHOGDhOtT7ftRSp23qoI1bW.BmsWXmxMBFPsjt987&X-Amz-Signature=682a214e4ec5c7f89010ee39422b9f3fa3a9374bd62bff2484aa7bdeba7e3235
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 08R92PVNMJWFMQPM
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-09-21T10:02:37-07:00","ref":"put-58111233","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/remotefs_test/1.text
    method: POST
  response:
    body: '{"path":"remotefs_test/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-09-21T17:02:38Z","provided_mtime":"2021-09-21T17:02:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/remotefs_test
    method: GET
  response:
    body: '{"path":"remotefs_test","display_name":"remotefs_test","type":"directory","size":null,"mtime":"2021-09-21T17:02:38Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/remotefs_test?page=1
    method: GET
  response:
    body: '[{"path":"remotefs_test/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-09-21T17:02:38Z","provided_mtime":"2021-09-21T17:02:37Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/remotefs_test/1.text
    method: GET
  response:
    body: '{"path":"remotefs_test/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-09-21T17:02:38Z","provided_mtime":"2021-09-21T17:02:37Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ff135daa-e4ef-4ada-a355-284159c58479?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210921T170238Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%221.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=3b0f34276ce98a8af659a02ac67c2fb06294f96f6b828fa16cab7a1aaf6bc60f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ff135daa-e4ef-4ada-a355-284159c58479?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210921T170238Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%221.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=3b0f34276ce98a8af659a02ac67c2fb06294f96f6b828fa16cab7a1aaf6bc60f
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="1.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Tue, 21 Sep 2021 17:02:38 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - WHNSBZG7G4HW5NYM
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
