---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"9548a620-72cb-4099-977c-40c2aee9d24c","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"faa54b63-03cf-45d2-a264-a2ea8d9ca435","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"64e7443c-a53f-4f58-858f-c13d97b40ab8","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:35Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900888","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/30eae67e-922a-4d60-aade-0a3bff829c57?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183035Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=C_VZ0mwYIxLLpEyI8wrCSqHJPxZn5i3SvoYjSlVaa_Wdu3DvTk1_zmVQzGekTMB_MU0cnxAdb.dhQ9LzlELiW26.237hV_8yifWnN_sdDzRfp15tCgFTlXsIiJyRhjqz\u0026X-Amz-Signature=46b5a0e0ede8da9969ea9bcf8f2acc512d72320e3a6dbecd2373a8977e3472ce"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/30eae67e-922a-4d60-aade-0a3bff829c57?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183035Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=C_VZ0mwYIxLLpEyI8wrCSqHJPxZn5i3SvoYjSlVaa_Wdu3DvTk1_zmVQzGekTMB_MU0cnxAdb.dhQ9LzlELiW26.237hV_8yifWnN_sdDzRfp15tCgFTlXsIiJyRhjqz&X-Amz-Signature=46b5a0e0ede8da9969ea9bcf8f2acc512d72320e3a6dbecd2373a8977e3472ce
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - 58XPPAFTTVJK3WXR
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"ab6e3983b98e417df77242b035504638\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:35-07:00","ref":"put-4047900888","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder/1.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-03-26T18:30:36Z","provided_mtime":"2021-03-26T18:30:35Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: testing 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5512e94f-e70c-4c25-bf69-2e08569662ce?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183036Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=4MSFE8QeLx49ZxA4kQvDBIcTlXVZ4rJdjafc_FtPu83p.XoOO4URgP1Vc5om9y2z8Ah3jFtHjoqIWbJkinkPO4XyC4G.mF.3JSw_EeYB0iBulALX55OvgZlJNnck9AFo&X-Amz-Signature=9867f0fd694e1787808b2feee37be8b6c0c74c2815e28a4453475f7a6ffe6797
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f29e2ea37b89dc6c1a7522523109e5c0"'
      X-Amz-Request-Id:
      - KXA8PSRR6X8R1FPG
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047901121","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ea93c114-19aa-400c-83bb-9918bca731df?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183037Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Z1iHbAwAbXo08w1FAVSPNbis3ewmMl.AC9cwwlH9.FgpSorKyial9xZuvmkiTgVp51TUVAiFZ3VgZCLGvIJecIfA68645iKw.OvwNJzgBEKrlQYYJ.3MY6L0SH5QKaPW\u0026X-Amz-Signature=587f16d211f96de924db605453239c8bb7cb29f274f05b50a3867e60e9c95c67"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ea93c114-19aa-400c-83bb-9918bca731df?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183037Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Z1iHbAwAbXo08w1FAVSPNbis3ewmMl.AC9cwwlH9.FgpSorKyial9xZuvmkiTgVp51TUVAiFZ3VgZCLGvIJecIfA68645iKw.OvwNJzgBEKrlQYYJ.3MY6L0SH5QKaPW&X-Amz-Signature=587f16d211f96de924db605453239c8bb7cb29f274f05b50a3867e60e9c95c67
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 4DDP0VY174ZPZHQ3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:37-07:00","ref":"put-4047901121","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-03-26T18:30:38Z","provided_mtime":"2021-03-26T18:30:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder?page=1&per_page=1
    method: GET
  response:
    body: '[{"path":"TestClient_DownloadFolder/nested_1","display_name":"nested_1","type":"directory","size":null,"mtime":"2021-03-26T18:30:38Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cursor:
      - c2next:VGVzdENsaWVudF9Eb3dubG9hZEZvbGRlci9uZXN0ZWRfMS8vMS8vMzM2MzUyNTcyMQ
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder?cursor=c2next%3AVGVzdENsaWVudF9Eb3dubG9hZEZvbGRlci9uZXN0ZWRfMS8vMS8vMzM2MzUyNTcyMQ&per_page=1
    method: GET
  response:
    body: '[{"path":"TestClient_DownloadFolder/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-03-26T18:30:36Z","provided_mtime":"2021-03-26T18:30:35Z","crc32":"5867c1f8","md5":"ab6e3983b98e417df77242b035504638","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cursor:
      - c2next:VGVzdENsaWVudF9Eb3dubG9hZEZvbGRlci8xLnRleHQvLzIvLzM3NTM4ODA2MDM
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder?cursor=c2next%3AVGVzdENsaWVudF9Eb3dubG9hZEZvbGRlci8xLnRleHQvLzIvLzM3NTM4ODA2MDM&per_page=1
    method: GET
  response:
    body: '[{"path":"TestClient_DownloadFolder/2.text","display_name":"2.text","type":"file","size":9,"mtime":"2021-03-26T18:30:37Z","provided_mtime":"2021-03-26T18:30:36Z","crc32":"c16e9042","md5":"f29e2ea37b89dc6c1a7522523109e5c0","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_DownloadFolder/nested_1","display_name":"nested_1","type":"directory","size":null,"mtime":"2021-03-26T18:30:38Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false},{"path":"TestClient_DownloadFolder/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-03-26T18:30:36Z","provided_mtime":"2021-03-26T18:30:35Z","crc32":"5867c1f8","md5":"ab6e3983b98e417df77242b035504638","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"},{"path":"TestClient_DownloadFolder/2.text","display_name":"2.text","type":"file","size":9,"mtime":"2021-03-26T18:30:37Z","provided_mtime":"2021-03-26T18:30:36Z","crc32":"c16e9042","md5":"f29e2ea37b89dc6c1a7522523109e5c0","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder/nested_1?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_DownloadFolder/nested_1/nested_2","display_name":"nested_2","type":"directory","size":null,"mtime":"2021-03-26T18:30:38Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder/nested_1/nested_2?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_DownloadFolder/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-03-26T18:30:38Z","provided_mtime":"2021-03-26T18:30:37Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder/2.text
    method: GET
  response:
    body: '{"path":"TestClient_DownloadFolder/2.text","display_name":"2.text","type":"file","size":9,"mtime":"2021-03-26T18:30:37Z","provided_mtime":"2021-03-26T18:30:36Z","crc32":"c16e9042","md5":"f29e2ea37b89dc6c1a7522523109e5c0","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5512e94f-e70c-4c25-bf69-2e08569662ce?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183039Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%222.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=130aa5808cf9c71bf972d073757bb341c60c58b726d5ebf48e7b03a7350811d3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5512e94f-e70c-4c25-bf69-2e08569662ce?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183039Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%222.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=130aa5808cf9c71bf972d073757bb341c60c58b726d5ebf48e7b03a7350811d3
    method: GET
  response:
    body: testing 2
    headers:
      Content-Disposition:
      - attachment; filename="2.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"7b9b5baa7333f89712622f4f196023c6-1"'
      Last-Modified:
      - Fri, 26 Mar 2021 18:30:37 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - W3J5VPNVB6MMQ1CN
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
