---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":8}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test/anything
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-01T21:38:41Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4067895067","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/af4eb511-d64e-4565-a841-0d004e103761?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230201%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230201T212341Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=.snY3qBwcu.IR3gmTP_H6ey4PtrfvfPTYWdROtKUylY3hmhkoscEHumpmGg7F3fjdvseQruWSpxUl5v85XzdBNOWtTRvLBAU3BW6DkKHNA6WF7QEHGeLVuD81WMBBnu9\u0026X-Amz-Signature=2c82498d9a353ecde06b48a1ca1c8ee0c60a52d5765e9d4bd3275a4b2d5043b2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: anything
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/af4eb511-d64e-4565-a841-0d004e103761?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230201T212341Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=.snY3qBwcu.IR3gmTP_H6ey4PtrfvfPTYWdROtKUylY3hmhkoscEHumpmGg7F3fjdvseQruWSpxUl5v85XzdBNOWtTRvLBAU3BW6DkKHNA6WF7QEHGeLVuD81WMBBnu9&X-Amz-Signature=2c82498d9a353ecde06b48a1ca1c8ee0c60a52d5765e9d4bd3275a4b2d5043b2
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f0e166dc34d14d6c228ffac576c9a43c"'
      X-Amz-Request-Id:
      - B4MY9J83ZPC24843
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f0e166dc34d14d6c228ffac576c9a43c","part":"1"}],"mkdir_parents":true,"ref":"put-4067895067","size":8}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test/anything
    method: POST
  response:
    body: '{"path":"test/anything","display_name":"anything","type":"file","size":8,"created_at":"2023-02-01T21:23:42Z","mtime":"2023-02-01T21:23:42Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test/anything
    method: GET
  response:
    body: '{"path":"test/anything","display_name":"anything","type":"file","size":8,"created_at":"2023-02-01T21:23:42Z","mtime":"2023-02-01T21:23:42Z","provided_mtime":null,"crc32":"13a9cf63","md5":"f0e166dc34d14d6c228ffac576c9a43c","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test/anything
    method: GET
  response:
    body: '{"path":"test/anything","display_name":"anything","type":"file","size":8,"created_at":"2023-02-01T21:23:42Z","mtime":"2023-02-01T21:23:42Z","provided_mtime":null,"crc32":"13a9cf63","md5":"f0e166dc34d14d6c228ffac576c9a43c","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/af4eb511-d64e-4565-a841-0d004e103761?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230201%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230201T212343Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22anything%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=b27603007041dd13f0cb67087aea8504f639fad872a55fde600f45398e4d1b32"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/af4eb511-d64e-4565-a841-0d004e103761?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230201T212343Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22anything%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=b27603007041dd13f0cb67087aea8504f639fad872a55fde600f45398e4d1b32
    method: GET
  response:
    body: anything
    headers:
      Content-Disposition:
      - attachment; filename="anything"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"4b12c66b2754806cd4b1ce30b47c37ce-1"'
      Last-Modified:
      - Wed, 01 Feb 2023 21:23:42 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - DWCQF22KAMVCEB77
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
