---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/golib
    method: POST
  response:
    body: '{"display_name":"golib","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108686","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/701b37eb-235b-48a5-ab6e-5fc69e4aca9b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=1Y3wAUcvR5MnmDy9tGwzMHL7Rz.rrath8KoU8S.YWigtPVd4tBfxE5EWH_eKHBxwmoxlx7zoXNybgD4Kd6_5TvhY1__xEzzezCJKz_gC.auLwZDjSBy3IyQcjvVq7PKd\u0026X-Amz-Signature=84f6455721f4dbb831a6bc0901ebb3ca4dd2ac72325f660f913527fb9add1d4f"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108685","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/7ba95688-a502-4ccd-b54c-9a0025e07d92?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=bZeGDUH98PAQ9vfLfAriK7fQ2Hoz.1WmU6m_ZahBgNNlGoHBCtvy4PI3s.5T2A0cN4e_tjAw43uShQDe8Uc.jdaBOzMnpHY1mrLcZrlqU1ajkA4_l19vZhKSmY7apvok\u0026X-Amz-Signature=6c873797d5efe84d5b1db46f6be596e7ce6f1e6288fdb963d599f6878451b45f"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/progresswriter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108688","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/a8e5f59f-cbbb-4e71-91b2-1d4694e70558?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=pY37aKFplDtMaHQxQbcZrMXAcfQ_oqmhL867ibGYdsOSCzkbSmAb9g9G.v2SPYVu5T71jxILGv7PaiMZcA4bHqzBpenJlqlf63npqcpoZAlWt057WUFrddfsyHCYPZjr\u0026X-Amz-Signature=e16c7867e4c86315123bf61b5f23e86b280938dbfdd32b9b286e64eafc342f67"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/query.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108687","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8638d06b-537e-4fbf-bdce-e11f6fd441d1?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=cg1.uI_DJlTED2bLF2nZlMUoRwIY1imWsIQTccnfI09yngLD3OMQHxdFLHzDbA6MwglTBIoGERi3Sa_7jrs2CnQ1tlMjFb0Bcx4JvFyq0tgklotoYqmnAJ0MLY_NDZwR\u0026X-Amz-Signature=97874f2618a9ca526822814ec685142318c05b12f8c71cea8aef82b5ee54178a"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108689","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8a0301da-a1e1-45e1-aeaf-6712a9f16a5e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=pKNP6TrJj9U9DTLYZO6a1m9YWw9MMPsnnFI0ex_9ciWa9dlMQfyX6jtKkNL_45bXlYTT0RZY27EshdYDp01cDYgMNwMyX0UJVRtDyEZnyvU4Ki_GgKToK.4gzZQy3RoG\u0026X-Amz-Signature=43480a30e0043d8523ab1b023544cd1c822daae882a66cc935f1db61ade93005"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/interface.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108690","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/95dad04d-676a-488f-8646-47e664e3bb5d?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=mvUqqu7XtLCMgZlmSlqLy6BxMJalK_dYe2XOQBqZbnMIKXIz1zWLHnJoo2E5eh_TdSnlLQ8JIIHQENvXWqG.ojjvVUK_3RXkd.0k89VF_wL96MeE9dLB6MFMVfnYw16z\u0026X-Amz-Signature=15d6b94d9e7f2cd08087375f8c8911de2d945626e94614eb0db1b9db472243a9"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108691","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/513221fe-07af-4110-b3c1-0ce6d15b2b5e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Hw9OmpYcmfsGL5XKEDzdtijqWOmobwZLi41JVH0APaAGKkUJG4MRAK5UpnD8fSepHMVIeUkYrx1oF56pFnBjpKjkHaQon8CSs9K7kx9951cz6Gbwg1un3jg4sR9dgrQA\u0026X-Amz-Signature=5aeb8b585a91354efc81907528abb6b3b7a5c3fa92bdb2210049f5e4328d1525"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/bool.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108693","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/16eee7e8-b683-444d-9d74-753341874d44?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=jgsSGROKQBEDlW_sj7RpyBitfsG5lG48S7RU23tTEaJ2m9LO0P9iJyvQ2DHlZlfnxpXTmCxTO8pxGtQM0wMPylxPhOfpK7jVEqUKfFuMUcaGmjQTSk9xOsmIsp5fFUTO\u0026X-Amz-Signature=6bbbd83ee085158246623773168d0e0e304dc2a519756bf74ef436f3e351ba61"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/export_params.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108695","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/86758a10-1890-48f3-aceb-32fbb32e5d48?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=AuzV8bDEDaMBhVcHvm3VQKuuy2ZBI9sa1QEWO31A47SN9WLFyIkkmxLUmjUkemBYlDvLrWogDGCb52MW1A_B.Su6nIJh4CnbEQuEjUhc.BZCo5RLJgR9B_cawCKedAeB\u0026X-Amz-Signature=4ab3f339f33f7b7db2d6852c9d2642bd8cfca56e04eec5f19fedd3825d2e55ed"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/string.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108694","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/436dd2cd-31a6-433e-8166-214188b87842?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155651Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=l_LuQspcPg5Nw9o2ybH0OVo4ZEy.hno7IrqI69uVfgBtqPqnGeVNTWAtiZzzBITui.bALeALUDfMalWkKmjSK3Rqa_X8oqUDO9BGoTLopKM12igPLgLnCd65QQcF86JM\u0026X-Amz-Signature=ff152b84d7c1332858ccee925424180c26a0fe6acb38b725883bca85caa2440e"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"fmt\"\n\t\"net/url\"\n\t\"reflect\"\n\t\"strings\"\n)\n\nfunc
      CheckRequired(iStruct interface{}, values *url.Values) error {\n\tvar errors
      = make([]string, 0)\n\tval := reflect.ValueOf(iStruct)\n\tfor val.Kind() ==
      reflect.Ptr {\n\t\tif val.IsNil() {\n\t\t\treturn nil\n\t\t}\n\t\tval = val.Elem()\n\t}\n\n\tif
      iStruct == nil {\n\t\treturn nil\n\t}\n\n\tif val.Kind() != reflect.Struct {\n\t\treturn
      fmt.Errorf(\"CheckR[...]
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      TestIter_Next_MaxPages(t *testing.T) {\n\tassert := assert.New(t)\n\tparams
      := ListParams{}\n\tparams.Set(0, 5, \"\", 2)\n\tit := Iter{}\n\tit.ListParams
      = &params\n\n\tit.Query = func() (*[]interface{}, string, error) {\n\t\tret
      := make([]interface{}, params.PerPage)\n\n\t\treturn &ret, \"cursor\", nil\n\t}\n\trecordCount
      := 0\n\tfor it.Next() {\n\t\t[...]
- request:
    body: "package lib\n\nfunc String(string string) *string {\n\treturn &string\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/436dd2cd-31a6-433e-8166-214188b87842?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155651Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=l_LuQspcPg5Nw9o2ybH0OVo4ZEy.hno7IrqI69uVfgBtqPqnGeVNTWAtiZzzBITui.bALeALUDfMalWkKmjSK3Rqa_X8oqUDO9BGoTLopKM12igPLgLnCd65QQcF86JM&X-Amz-Signature=ff152b84d7c1332858ccee925424180c26a0fe6acb38b725883bca85caa2440e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"cecd1ea94155ea41d1f8f9e0c2f2e0d9"'
      X-Amz-Request-Id:
      - 6Y8W79CN5Z389GXT
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport \"io\"\n\ntype ProgressWriter struct {\n\tWriter
      \         io.Writer\n\tProgressWatcher func(int64)\n}\n\nfunc (w ProgressWriter)
      Write(p []byte) (n int, err error) {\n\tn, err = w.Writer.Write(p)\n\n\tw.ProgressWatcher(int64(n))\n\treturn
      n, err\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/a8e5f59f-cbbb-4e71-91b2-1d4694e70558?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155651Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=pY37aKFplDtMaHQxQbcZrMXAcfQ_oqmhL867ibGYdsOSCzkbSmAb9g9G.v2SPYVu5T71jxILGv7PaiMZcA4bHqzBpenJlqlf63npqcpoZAlWt057WUFrddfsyHCYPZjr&X-Amz-Signature=e16c7867e4c86315123bf61b5f23e86b280938dbfdd32b9b286e64eafc342f67
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"a818d0badee418a848d9dc03b985b244"'
      X-Amz-Request-Id:
      - 6Y8TCFZ6GB807GQQ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n)\n\ntype ListParams struct {\n\tPage
      \    int64  `json:\"page,omitempty\" url:\"page,omitempty\" required:\"false\"`\n\tPerPage
      \ int64  `json:\"per_page,omitempty\" url:\"per_page,omitempty\" required:\"false\"`\n\tCursor
      \  string `json:\"cursor,omitempty\" url:\"cursor,omitempty\" required:\"false\"`\n\tMaxPages
      int64  `json:\"-\" url:\"-\"`\n}\n\n// ListParamsContainer is a general interface
      for whic[...]
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\n\t\"github.com/appscode/go-querystring/query\"\n)\n\nfunc
      ExportParams(i interface{}) (url.Values, error) {\n\tv, err := query.Values(i)\n\tif
      err != nil {\n\t\tpanic(err)\n\t}\n\n\treturn v, CheckRequired(i, &v)\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/86758a10-1890-48f3-aceb-32fbb32e5d48?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155651Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=AuzV8bDEDaMBhVcHvm3VQKuuy2ZBI9sa1QEWO31A47SN9WLFyIkkmxLUmjUkemBYlDvLrWogDGCb52MW1A_B.Su6nIJh4CnbEQuEjUhc.BZCo5RLJgR9B_cawCKedAeB&X-Amz-Signature=4ab3f339f33f7b7db2d6852c9d2642bd8cfca56e04eec5f19fedd3825d2e55ed
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"3cc6728f7554f3ea0f53dabed57b19d2"'
      X-Amz-Request-Id:
      - 6Y8NR05AFX4J7G0F
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Bool(bool bool) *bool {\n\treturn &bool\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/16eee7e8-b683-444d-9d74-753341874d44?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155651Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=jgsSGROKQBEDlW_sj7RpyBitfsG5lG48S7RU23tTEaJ2m9LO0P9iJyvQ2DHlZlfnxpXTmCxTO8pxGtQM0wMPylxPhOfpK7jVEqUKfFuMUcaGmjQTSk9xOsmIsp5fFUTO&X-Amz-Signature=6bbbd83ee085158246623773168d0e0e304dc2a519756bf74ef436f3e351ba61
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"83789abda0845357c13aa5fa9c8605a2"'
      X-Amz-Request-Id:
      - 6Y8GC601BY2C6E2B
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/appscode/go-querystring/query\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      A struct {\n\tName   string `url:\"name\" required:\"true\"`\n\tAge    int    `url:\"age\"
      required:\"false\"`\n\tIgnore int    `url:\"-\" required:\"false\"`\n}\n\nfunc
      TestCheckRequired_Valid(t *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Name:
      \"Dustin\", Age: 90, Ignore: 50}\n\tvalues, _ := query.Values(a)\n\n\terr :=
      CheckRequired(a, &values)\n\tassert.Equal(err, nil)\n}\n\nfunc TestCheckRequired_Invalid(t
      *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Age: 90}\n\tvalues, _ :=
      query.Values(a)\n\n\terr := CheckRequired(a, &values)\n\tassert.EqualError(err,
      \"missing required field: A{}.Name\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/513221fe-07af-4110-b3c1-0ce6d15b2b5e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155651Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Hw9OmpYcmfsGL5XKEDzdtijqWOmobwZLi41JVH0APaAGKkUJG4MRAK5UpnD8fSepHMVIeUkYrx1oF56pFnBjpKjkHaQon8CSs9K7kx9951cz6Gbwg1un3jg4sR9dgrQA&X-Amz-Signature=5aeb8b585a91354efc81907528abb6b3b7a5c3fa92bdb2210049f5e4328d1525
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"129a7a11d2f07ee5446398ff07588c99"'
      X-Amz-Request-Id:
      - 6Y8ZCKSM0ZQ0E5Q3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Interface() interface{} {\n\tvar i interface{}\n\treturn
      i\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/95dad04d-676a-488f-8646-47e664e3bb5d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155651Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=mvUqqu7XtLCMgZlmSlqLy6BxMJalK_dYe2XOQBqZbnMIKXIz1zWLHnJoo2E5eh_TdSnlLQ8JIIHQENvXWqG.ojjvVUK_3RXkd.0k89VF_wL96MeE9dLB6MFMVfnYw16z&X-Amz-Signature=15d6b94d9e7f2cd08087375f8c8911de2d945626e94614eb0db1b9db472243a9
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f7cb73244af2aafb2ced638dc9658dee"'
      X-Amz-Request-Id:
      - 6Y8TS3KH3RG3XPAA
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n)\n\nvar
      QueryEscape = url.QueryEscape\n\nfunc PathEscape(path string) string {\n\tpathParts
      := strings.Split(path, \"/\")\n\tnewParts := make([]string, len(pathParts))\n\n\tfor
      i, part := range pathParts {\n\t\tnewParts[i] = url.PathEscape(part)\n\t}\n\n\treturn
      strings.Join(newParts, \"/\")\n}\n\nfunc BuildPath(resourcePath string, unescapedPath
      string) stri[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"4a67a49b0a254d1698fb963d7011aebd\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108689","size":"1768"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter_test.go
    method: POST
  response:
    body: '{"path":"golib/iter_test.go","display_name":"iter_test.go","type":"file","size":1768,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"3cc6728f7554f3ea0f53dabed57b19d2\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108695","size":"231"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/export_params.go
    method: POST
  response:
    body: '{"path":"golib/export_params.go","display_name":"export_params.go","type":"file","size":231,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"a818d0badee418a848d9dc03b985b244\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108688","size":"250"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/progresswriter.go
    method: POST
  response:
    body: '{"path":"golib/progresswriter.go","display_name":"progresswriter.go","type":"file","size":250,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"83789abda0845357c13aa5fa9c8605a2\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108693","size":"58"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/bool.go
    method: POST
  response:
    body: '{"path":"golib/bool.go","display_name":"bool.go","type":"file","size":58,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"cecd1ea94155ea41d1f8f9e0c2f2e0d9\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108694","size":"68"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/string.go
    method: POST
  response:
    body: '{"path":"golib/string.go","display_name":"string.go","type":"file","size":68,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"72556a26959c471a4b0bff38d08e558b\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108685","size":"1087"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required.go
    method: POST
  response:
    body: '{"path":"golib/required.go","display_name":"required.go","type":"file","size":1087,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"129a7a11d2f07ee5446398ff07588c99\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108691","size":"691"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required_test.go
    method: POST
  response:
    body: '{"path":"golib/required_test.go","display_name":"required_test.go","type":"file","size":691,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"f7cb73244af2aafb2ced638dc9658dee\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108690","size":"75"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/interface.go
    method: POST
  response:
    body: '{"path":"golib/interface.go","display_name":"interface.go","type":"file","size":75,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"896d351744edbb4420bd736284a1a288\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108687","size":"549"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/query.go
    method: POST
  response:
    body: '{"path":"golib/query.go","display_name":"query.go","type":"file","size":549,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"e9ea3460b609e2e5cc8e297aee42f49d\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:51-07:00","ref":"put-4451108686","size":"3133"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter.go
    method: POST
  response:
    body: '{"path":"golib/iter.go","display_name":"iter.go","type":"file","size":3133,"mtime":"2021-05-27T15:56:52Z","provided_mtime":"2021-05-27T15:56:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
[...]
