---
version: 1
interactions:
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir
    method: POST
  response:
    body: '{"display_name":"TestClient_Downloader_Move_Source_Missing_Dir","type":"directory","size":null,"created_at":"2022-10-26T16:24:52Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1
    method: POST
  response:
    body: '{"display_name":"nested_1","type":"directory","size":null,"created_at":"2022-10-26T16:24:52Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2
    method: POST
  response:
    body: '{"display_name":"nested_2","type":"directory","size":null,"created_at":"2022-10-26T16:24:53Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"display_name":"nested_3","type":"directory","size":null,"created_at":"2022-10-26T16:24:53Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T16:39:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2831710259","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e7130aa7-daf0-4aa7-8a5c-a1abd1807550?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162453Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=K8GAbBavvpiqtYwG1Wjo8SwrGJVO5qVBWc8Cp7tOfOdT.hV4rUXL_Pn.4VjFamDZtYJrRw9BsCOpEbtcB0ReZJPQo9Rc8ZhiWePYKuKJ0_zbPMteTpiMAuffD32AUCv3\u0026X-Amz-Signature=502cbf7f7bfb03bc98be01e1314550346e7224f55df55f4da5292897be213132"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e7130aa7-daf0-4aa7-8a5c-a1abd1807550?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162453Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=K8GAbBavvpiqtYwG1Wjo8SwrGJVO5qVBWc8Cp7tOfOdT.hV4rUXL_Pn.4VjFamDZtYJrRw9BsCOpEbtcB0ReZJPQo9Rc8ZhiWePYKuKJ0_zbPMteTpiMAuffD32AUCv3&X-Amz-Signature=502cbf7f7bfb03bc98be01e1314550346e7224f55df55f4da5292897be213132
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 9FZXQNPEDR1V1PXR
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2831710259","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T16:24:54Z","mtime":"2022-10-26T16:24:54Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T16:39:55Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2831710421","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/58195a54-fb0c-439e-a126-5b7a46e3aa50?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162455Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=63YU8RcqciNkxx0NJXOu2zU55NfgvojD6hS1Af79hrBew6wErGLQqdt5PfYeJCvFsfCOvAdzskAlgCKTuzChNjTolR10KPKSRVGn.VYUke2kXMo_n0EeSzItUSIt1Ji9\u0026X-Amz-Signature=09df3f96ef1d90139ad03da8b71e2a2d7df4e517b0809d7be5b0f0d30e114649"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/58195a54-fb0c-439e-a126-5b7a46e3aa50?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162455Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=63YU8RcqciNkxx0NJXOu2zU55NfgvojD6hS1Af79hrBew6wErGLQqdt5PfYeJCvFsfCOvAdzskAlgCKTuzChNjTolR10KPKSRVGn.VYUke2kXMo_n0EeSzItUSIt1Ji9&X-Amz-Signature=09df3f96ef1d90139ad03da8b71e2a2d7df4e517b0809d7be5b0f0d30e114649
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - QTSHZCFTDTDWTYJV
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2831710421","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-26T16:24:56Z","mtime":"2022-10-26T16:24:56Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_Downloader_Move_Source_Missing_Dir
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir","display_name":"TestClient_Downloader_Move_Source_Missing_Dir","type":"directory","size":null,"created_at":"2022-10-26T16:24:52Z","mtime":"2022-10-26T16:24:56Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1","display_name":"nested_1","type":"directory","size":null,"created_at":"2022-10-26T16:24:52Z","mtime":"2022-10-26T16:24:56Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2","display_name":"nested_2","type":"directory","size":null,"created_at":"2022-10-26T16:24:53Z","mtime":"2022-10-26T16:24:56Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3","display_name":"nested_3","type":"directory","size":null,"created_at":"2022-10-26T16:24:53Z","mtime":"2022-10-26T16:24:56Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T16:24:54Z","mtime":"2022-10-26T16:24:54Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T16:24:54Z","mtime":"2022-10-26T16:24:54Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e7130aa7-daf0-4aa7-8a5c-a1abd1807550?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162458Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=d8213adceee9c28ba5c80a196a3e5f87fb9264d07ddad4a21e28a20487043806"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e7130aa7-daf0-4aa7-8a5c-a1abd1807550?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162458Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=d8213adceee9c28ba5c80a196a3e5f87fb9264d07ddad4a21e28a20487043806
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Wed, 26 Oct 2022 16:24:54 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 035E9B9KQDHGP80Q
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-26T16:24:56Z","mtime":"2022-10-26T16:24:56Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","destination":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/3.text"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/move/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"error":"The destination parent does not exist.","http-code":409,"instance":"5909d3a1-aa9b-4239-81f6-0f6201d9d0a5","title":"Destination
      Parent Does Not Exist","type":"processing-failure/destination-parent-does-not-exist"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir-moved"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved
    method: POST
  response:
    body: '{"display_name":"TestClient_Downloader_Move_Source_Missing_Dir-moved","type":"directory","size":null,"created_at":"2022-10-26T16:24:59Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1
    method: POST
  response:
    body: '{"display_name":"nested_1","type":"directory","size":null,"created_at":"2022-10-26T16:25:00Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","destination":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/nested_3/4.text"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/move/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"error":"The destination parent does not exist.","http-code":409,"instance":"fed0b9ad-9289-49a2-96cd-d3a32ee090d4","title":"Destination
      Parent Does Not Exist","type":"processing-failure/destination-parent-does-not-exist"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2
    method: POST
  response:
    body: '{"display_name":"nested_2","type":"directory","size":null,"created_at":"2022-10-26T16:25:00Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/nested_3"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"display_name":"nested_3","type":"directory","size":null,"created_at":"2022-10-26T16:25:00Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_Downloader_Move_Source_Missing_Dir-moved
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir-moved","display_name":"TestClient_Downloader_Move_Source_Missing_Dir-moved","type":"directory","size":null,"created_at":"2022-10-26T16:24:59Z","mtime":"2022-10-26T16:25:01Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
