---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/remote-folder
    method: GET
  response:
    body: '{"error":"The API key or Session token provided could not be used to validate
      this request.","http-code":401,"instance":"5b12251d03a1f2f650f1423cd5cbab22","title":"Invalid
      Credentials","type":"not-authenticated/invalid-credentials"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-authenticated/invalid-credentials
    status: 401 Unauthorized
    code: 401
    duration: ""
[...]
