---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/golib
    method: POST
  response:
    body: '{"detail":"The destination exists.","error":"The destination exists.","http-code":412,"instance":"fd686191-cfcb-4fc9-930a-c70bef2a6e12","title":"Destination
      exists","type":"destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/progresswriter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636945","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/2067859d-e1af-4fc7-9f1d-49b1d8ec9379?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=ROXj9cce2NRElWJ_ymf4JtTAfvClbg9U6k.aaPjbO.PydfgNcaipce8.cRdvih938b2bULDZoT6AMCFJyvtvkGdVD8YPAad.vOtiEwaQEO_oHMaBLGdAj5UsWECWwPpn\u0026X-Amz-Signature=85e5d748a3ba3200dfd5696bd5503823c7669f9c7adc7ea747dbc1342dd84dee"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636946","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/bc1aad57-a93e-46c6-8158-812d723d0756?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=.U1SDjdY6Ap7n2QTBMddA1iz1ESWqY76IUKMG3zH7D8WbElRjwdn5tl9kbfMEx6M69XjiVrCXEwpCj86MyQWGdtu5.xz0EJQKfQ1LWkKq74NYOMYibW_0U1VHwp6HfpE\u0026X-Amz-Signature=fda99a487f92913c8141f2a7b0158957648bb94d7655815e4cf357a9ab966324"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/query.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636950","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5cecdc4d-a633-4ddd-a4cb-c55d27527da3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=DYybW9UU0j1pxFDLOmtEICWRtBYCou4t6eDkR30CgULJXdqoLHaUJUghqPNxEqES08d4CF7bkKdMNzsk0LowTECoYsFfpFgeaCJkv.unKpGg9A9toqZKkgItD9gTlAww\u0026X-Amz-Signature=637d25fdbe137f0fc00a97652c3b28902349d1a0ada3a8ce76f3bf07cf4e3b4e"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636949","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5ecfcaa5-f9ea-4327-9e25-32f963e5f755?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=vVAGVfP3n80HONwbiNrQAcGVN1g8hbOZHL3KVkFfxb6soJy3p8a.3rUxaEY7rTXjJKC4ntp4JYyJ8XgltLNINbWPU.31_MQb4nuIpofATnp0vN7PQCPXgZ2.GKGuiseQ\u0026X-Amz-Signature=70c5cdc9bcfed0cfeabeb34bc5ff5aea8f36a79c4dfc22c941fb5636132beaca"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/interface.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636951","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/c3ef15ef-8585-43e8-953d-379023ea335a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=X7UV.Fkouu0mTATAEk.gpPDQsfhYtyGNiHPUzI2WgZiZWP58n3iQa0sbdq80M4Fl.yUV6cjBOMCDAkb4PF..v9_Dy.ueYDpQVuOJG2DhQoT24ACP972E_xPREq6FH_46\u0026X-Amz-Signature=3dd645bd0aeb3ae0b19ff6326cd27b7842eb61dcd85e7141c2207b573993bf65"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/bool.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636955","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/f94e2cc9-1181-4195-a761-1812b0a514d8?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=VGFq.nI2_fUOBk1pd4av2tVK1LtY8j3VcJlqGJTUktA6fXKmTuunm6CCaKUOTrl_q0pFct3modKwTAZkMxsqquJK4Hre267BdBN8m6QwVa0QvLASHLXOx6KfE_uvbr.S\u0026X-Amz-Signature=79c3f895a1ab60a1bb56e9cd04bea5d956566efff85786884ff4ebf28ae17d40"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636954","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/550a33f0-b164-47f7-8380-a2bb6cbf9621?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=SqjX_t.F_p1AaACBCbz6yx2.TIlH984LtURqwmeW_5AxlaVIb4wXYFHkBpxDpVUOD0E0ocqQ624fDL.6acWgI9nOV6Wm96KzPafm0YqnMvZlaQ9jHxPCth92xIxMszVW\u0026X-Amz-Signature=05f69a5c3d59b78cedddbb30adff6616900e8000538ac9e82e22d363f4cb0190"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/export_params.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636956","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/710a6da5-8ad6-4e48-a55e-c023ed8af299?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=uJZkevzDfbMKSnNYyDElnR.wxAvUhdE1cZYqtrTz1AHHfhrCCswmDGHCdFCC9LehHjQYxCNqjo5YvKwaH9YyT0i_4Iu2wvXW6cWzhyLOao6wYioXB8v8NVBmlEw4MflS\u0026X-Amz-Signature=f67464e8bbbf7be0ea719ca399f6baea614bdb582f980470f098c45f7eb4b3e2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636953","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8efd1eee-2c4b-4c5f-9212-250c86ee3567?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=EJrl8Q6bzsy6wQnxRFz4vDOae4bmwWrvzvc7S728I5RiSNtBLcOUGBfTv18XkNtH6jlHiWAx1w1ENj6.Ylk4mZnxWqeA9lRdoYQZmnhn_C6Xqv4_vaU5OV0iHQ26xUil\u0026X-Amz-Signature=eab81c654def355198a755bc00fa18cf8f0a036004eb5b7bdb6f599caffcd91c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/string.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503636959","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/e93b9e43-eb37-4971-a093-492f04fff02c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220437Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=rAtEUJoNCDgwjPbiBlEjSorX0SIjQVbzM2fUCBzSteT7rxeV1HOQXmmUv5DsTc8.wUZ0n_7A3U_ZkRHn1IJzQivKmd.D3Za_6XfqIS8YsINGzX3ekWe.vuL0b1T__4E_\u0026X-Amz-Signature=334fc5eb60e739a361543c41c830f3f0b2ba4eb21ee0b77979f87bb634e794d9"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      TestIter_Next_MaxPages(t *testing.T) {\n\tassert := assert.New(t)\n\tparams
      := ListParams{}\n\tparams.Set(0, 5, \"\", 2)\n\tit := Iter{}\n\tit.ListParams
      = &params\n\n\tit.Query = func() (*[]interface{}, string, error) {\n\t\tret
      := make([]interface{}, params.PerPage)\n\n\t\treturn &ret, \"cursor\", nil\n\t}\n\trecordCount
      := 0\n\tfor it.Next() {\n\t\t[...]
- request:
    body: "package lib\n\nfunc Interface() interface{} {\n\tvar i interface{}\n\treturn
      i\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/c3ef15ef-8585-43e8-953d-379023ea335a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220437Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=X7UV.Fkouu0mTATAEk.gpPDQsfhYtyGNiHPUzI2WgZiZWP58n3iQa0sbdq80M4Fl.yUV6cjBOMCDAkb4PF..v9_Dy.ueYDpQVuOJG2DhQoT24ACP972E_xPREq6FH_46&X-Amz-Signature=3dd645bd0aeb3ae0b19ff6326cd27b7842eb61dcd85e7141c2207b573993bf65
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f7cb73244af2aafb2ced638dc9658dee"'
      X-Amz-Request-Id:
      - 4A756A2BE1C61F67
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\n\t\"github.com/appscode/go-querystring/query\"\n)\n\nfunc
      ExportParams(i interface{}) (url.Values, error) {\n\tv, err := query.Values(i)\n\tif
      err != nil {\n\t\tpanic(err)\n\t}\n\n\treturn v, CheckRequired(i, &v)\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/710a6da5-8ad6-4e48-a55e-c023ed8af299?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220437Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=uJZkevzDfbMKSnNYyDElnR.wxAvUhdE1cZYqtrTz1AHHfhrCCswmDGHCdFCC9LehHjQYxCNqjo5YvKwaH9YyT0i_4Iu2wvXW6cWzhyLOao6wYioXB8v8NVBmlEw4MflS&X-Amz-Signature=f67464e8bbbf7be0ea719ca399f6baea614bdb582f980470f098c45f7eb4b3e2
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"3cc6728f7554f3ea0f53dabed57b19d2"'
      X-Amz-Request-Id:
      - BCF786D78662F295
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc String(string string) *string {\n\treturn &string\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/e93b9e43-eb37-4971-a093-492f04fff02c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220437Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=rAtEUJoNCDgwjPbiBlEjSorX0SIjQVbzM2fUCBzSteT7rxeV1HOQXmmUv5DsTc8.wUZ0n_7A3U_ZkRHn1IJzQivKmd.D3Za_6XfqIS8YsINGzX3ekWe.vuL0b1T__4E_&X-Amz-Signature=334fc5eb60e739a361543c41c830f3f0b2ba4eb21ee0b77979f87bb634e794d9
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"cecd1ea94155ea41d1f8f9e0c2f2e0d9"'
      X-Amz-Request-Id:
      - 0B91707218C13E91
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport \"io\"\n\ntype ProgressWriter struct {\n\tWriter
      \         io.Writer\n\tProgressWatcher func(int64)\n}\n\nfunc (w ProgressWriter)
      Write(p []byte) (n int, err error) {\n\tn, err = w.Writer.Write(p)\n\n\tw.ProgressWatcher(int64(n))\n\treturn
      n, err\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/2067859d-e1af-4fc7-9f1d-49b1d8ec9379?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220437Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=ROXj9cce2NRElWJ_ymf4JtTAfvClbg9U6k.aaPjbO.PydfgNcaipce8.cRdvih938b2bULDZoT6AMCFJyvtvkGdVD8YPAad.vOtiEwaQEO_oHMaBLGdAj5UsWECWwPpn&X-Amz-Signature=85e5d748a3ba3200dfd5696bd5503823c7669f9c7adc7ea747dbc1342dd84dee
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"a818d0badee418a848d9dc03b985b244"'
      X-Amz-Request-Id:
      - D9DECE941A93D8C1
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"fmt\"\n\t\"net/url\"\n\t\"reflect\"\n\t\"strings\"\n)\n\nfunc
      CheckRequired(iStruct interface{}, values *url.Values) error {\n\tvar errors
      = make([]string, 0)\n\tval := reflect.ValueOf(iStruct)\n\tfor val.Kind() ==
      reflect.Ptr {\n\t\tif val.IsNil() {\n\t\t\treturn nil\n\t\t}\n\t\tval = val.Elem()\n\t}\n\n\tif
      iStruct == nil {\n\t\treturn nil\n\t}\n\n\tif val.Kind() != reflect.Struct {\n\t\treturn
      fmt.Errorf(\"CheckR[...]
- request:
    body: "package lib\n\nfunc Bool(bool bool) *bool {\n\treturn &bool\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/f94e2cc9-1181-4195-a761-1812b0a514d8?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220437Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=VGFq.nI2_fUOBk1pd4av2tVK1LtY8j3VcJlqGJTUktA6fXKmTuunm6CCaKUOTrl_q0pFct3modKwTAZkMxsqquJK4Hre267BdBN8m6QwVa0QvLASHLXOx6KfE_uvbr.S&X-Amz-Signature=79c3f895a1ab60a1bb56e9cd04bea5d956566efff85786884ff4ebf28ae17d40
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"83789abda0845357c13aa5fa9c8605a2"'
      X-Amz-Request-Id:
      - 75818DF946E01F0F
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\t\"strings\"\n)\n\nvar QueryEscape
      = url.QueryEscape\n\nfunc PathEscape(path string) string {\n\tpathParts := strings.Split(path,
      \"/\")\n\tnewParts := make([]string, len(pathParts))\n\n\tfor i, part := range
      pathParts {\n\t\tnewParts[i] = url.PathEscape(part)\n\t}\n\n\treturn strings.Join(newParts,
      \"/\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5cecdc4d-a633-4ddd-a4cb-c55d27527da3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220437Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=DYybW9UU0j1pxFDLOmtEICWRtBYCou4t6eDkR30CgULJXdqoLHaUJUghqPNxEqES08d4CF7bkKdMNzsk0LowTECoYsFfpFgeaCJkv.unKpGg9A9toqZKkgItD9gTlAww&X-Amz-Signature=637d25fdbe137f0fc00a97652c3b28902349d1a0ada3a8ce76f3bf07cf4e3b4e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"b053524d13f4b7aada70f38cb1a6bd23"'
      X-Amz-Request-Id:
      - 74AD8751E206D401
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/appscode/go-querystring/query\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      A struct {\n\tName   string `url:\"name\" required:\"true\"`\n\tAge    int    `url:\"age\"
      required:\"false\"`\n\tIgnore int    `url:\"-\" required:\"false\"`\n}\n\nfunc
      TestCheckRequired_Valid(t *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Name:
      \"Dustin\", Age: 90, Ignore: 50}\n\tvalues, _ := query.Values(a)\n\n\terr :=
      CheckRequired(a, &values)\n\tassert.Equal(err, nil)\n}\n\nfunc TestCheckRequired_Invalid(t
      *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Age: 90}\n\tvalues, _ :=
      query.Values(a)\n\n\terr := CheckRequired(a, &values)\n\tassert.EqualError(err,
      \"missing required field: A{}.Name\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5ecfcaa5-f9ea-4327-9e25-32f963e5f755?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220437Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=vVAGVfP3n80HONwbiNrQAcGVN1g8hbOZHL3KVkFfxb6soJy3p8a.3rUxaEY7rTXjJKC4ntp4JYyJ8XgltLNINbWPU.31_MQb4nuIpofATnp0vN7PQCPXgZ2.GKGuiseQ&X-Amz-Signature=70c5cdc9bcfed0cfeabeb34bc5ff5aea8f36a79c4dfc22c941fb5636132beaca
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"129a7a11d2f07ee5446398ff07588c99"'
      X-Amz-Request-Id:
      - C9F62DFB3525F694
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"f7cb73244af2aafb2ced638dc9658dee\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636951","size":"75"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/interface.go
    method: POST
  response:
    body: '{"path":"golib/interface.go","display_name":"interface.go","type":"file","size":75,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"cecd1ea94155ea41d1f8f9e0c2f2e0d9\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636959","size":"68"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/string.go
    method: POST
  response:
    body: '{"path":"golib/string.go","display_name":"string.go","type":"file","size":68,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"72556a26959c471a4b0bff38d08e558b\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636954","size":"1087"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required.go
    method: POST
  response:
    body: '{"path":"golib/required.go","display_name":"required.go","type":"file","size":1087,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"83789abda0845357c13aa5fa9c8605a2\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636955","size":"58"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/bool.go
    method: POST
  response:
    body: '{"path":"golib/bool.go","display_name":"bool.go","type":"file","size":58,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"25f2df6af835e7bd72937852b3ef3728\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636953","size":"1593"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter_test.go
    method: POST
  response:
    body: '{"path":"golib/iter_test.go","display_name":"iter_test.go","type":"file","size":1593,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"129a7a11d2f07ee5446398ff07588c99\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636949","size":"691"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required_test.go
    method: POST
  response:
    body: '{"path":"golib/required_test.go","display_name":"required_test.go","type":"file","size":691,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"a818d0badee418a848d9dc03b985b244\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636945","size":"250"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/progresswriter.go
    method: POST
  response:
    body: '{"path":"golib/progresswriter.go","display_name":"progresswriter.go","type":"file","size":250,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"b053524d13f4b7aada70f38cb1a6bd23\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636950","size":"317"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/query.go
    method: POST
  response:
    body: '{"path":"golib/query.go","display_name":"query.go","type":"file","size":317,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"3cc6728f7554f3ea0f53dabed57b19d2\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636956","size":"231"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/export_params.go
    method: POST
  response:
    body: '{"path":"golib/export_params.go","display_name":"export_params.go","type":"file","size":231,"mtime":"2020-12-29T22:04:38Z","provided_mtime":"2020-12-29T22:04:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"c7863ec1199239ae6862018331c9ad76\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:38-08:00","ref":"put-3503636946","size":"3141"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter.go
    method: POST
  response:
[...]
