---
version: 1
interactions:
- request:
    body: '{"-":"files-dest-copy_foo_to_dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_foo_to_dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:10Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_foo_to_dest/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:11Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_foo_to_dest/dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-31T17:36:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2893837366","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e516c2e5-86dd-4b80-b583-038999fc7ff0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221031T172111Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=moBQtWugVNZyUI7nE77.vV1fxB8EdtmB.Up175L__408eJpW2IVGwQn137BaZeutT9RMLBaBcqTklCedNxAzFDelKlz1igeUAERp3YsxxgPRr1CuS7LrJJayhx_kHZ_c\u0026X-Amz-Signature=273ca1d0e59089489342fdf587fa7fff52a1ad3d8b5ff07e7fa5bc628beea196"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e516c2e5-86dd-4b80-b583-038999fc7ff0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221031T172111Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=moBQtWugVNZyUI7nE77.vV1fxB8EdtmB.Up175L__408eJpW2IVGwQn137BaZeutT9RMLBaBcqTklCedNxAzFDelKlz1igeUAERp3YsxxgPRr1CuS7LrJJayhx_kHZ_c&X-Amz-Signature=273ca1d0e59089489342fdf587fa7fff52a1ad3d8b5ff07e7fa5bc628beea196
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ddf66d49f5b58593a322d1e85538cc77"'
      X-Amz-Request-Id:
      - DKCT4T7F5FD6YBA9
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","action":"end","etags":[{"etag":"ddf66d49f5b58593a322d1e85538cc77","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-31T10:21:10.612911552-07:00","ref":"put-2893837366","size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_foo_to_dest/dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:13Z","mtime":"2022-10-31T17:21:13Z","provided_mtime":"2022-10-31T17:21:10Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest","display_name":"files-dest-copy_foo_to_dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:10Z","mtime":"2022-10-31T17:21:13Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest/dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:11Z","mtime":"2022-10-31T17:21:13Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest/dest/foo
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2022-10-31T17:21:11Z","mtime":"2022-10-31T17:21:13Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_foo_to_dest/dest/foo
    method: GET
  response:
    body: '[{"path":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:13Z","mtime":"2022-10-31T17:21:13Z","provided_mtime":"2022-10-31T17:21:10Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_foo_to_dest/dest/foo/baz.txt
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:13Z","mtime":"2022-10-31T17:21:13Z","provided_mtime":"2022-10-31T17:21:10Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e516c2e5-86dd-4b80-b583-038999fc7ff0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221031T172116Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22\u0026response-content-type=text%2Fplain\u0026X-Amz-Signature=4447d7ba1414ddc65911f4232e3f73fa2d73fe84d500ba6bcb53bade9bf0fb51"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e516c2e5-86dd-4b80-b583-038999fc7ff0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221031T172116Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22&response-content-type=text%2Fplain&X-Amz-Signature=4447d7ba1414ddc65911f4232e3f73fa2d73fe84d500ba6bcb53bade9bf0fb51
    method: GET
  response:
    body: src/foo/baz.txt
    headers:
      Content-Disposition:
      - attachment; filename="baz.txt"
      Content-Type:
      - text/plain
      Etag:
      - '"2631d4d97ccc464eea0996a4f0eefa43-1"'
      Last-Modified:
      - Mon, 31 Oct 2022 17:21:12 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 5RQM7CPAKXCRXCDZ
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_foo_to_dest/dest/foo/baz.txt
    method: GET
  response:
    body: '{"path":"files-dest-copy_foo_to_dest/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:13Z","mtime":"2022-10-31T17:21:13Z","provided_mtime":"2022-10-31T17:21:10Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_foo_to_dest?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_contents_of_foo_to_dest_foo","type":"directory","size":null,"created_at":"2022-10-31T17:21:19Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:19Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo
    method: POST
  response:
    body: '{"display_name":"foo","type":"directory","size":null,"created_at":"2022-10-31T17:21:20Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-31T17:36:21Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2893839357","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/7c99cf3f-0cc1-4156-9c0c-2c1b8554cfb3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221031T172121Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=cOtDvYEFuuECnlvvN6R5nUG3PLvuDiptuMCZJy5UlbEAIKTf.X7P420WhsPeJ1RJHbczuBg51WQm.Mfy0SyomxqXcqJ83hCRnuJn.3zzadILF4weQYS.HVFonYEg78RI\u0026X-Amz-Signature=a6a29f7c5c43763c9713b821150f3407328913023fe45507610327ddccc2481b"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/7c99cf3f-0cc1-4156-9c0c-2c1b8554cfb3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221031T172121Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=cOtDvYEFuuECnlvvN6R5nUG3PLvuDiptuMCZJy5UlbEAIKTf.X7P420WhsPeJ1RJHbczuBg51WQm.Mfy0SyomxqXcqJ83hCRnuJn.3zzadILF4weQYS.HVFonYEg78RI&X-Amz-Signature=a6a29f7c5c43763c9713b821150f3407328913023fe45507610327ddccc2481b
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ddf66d49f5b58593a322d1e85538cc77"'
      X-Amz-Request-Id:
      - ECFSENGEC7DWGKXG
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","action":"end","etags":[{"etag":"ddf66d49f5b58593a322d1e85538cc77","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-31T10:21:19.39785725-07:00","ref":"put-2893839357","size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:21Z","mtime":"2022-10-31T17:21:21Z","provided_mtime":"2022-10-31T17:21:19Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo","display_name":"files-dest-copy_contents_of_foo_to_dest_foo","type":"directory","size":null,"created_at":"2022-10-31T17:21:19Z","mtime":"2022-10-31T17:21:21Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo/dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:19Z","mtime":"2022-10-31T17:21:21Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2022-10-31T17:21:20Z","mtime":"2022-10-31T17:21:21Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_foo/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:21Z","mtime":"2022-10-31T17:21:21Z","provided_mtime":"2022-10-31T17:21:19Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_foo?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_contents_of_foo_to_dest_bar","type":"directory","size":null,"created_at":"2022-10-31T17:21:28Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:28Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar
    method: POST
  response:
    body: '{"display_name":"bar","type":"directory","size":null,"created_at":"2022-10-31T17:21:29Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-31T17:36:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2893841180","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/cccba535-6323-4687-9281-e3a2011f2d56?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221031T172129Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=FMNeroZ7ToVS2iSNswL7_MBnn8EUhVYnbfrbvaIckJ0AVKk8lVYquZAUTOhL2S7OQOqg7xCb0oa.EdrvrKelGGOYcGM2M5152hLPIJz1Ru2jI6cLwE2us.igmYkY0Olr\u0026X-Amz-Signature=f4f0d428f6b62130cbab2acc3f843fafbecdb3f378cee87fd8e6085e32928c37"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/cccba535-6323-4687-9281-e3a2011f2d56?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221031T172129Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=FMNeroZ7ToVS2iSNswL7_MBnn8EUhVYnbfrbvaIckJ0AVKk8lVYquZAUTOhL2S7OQOqg7xCb0oa.EdrvrKelGGOYcGM2M5152hLPIJz1Ru2jI6cLwE2us.igmYkY0Olr&X-Amz-Signature=f4f0d428f6b62130cbab2acc3f843fafbecdb3f378cee87fd8e6085e32928c37
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ddf66d49f5b58593a322d1e85538cc77"'
      X-Amz-Request-Id:
      - 6THW1KP6N0TPNFQ4
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","action":"end","etags":[{"etag":"ddf66d49f5b58593a322d1e85538cc77","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-31T10:21:27.981597006-07:00","ref":"put-2893841180","size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt
    method: POST
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:30Z","mtime":"2022-10-31T17:21:30Z","provided_mtime":"2022-10-31T17:21:27Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar","display_name":"files-dest-copy_contents_of_foo_to_dest_bar","type":"directory","size":null,"created_at":"2022-10-31T17:21:28Z","mtime":"2022-10-31T17:21:30Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar/dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest","display_name":"dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:28Z","mtime":"2022-10-31T17:21:30Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar","display_name":"bar","type":"directory","size":null,"created_at":"2022-10-31T17:21:29Z","mtime":"2022-10-31T17:21:30Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt
    method: GET
  response:
    body: '{"path":"files-dest-copy_contents_of_foo_to_dest_bar/dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:30Z","mtime":"2022-10-31T17:21:30Z","provided_mtime":"2022-10-31T17:21:27Z","crc32":"e6162ccd","md5":"ddf66d49f5b58593a322d1e85538cc77","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_contents_of_foo_to_dest_bar?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"-":"files-dest-copy_baz-txt_to_dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_baz-txt_to_dest
    method: POST
  response:
    body: '{"display_name":"files-dest-copy_baz-txt_to_dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:36Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"files-dest-copy_baz-txt_to_dest/dest"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/files-dest-copy_baz-txt_to_dest/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:36Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_baz-txt_to_dest/dest/baz.txt
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"5a52febd-4219-4250-ac0e-84792247c8e0","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"-":"files-dest-copy_baz-txt_to_dest/dest/baz.txt","mkdir_parents":true,"size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/files-dest-copy_baz-txt_to_dest/dest/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-31T17:36:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2893843056","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/5ea617d9-00f8-4554-b3b4-80df4e0ab41e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221031T172137Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=_5iUIXebNVmy9JRPuZXcvBwqUScmqtn7S._eMdM4Lt1FnrC_b9h3kEI7tssojS8h.Vo0N7AYdRqi6CUBH7bzW.RkxQEm4ysiVd.ge.8Yv9FbHCbXNMlnF03g24hz1ZiO\u0026X-Amz-Signature=4e71901aa610cf61072ff3ed082e2a956374da20b335a472917c49ce13db59c3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: src/foo/baz.txt
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/5ea617d9-00f8-4554-b3b4-80df4e0ab41e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221031T172137Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=_5iUIXebNVmy9JRPuZXcvBwqUScmqtn7S._eMdM4Lt1FnrC_b9h3kEI7tssojS8h.Vo0N7AYdRqi6CUBH7bzW.RkxQEm4ysiVd.ge.8Yv9FbHCbXNMlnF03g24hz1ZiO&X-Amz-Signature=4e71901aa610cf61072ff3ed082e2a956374da20b335a472917c49ce13db59c3
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ddf66d49f5b58593a322d1e85538cc77"'
      X-Amz-Request-Id:
      - DQFR0H2RA63KSQ35
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"files-dest-copy_baz-txt_to_dest/dest/baz.txt","action":"end","etags":[{"etag":"ddf66d49f5b58593a322d1e85538cc77","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-31T10:21:36.347525729-07:00","ref":"put-2893843056","size":15}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/files-dest-copy_baz-txt_to_dest/dest/baz.txt
    method: POST
  response:
    body: '{"path":"files-dest-copy_baz-txt_to_dest/dest/baz.txt","display_name":"baz.txt","type":"file","size":15,"created_at":"2022-10-31T17:21:38Z","mtime":"2022-10-31T17:21:38Z","provided_mtime":"2022-10-31T17:21:36Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/files-dest-copy_baz-txt_to_dest
    method: GET
  response:
    body: '{"path":"files-dest-copy_baz-txt_to_dest","display_name":"files-dest-copy_baz-txt_to_dest","type":"directory","size":null,"created_at":"2022-10-31T17:21:36Z","mtime":"2022-10-31T17:21:38Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
[...]
