---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder
    method: POST
  response:
    body: '{"detail":"The destination exists.","error":"The destination exists.","http-code":412,"instance":"57173cd6-b94f-47b6-b312-0db49e5799bb","title":"Destination
      exists","type":"destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder/nested_1
    method: POST
  response:
    body: '{"detail":"The destination exists.","error":"The destination exists.","http-code":412,"instance":"ca4287b8-a4f0-4b5d-9004-267a1e61b691","title":"Destination
      exists","type":"destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder/nested_1/nested_2
    method: POST
  response:
    body: '{"detail":"The destination exists.","error":"The destination exists.","http-code":412,"instance":"e365aa8d-e054-464f-8cd2-27eb6a966e9b","title":"Destination
      exists","type":"destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:41Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503637305","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8225d67a-a24f-4f32-8fa0-0777f0307184?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220441Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=39GLT9VC_ClSreVeTYx3sy5c2ckm16VraeOMh8OwppXDBRkdA5vkh.lbudTNyPhTlyRogawJ8dp4a10TFyXm_zsP22WZKUFqFrEjCk6iGiUt8N8c1QQn0PjaGK.QlAHU\u0026X-Amz-Signature=a93745b59421228e1954c771649be55777de0e536c8c0a4ae89a014d89f555a3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8225d67a-a24f-4f32-8fa0-0777f0307184?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220441Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=39GLT9VC_ClSreVeTYx3sy5c2ckm16VraeOMh8OwppXDBRkdA5vkh.lbudTNyPhTlyRogawJ8dp4a10TFyXm_zsP22WZKUFqFrEjCk6iGiUt8N8c1QQn0PjaGK.QlAHU&X-Amz-Signature=a93745b59421228e1954c771649be55777de0e536c8c0a4ae89a014d89f555a3
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - 8D9C7138DF2543BF
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"ab6e3983b98e417df77242b035504638\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:42-08:00","ref":"put-3503637305","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder/1.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2020-12-29T22:04:42Z","provided_mtime":"2020-12-29T22:04:42Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: testing 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/40ef96fc-6df0-498e-835f-d75f0af9d26b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220442Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=2pTfjEmk2_JKj3LLmxmkuo96yolARJ0c12p2_WFt1rHV2e_Cwa.6F8ekxXacQvcgLCy3TEV1KdCrqIMWaHr.0EgS7uKHFxGdJI5A.F4uOlcnorsqWQKdrOY3cYp63j_j&X-Amz-Signature=32a640c546631bad591d103182c2046fdf3239aa793844531f5f5add87d29981
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f29e2ea37b89dc6c1a7522523109e5c0"'
      X-Amz-Request-Id:
      - CCD121421488B34F
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-12-29T22:19:43Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3503637427","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/fe5e87fd-0fdd-4e6c-821d-ef7772325eba?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220443Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=daHPBya9I9zADLcL3D8FMuBfxje54f8jiD_Hx7DD.iZie5.ceB_QU28nGAEliNxrnaPyUPcBFGfLwhIitU1kU8D0hApsudDL8WN5mir2X8O8wIaZ9sBZIVzUfkEgbinP\u0026X-Amz-Signature=7922078b76e47eb1f761c5d4043d03fd5a002730a1fbedb9393986ded9423511"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/fe5e87fd-0fdd-4e6c-821d-ef7772325eba?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220443Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=daHPBya9I9zADLcL3D8FMuBfxje54f8jiD_Hx7DD.iZie5.ceB_QU28nGAEliNxrnaPyUPcBFGfLwhIitU1kU8D0hApsudDL8WN5mir2X8O8wIaZ9sBZIVzUfkEgbinP&X-Amz-Signature=7922078b76e47eb1f761c5d4043d03fd5a002730a1fbedb9393986ded9423511
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 64275BDB193AA0E0
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2020-12-29T14:04:44-08:00","ref":"put-3503637427","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2020-12-29T22:04:44Z","provided_mtime":"2020-12-29T22:04:44Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder/1.text
    method: GET
  response:
    body: '{"path":"TestClient_DownloadFolder/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2020-12-29T22:04:42Z","provided_mtime":"2020-12-29T22:04:42Z","crc32":"5867c1f8","md5":"ab6e3983b98e417df77242b035504638","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8225d67a-a24f-4f32-8fa0-0777f0307184?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201229T220445Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%221.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=20dc6facc3adb42656e77325511413cc2da113e553d71c8a503559378942001b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8225d67a-a24f-4f32-8fa0-0777f0307184?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201229T220445Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%221.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=20dc6facc3adb42656e77325511413cc2da113e553d71c8a503559378942001b
    method: GET
  response:
    body: testing 1
    headers:
      Content-Disposition:
      - attachment; filename="1.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"d7138c301f3e12b562af0db210f7732c-1"'
      Last-Modified:
      - Tue, 29 Dec 2020 22:04:42 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 76FBC033C4AD96F6
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
