---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive
    method: POST
  response:
    body: '{"display_name":"TestClient_ListForRecursive","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1
    method: POST
  response:
    body: '{"display_name":"nested_1","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2
    method: POST
  response:
    body: '{"display_name":"nested_2","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"display_name":"nested_3","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":"true","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_ListForRecursive/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-12-01T23:40:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-160533571","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/87d384ab-2848-4944-a253-33399072be9e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211201%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211201T232537Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=MScphg82eh22HBAHdJzktbFvXtkQ3h4vccQmbNzjcVg.eTKJYlwmLP3aeQ4pFFmH1QPA71GvuSYSfbifFunuTFAWXUfLx7Sc3Dj96GkTT0wwk1yIwYT6o3d.seqUCel1\u0026X-Amz-Signature=76b2de57e6327ef54805c5ebda2008bfaa901b1cd5d91cb002466fb405508f52"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/87d384ab-2848-4944-a253-33399072be9e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211201T232537Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=MScphg82eh22HBAHdJzktbFvXtkQ3h4vccQmbNzjcVg.eTKJYlwmLP3aeQ4pFFmH1QPA71GvuSYSfbifFunuTFAWXUfLx7Sc3Dj96GkTT0wwk1yIwYT6o3d.seqUCel1&X-Amz-Signature=76b2de57e6327ef54805c5ebda2008bfaa901b1cd5d91cb002466fb405508f52
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - FFQAJZ6CTSBPVS3E
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"15e081c59a53cf6aadd83c7dc0e831d3","etags[0][part]":"1","provided_mtime":"2021-12-01T15:25:37-08:00","ref":"put-160533571","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_ListForRecursive/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-12-01T23:25:38Z","provided_mtime":"2021-12-01T23:25:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":"true","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-12-01T23:40:38Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-160533680","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/b97ad77c-3743-4c5e-a141-d7cbe6b15d2b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211201%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211201T232538Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Xu4epH6JndW2K_lglmHEZaCrdm_IG_Fw09nb4_tb2dFCEDO6yt8oruHoI8B3jDVeEljgVV1uOpTZWBLcUzh8vogtQCEU2eh.fJ6.tHA4FS26HR_uACw6Y6eN_zQGGm0o\u0026X-Amz-Signature=f79fc418e4f5337ec8c1d0691bca0ef91f1173a8970fdab7d10e148d244690f4"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/b97ad77c-3743-4c5e-a141-d7cbe6b15d2b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211201%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211201T232538Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Xu4epH6JndW2K_lglmHEZaCrdm_IG_Fw09nb4_tb2dFCEDO6yt8oruHoI8B3jDVeEljgVV1uOpTZWBLcUzh8vogtQCEU2eh.fJ6.tHA4FS26HR_uACw6Y6eN_zQGGm0o&X-Amz-Signature=f79fc418e4f5337ec8c1d0691bca0ef91f1173a8970fdab7d10e148d244690f4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 0VYE3P6F21F2PXBC
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"15e081c59a53cf6aadd83c7dc0e831d3","etags[0][part]":"1","provided_mtime":"2021-12-01T15:25:39-08:00","ref":"put-160533680","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"mtime":"2021-12-01T23:25:39Z","provided_mtime":"2021-12-01T23:25:39Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_ListForRecursive
    method: GET
  response:
    body: '{"path":"TestClient_ListForRecursive","display_name":"TestClient_ListForRecursive","type":"directory","size":null,"mtime":"2021-12-01T23:25:39Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1","display_name":"nested_1","type":"directory","size":null,"mtime":"2021-12-01T23:25:39Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1/nested_2","display_name":"nested_2","type":"directory","size":null,"mtime":"2021-12-01T23:25:39Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1/nested_2/nested_3","display_name":"nested_3","type":"directory","size":null,"mtime":"2021-12-01T23:25:39Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false},{"path":"TestClient_ListForRecursive/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-12-01T23:25:38Z","provided_mtime":"2021-12-01T23:25:37Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2/nested_3?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"mtime":"2021-12-01T23:25:39Z","provided_mtime":"2021-12-01T23:25:39Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
