---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945686","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4659d9ce-8a5d-439f-b8f7-c0b634afb0b1?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=hlFdJMA9oduXp5.LAno3GXc30zPv1tTruWoAV4da0CMr_3Vkbzeac15Um11kweKbKmcbB9IpCtHX.6AT8CeJFcyRt59uGI08EtfvtKZxWdGldcyl6geCU2vP2tCsOy7B\u0026X-Amz-Signature=54144badee9e814cb2fa5ce67c3c8b5bca6fcd3007a07c80d12b2122de954b61"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/interface.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945690","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5a0c083d-64d6-413d-babf-0828fc32f982?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=R86PaiJtYWk2aKiN4Qf07lEgikJ._rofr3D_AllxeNnBPLf7Nms6VAyMjNkJH5jvejcQHprd39Me2XTsuBF3SSocEorAh72VpEsDb3XHnK8yMUVLfYvvl5UNv1UDL8NV\u0026X-Amz-Signature=bad9fe0d7260499989dbff012454e845a7b834bdb69dfb555973fa7afcc1df57"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/partsize_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945692","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/c3c77fd6-d33e-4453-b314-6eb6c763fd73?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=yukGTcdMgIeKQ41LWdRFRjytqExp58y..by.8Jx9gcd8qhWEDjLut5n0o8LGfFnLueOX95Jm8R54rMi0l9k4vK34u_dglTGwPAOz0TImZyPWUM72nxtkWw6uqP092fWv\u0026X-Amz-Signature=ab59eb0c8e7cf7cc3b8585942757bb5ce4c1b33bd60dc532a9ccba237ee39fb5"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/export_params.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945694","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4cf10a64-0ae3-4eba-9292-16630288ea53?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Yv4txV3jBCDDw6fi8tcceO0fKQlksJhPwivAlutTRIZMpmC5oLWxp1HFlhPrLDp4sNzo9vbE4tKByKQZuFasDLhR0PB_YRzo.XpEDrouLV96PFTAjmY3SsDzE221s01E\u0026X-Amz-Signature=32e07821505a01c3f172ffaa3728c6b3386914fedf8e9069826136eae44f23b3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/query.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945695","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b573a5e6-871b-4b95-8108-e0b629c7e2a6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=S3DT.vVM1LqMtWMvl4N_O8R6LwnVsN75IuPRRKHA1KCVcXtmlHtdqmySWL_DZBqyon9U7Kw.w.HI9v9rDFFjUjGJiQV_qL4je7nPVD05Xnv..D6.7ZN._S6TUSBtYgWy\u0026X-Amz-Signature=d3fbdffcf8a4582d88e5bb8c92958236a14f9db90db549b8bb4e717e64f45832"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/string.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945696","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/653745ea-9540-47ae-9ce1-bdb754451406?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=z89pqdGUSOO9XwBx_8H6_4kxooVNOlkk3oyMAb8dyn.h9m0JlZLAAgNB7XSZjz4NYuBzAO0IaOY9jeqxyXh4p8c2SF2AfkxwwN7ZOWyGWTnWC0SKUiTRx8Wmbld1_zZQ\u0026X-Amz-Signature=273d45ee72899357f35086f9886bcb0076744932c4c2336b02d2c192a2b793f3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/partsize.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945698","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/98d54969-da53-49c5-849d-615ca526745b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=P8T2enZBJnXhUATtQqbk8dm.XglUKTyo22AIBiGzK_yekVFEX3V_LJztIsbpAgwwaBzd3cspM.V9xYwVmN6gc_aBb9IMYkIAfNuxcEWxLBMgtIsHQB36Db7lWD2TZ4n7\u0026X-Amz-Signature=0f74bf7fb183c4a21246e1d785be1538dd4f43c2636ae885e1580686077e72eb"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/timer/main.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945693","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/489b25cb-5b71-4f46-a7ae-53a5ac08f0ab?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=EgBedI5Ay9F1PaVfIREVB6v21AFnQs0Jyfn6xVOkCzREv0xmkiSX5psaUlnP2hTMy6rPdcdMZR3qbyS3wKK5h8lACcnbdorADrMOsjZMh2jCzAmx1D1vNCjbqbDV3Pc2\u0026X-Amz-Signature=b96686eee354bd413931e0f2c7d3b3b8f643706e5f00dbf126d9871c8c639866"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/progresswriter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945706","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4900223b-7b7e-4540-aa50-4bc28030b2a6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=h8fed1EbjK5ul7.PCaJ5zFd5KO4DTGI6e_3mzjb_Ns_8k6Hy0tHhG7ZsFX8l45B5nXqvU..SowjQAOP6l0vp3NkzPFAUcshmCCj.Ow_q0lr8xhrlnOWw9Bwlom.Qf7QU\u0026X-Amz-Signature=a905a320e923edc8c3a9ed57c4ec44234174a91d65f0561cfd2a6016b3648b15"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945701","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/87936b46-a7e4-4cf6-b0eb-32cf2a8518b2?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=p45KPNdJKkHftrClK.uWHM1FYTvr97kl6VsH7S_GeTf3YPCOpPn2gCL5bcQ_VSXJ9VLZKFIvSwaF6iUb.P.5hyQWg0.J3vMT.T1ypWkHMRye7.WdS9SViBdBEXByWFhZ\u0026X-Amz-Signature=ddda276db549597375921116e9c999788503f2b34faacd23d0f5af783f7addf7"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/direction/main.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945710","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d1bc01d7-9dfe-445e-874d-655a42b8fb75?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=5uHY3i4WvdjeHQL3JbzNUwDmOlZ3fkEZvcNsPDAy4up4rIE9VGQGlvYN6dJ5JQ1Xp4EGTrPcTO378D7vsBT9OUb.LefcIus1kt3stHLWbq6RGQ9T2ElwxW2B08RvGfUi\u0026X-Amz-Signature=094610c3c77090e71401b5a52a1c8960b080b72ac7f5f50d220cfb2cd4e42945"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/bool.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945711","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8a2e6d02-bbac-4607-bcf5-ef0214afed58?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=_1O9r6qX3gjD3S3q6e0LH3zHdBGKjQQx3Bw0Ct5ptSe50eWAJKJodmpe2D5EOAp8bLBaYskwo_fzUhs6Or15vWixY7XYAZOCHUxzCj.mp5sssI7AMGhygwrs8lsTMJ1h\u0026X-Amz-Signature=bf5166bde03ddb48d64ecb6f656cc16e2df7e7a8be697eb2d230898bd5ebe39c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/readerctx.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945713","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3a7f59ea-e345-4a86-8965-94c9126babf0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=QP7QPLEsrtOVkXtk21B6.wl3.EL0F0QIOPNECv0cW.rF1bAgIz8PIPsykXB9aO5ZNU25dRG.HUJhfCy9NsjrNJfTmBpcxGx2p8HEyqMzT1okPdJKf2ajK661y4c0R5vZ\u0026X-Amz-Signature=5d0f73bf2c8c517e1a573b31494c513d8ab5e209d869a1a0bd88b8753f0c658f"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945715","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6d52cedb-4e01-43e7-b1b3-02afe03bc9e5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=gpvTIivCF5fuxfOyDQug_m50iHh11iL985XovI_UHOup_1d3fkIe94p4QSosciLzkoE47jgUZWLTLwSRwOeKum51BqaFmFXOag.olf1lwD8ijs4dTU4xW3oDmy8Ojw6Q\u0026X-Amz-Signature=500a5d0e9fa383a13e036b5e9928b20014189ebb48a5dbaec8ecb2dd46c75415"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945717","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/dfda6f89-fc68-4069-bed4-13f1a13ac8f5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=0i.ElyPLkSH.qyIOdFR6fISpSZT61wEyav14zCT68u6cqYJ6U.XbAxGX1TSVtTDfP6OfDVA94bIAUTqZALvZfvpj5ssSffGXE.vtUYnMwoiA_nQwia9oahbW7gwQXP2F\u0026X-Amz-Signature=ed27e081458b8269c325949466b06c96875c46494057f6c1e22fc254a2e63470"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/test/createconfig.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-27T23:52:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-100945716","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/613e348a-a6c0-40db-b305-f384c5cf3276?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210927T233753Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=XZ2az1f0pzstCqzqKWmJv4XpELhP.5xaJ_bacMns4kC79jMGoOVTNWq2EN6zRBHgBKGZIRlG2WuS7hEfx_nAr2Q8qqVnjlokyb6HfM_4pj9WdLOP.xVYjfjXxUyO2GfN\u0026X-Amz-Signature=ad19b98986622f4e04025faf304453bf15226347282d01d6e15edcac64e47fa1"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"fmt\"\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      Test_PartSize(t *testing.T) {\n\tassert := assert.New(t)\n\ts := PartSizes\n\ttestSize
      := int64(0)\n\tfor _, b := range s {\n\t\ttestSize += b\n\t}\n\n\tassert.Equal(\"4.90\",
      fmt.Sprintf(\"%.2f\", float64(testSize)/1024/1024/1024/1024))\n\tassert.Equal(len(s),
      10_000)\n\tassert.LessOrEqual(testSize, int64(1024*1024*1024*1024*5))\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/c3c77fd6-d33e-4453-b314-6eb6c763fd73?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210927T233753Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=yukGTcdMgIeKQ41LWdRFRjytqExp58y..by.8Jx9gcd8qhWEDjLut5n0o8LGfFnLueOX95Jm8R54rMi0l9k4vK34u_dglTGwPAOz0TImZyPWUM72nxtkWw6uqP092fWv&X-Amz-Signature=ab59eb0c8e7cf7cc3b8585942757bb5ce4c1b33bd60dc532a9ccba237ee39fb5
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"4dd39224fa00a070f76d14950571e694"'
      X-Amz-Request-Id:
      - C3YZSSP3NFTAPDAS
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Interface() interface{} {\n\tvar i interface{}\n\treturn
      i\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5a0c083d-64d6-413d-babf-0828fc32f982?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210927T233753Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=R86PaiJtYWk2aKiN4Qf07lEgikJ._rofr3D_AllxeNnBPLf7Nms6VAyMjNkJH5jvejcQHprd39Me2XTsuBF3SSocEorAh72VpEsDb3XHnK8yMUVLfYvvl5UNv1UDL8NV&X-Amz-Signature=bad9fe0d7260499989dbff012454e845a7b834bdb69dfb555973fa7afcc1df57
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f7cb73244af2aafb2ced638dc9658dee"'
      X-Amz-Request-Id:
      - C3YHFSEYV5VG36EA
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/appscode/go-querystring/query\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      A struct {\n\tName   string `url:\"name\" required:\"true\"`\n\tAge    int    `url:\"age\"
      required:\"false\"`\n\tIgnore int    `url:\"-\" required:\"false\"`\n}\n\nfunc
      TestCheckRequired_Valid(t *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Name:
      \"Dustin\", Age: 90, Ignore: 50}\n\tvalues, _ := query.Values(a)\n\n\terr :=
      CheckRequired(a, &values)\n\tassert.Equal(err, nil)\n}\n\nfunc TestCheckRequired_Invalid(t
      *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Age: 90}\n\tvalues, _ :=
      query.Values(a)\n\n\terr := CheckRequired(a, &values)\n\tassert.EqualError(err,
      \"missing required field: A{}.Name\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4659d9ce-8a5d-439f-b8f7-c0b634afb0b1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210927T233753Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=hlFdJMA9oduXp5.LAno3GXc30zPv1tTruWoAV4da0CMr_3Vkbzeac15Um11kweKbKmcbB9IpCtHX.6AT8CeJFcyRt59uGI08EtfvtKZxWdGldcyl6geCU2vP2tCsOy7B&X-Amz-Signature=54144badee9e814cb2fa5ce67c3c8b5bca6fcd3007a07c80d12b2122de954b61
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"129a7a11d2f07ee5446398ff07588c99"'
      X-Amz-Request-Id:
      - C3YVWSK2RP782P7T
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\n\t\"github.com/appscode/go-querystring/query\"\n)\n\nfunc
      ExportParams(i interface{}) (url.Values, error) {\n\tv, err := query.Values(i)\n\tif
      err != nil {\n\t\tpanic(err)\n\t}\n\n\treturn v, CheckRequired(i, &v)\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4cf10a64-0ae3-4eba-9292-16630288ea53?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210927T233753Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Yv4txV3jBCDDw6fi8tcceO0fKQlksJhPwivAlutTRIZMpmC5oLWxp1HFlhPrLDp4sNzo9vbE4tKByKQZuFasDLhR0PB_YRzo.XpEDrouLV96PFTAjmY3SsDzE221s01E&X-Amz-Signature=32e07821505a01c3f172ffaa3728c6b3386914fedf8e9069826136eae44f23b3
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"3cc6728f7554f3ea0f53dabed57b19d2"'
      X-Amz-Request-Id:
      - C3YSDVTP68MMZ0VW
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc String(string string) *string {\n\treturn &string\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/653745ea-9540-47ae-9ce1-bdb754451406?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210927T233753Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=z89pqdGUSOO9XwBx_8H6_4kxooVNOlkk3oyMAb8dyn.h9m0JlZLAAgNB7XSZjz4NYuBzAO0IaOY9jeqxyXh4p8c2SF2AfkxwwN7ZOWyGWTnWC0SKUiTRx8Wmbld1_zZQ&X-Amz-Signature=273d45ee72899357f35086f9886bcb0076744932c4c2336b02d2c192a2b793f3
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"cecd1ea94155ea41d1f8f9e0c2f2e0d9"'
      X-Amz-Request-Id:
      - C3YQKC0QFJA08QFW
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package timer\n\nimport (\n\t\"sync\"\n\t\"time\"\n)\n\ntype Run struct
      {\n\tStart  time.Time\n\tFinish time.Time\n}\n\ntype Runs []Run\n\ntype Timer
      struct {\n\tRuns\n\t*sync.RWMutex\n}\n\nfunc New() *Timer {\n\treturn &Timer{RWMutex:
      &sync.RWMutex{}}\n}\n\nfunc (t *Timer) Start() time.Time {\n\tt.RWMutex.Lock()\n\tn
      := time.Now()\n\tt.Runs = append(t.Runs, Run{Start: n})\n\tt.RWMutex.Unlock()\n\treturn
      n\n}\n\nfunc (t *Timer) Stop() time.Time[...]
- request:
    body: "package lib\n\n// PartSizes return 10k parts that add up to 4.9 TB\nvar
      PartSizes = partSizes()\n\nfunc partSizes() []int64 {\n\tmaxSize := int64(1024
      * 1024 * 1024 * 1024 * 5)\n\ttotalParts := 10_000\n\ttotalSize := int64(0)\n\tvar
      parts []int64\n\tpartSize := int64(1024*1024*5 + 1024*1024/3)\n\tvar iter []int\n\titer
      = append(iter, 0)\n\titer = append(iter, 100)\n\tf := fibonacci()\n\tf() //
      0 - skip first two rounds of fib\n\tf() // 100\n\tf[...]
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n)\n\nvar
      QueryEscape = url.QueryEscape\n\nfunc PathEscape(path string) string {\n\tpathParts
      := strings.Split(path, \"/\")\n\tnewParts := make([]string, len(pathParts))\n\n\tfor
      i, part := range pathParts {\n\t\tnewParts[i] = url.PathEscape(part)\n\t}\n\n\treturn
      strings.Join(newParts, \"/\")\n}\n\nfunc BuildPath(resourcePath string, unescapedPath
      string) stri[...]
- request:
    body: "package direction\n\ntype Type struct {\n\tname   string\n\tSymbol string\n}\n\nvar
      (\n\tDownloadType = Type{name: \"download\", Symbol: \"⬆\"}\n\tUploadType   =
      Type{name: \"upload\", Symbol: \"⬆\"}\n)\n\nfunc (t *Type) Name() string {\n\treturn
      t.name\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d1bc01d7-9dfe-445e-874d-655a42b8fb75?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210927T233753Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=5uHY3i4WvdjeHQL3JbzNUwDmOlZ3fkEZvcNsPDAy4up4rIE9VGQGlvYN6dJ5JQ1Xp4EGTrPcTO378D7vsBT9OUb.LefcIus1kt3stHLWbq6RGQ9T2ElwxW2B08RvGfUi&X-Amz-Signature=094610c3c77090e71401b5a52a1c8960b080b72ac7f5f50d220cfb2cd4e42945
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5b617a0f7ed3380468c4fa5d28771502"'
      X-Amz-Request-Id:
      - C3YREW5A40QS1Z9F
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport \"io\"\n\ntype ProgressWriter struct {\n\tWriter
      \         io.Writer\n\tProgressWatcher func(int64)\n}\n\nfunc (w ProgressWriter)
[...]
