---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f825f656-b6e9-41b9-a936-a01ead64586a","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"3cc86e78-791d-42e6-ae01-33d5233529c9","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"ec7fefcb-5cbb-4c9e-a0ed-48c9dc4ba6ad","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f6c63b31-62bc-4c86-b947-b7d055abc75a","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:12:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451110373","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c59092f3-495e-47c6-9b2d-4f03c8e8af82?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155711Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=kvd5BrVvK7F0ZTS4KgKuCcm_Ws2TtLSPP4uooGJ_CUXeAO3jwStYNfOxyRo6MZCZjXLqeOrzdV9i2R06V5nRRC.lCAYoWfo8PV1vUuj439NFH_tDN_lLJBDElvEMuknC\u0026X-Amz-Signature=57022ecb7b273895edbe1eaac55ce24e518f270850781436aa51c7eff7b24441"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c59092f3-495e-47c6-9b2d-4f03c8e8af82?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155711Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=kvd5BrVvK7F0ZTS4KgKuCcm_Ws2TtLSPP4uooGJ_CUXeAO3jwStYNfOxyRo6MZCZjXLqeOrzdV9i2R06V5nRRC.lCAYoWfo8PV1vUuj439NFH_tDN_lLJBDElvEMuknC&X-Amz-Signature=57022ecb7b273895edbe1eaac55ce24e518f270850781436aa51c7eff7b24441
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - QRZA7SXZ4Q3PDWF3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:57:11-07:00","ref":"put-4451110373","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-05-27T15:57:11Z","provided_mtime":"2021-05-27T15:57:11Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:12:12Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451110456","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/ecbc956c-c31e-4125-a0aa-26915c0bac60?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155712Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=JTUVMb5ZmVYqrfEOMQh7V9QAkRVrAMFIxXYqeQra0Ab7oyggUD5EbJOxkflw819j177bZEE7YFB9vR0qXnL_7SrK1KS6w0h5yeymifAlGnTUBe4TCP0bVvhwxe.Umceo\u0026X-Amz-Signature=d7e62120a15b9f736ca04aad97c8acf72bbca459a1c4c97e3ee8889aad2cdb03"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/ecbc956c-c31e-4125-a0aa-26915c0bac60?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155712Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=JTUVMb5ZmVYqrfEOMQh7V9QAkRVrAMFIxXYqeQra0Ab7oyggUD5EbJOxkflw819j177bZEE7YFB9vR0qXnL_7SrK1KS6w0h5yeymifAlGnTUBe4TCP0bVvhwxe.Umceo&X-Amz-Signature=d7e62120a15b9f736ca04aad97c8acf72bbca459a1c4c97e3ee8889aad2cdb03
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 0JE73MAC02W1G1F9
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:57:12-07:00","ref":"put-4451110456","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"mtime":"2021-05-27T15:57:12Z","provided_mtime":"2021-05-27T15:57:12Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-05-27T15:57:11Z","provided_mtime":"2021-05-27T15:57:11Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-05-27T15:57:11Z","provided_mtime":"2021-05-27T15:57:11Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c59092f3-495e-47c6-9b2d-4f03c8e8af82?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155712Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=4a5d64ec7d728b7d512a9152d36cc27ce148b48a92f5b38b4593f7accd63d35e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c59092f3-495e-47c6-9b2d-4f03c8e8af82?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155712Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=4a5d64ec7d728b7d512a9152d36cc27ce148b48a92f5b38b4593f7accd63d35e
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Thu, 27 May 2021 15:57:12 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 0JEEVPCMZJ3NDV4Q
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
