---
version: 1
interactions:
- request:
    body: '{"-":"test-delete-source"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/test-delete-source
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"636eeb65-1e9c-472c-adf9-57a790944b05","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"test-delete-source/test.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-delete-source/test.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T16:41:16Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2831723409","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/f25ad3be-68e6-404f-9f0e-21fcd291390c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162616Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=gzPw98QlqQqCeDs5kOVgZIwK5ctZko28FxCjC_cqLKrolqwjxrkbR6lJuxNjZS1GfqcFVh9nY3mo5aM.IHhN1DcM0bjKoYJGYJqNrSPyxfplcTnYZVEfLeFSKoGZ1PkI\u0026X-Amz-Signature=5334a8694355ba720a4181ce436ca36f68c8a537ec534587e1f690d09ec20977"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/f25ad3be-68e6-404f-9f0e-21fcd291390c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162616Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=gzPw98QlqQqCeDs5kOVgZIwK5ctZko28FxCjC_cqLKrolqwjxrkbR6lJuxNjZS1GfqcFVh9nY3mo5aM.IHhN1DcM0bjKoYJGYJqNrSPyxfplcTnYZVEfLeFSKoGZ1PkI&X-Amz-Signature=5334a8694355ba720a4181ce436ca36f68c8a537ec534587e1f690d09ec20977
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 0A2FGQCJ59APM0SJ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"test-delete-source/test.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2831723409","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-delete-source/test.text
    method: POST
  response:
    body: '{"path":"test-delete-source/test.text","display_name":"test.text","type":"file","size":9,"created_at":"2022-10-26T16:26:17Z","mtime":"2022-10-26T16:26:17Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-delete-source
    method: GET
  response:
    body: '{"path":"test-delete-source","display_name":"test-delete-source","type":"directory","size":null,"created_at":"2022-07-16T23:37:29Z","mtime":"2022-10-26T16:26:17Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-delete-source/test.text
    method: GET
  response:
    body: '{"path":"test-delete-source/test.text","display_name":"test.text","type":"file","size":9,"created_at":"2022-10-26T16:26:17Z","mtime":"2022-10-26T16:26:17Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/f25ad3be-68e6-404f-9f0e-21fcd291390c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162618Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22test.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=2a46cd499584b9752245c01cf269b91f6c407cd1288cdd3fd6a3624194963a54"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/f25ad3be-68e6-404f-9f0e-21fcd291390c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162618Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22test.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=2a46cd499584b9752245c01cf269b91f6c407cd1288cdd3fd6a3624194963a54
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="test.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Wed, 26 Oct 2022 16:26:17 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - ENN67PZQ76AECFP2
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-delete-source/test.text
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"7c77dbf7-120c-4cdb-ad54-01e8373718d4","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
