---
version: 1
interactions:
- request:
    body: '{"-":"test-move-source"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/test-move-source
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"cb336d5a-8dbb-458f-ba33-c5e977185b96","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"test-move-source/test.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-move-source/test.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T16:39:46Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2831709052","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9e7d148f-74c1-4a14-a8ac-878875ca664a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162446Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=_QM1_JDJ7TujqF8JagUfpS.flqskzociKuNkzUIqNsqD6BJOMQcFYayTPfpRVA3eJOcy6ULzjCfeY9nAB82jgbQgOLQfuooyupWLcbPAAo59N6aJTJumizeixyGq.toF\u0026X-Amz-Signature=2d8903d2a8965a79db12a7d40e0400b0a3d7d86c2f183fe6b946e017802ee9b8"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9e7d148f-74c1-4a14-a8ac-878875ca664a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162446Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=_QM1_JDJ7TujqF8JagUfpS.flqskzociKuNkzUIqNsqD6BJOMQcFYayTPfpRVA3eJOcy6ULzjCfeY9nAB82jgbQgOLQfuooyupWLcbPAAo59N6aJTJumizeixyGq.toF&X-Amz-Signature=2d8903d2a8965a79db12a7d40e0400b0a3d7d86c2f183fe6b946e017802ee9b8
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 701GVTDWV0SGYSSS
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"test-move-source/test.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2831709052","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-move-source/test.text
    method: POST
  response:
    body: '{"path":"test-move-source/test.text","display_name":"test.text","type":"file","size":9,"created_at":"2022-10-26T16:24:47Z","mtime":"2022-10-26T16:24:47Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-move-source
    method: GET
  response:
    body: '{"path":"test-move-source","display_name":"test-move-source","type":"directory","size":null,"created_at":"2022-07-16T23:37:34Z","mtime":"2022-10-26T16:24:47Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/test-move-source?page=1
    method: GET
  response:
    body: '[{"path":"test-move-source/test.text","display_name":"test.text","type":"file","size":9,"created_at":"2022-10-26T16:24:47Z","mtime":"2022-10-26T16:24:47Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-move-source/test.text
    method: GET
  response:
    body: '{"path":"test-move-source/test.text","display_name":"test.text","type":"file","size":9,"created_at":"2022-10-26T16:24:47Z","mtime":"2022-10-26T16:24:47Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9e7d148f-74c1-4a14-a8ac-878875ca664a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162448Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22test.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=565cdd9c14b193a1114b9037d63938cc3931d15099d8220df06d43a56d1410ba"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9e7d148f-74c1-4a14-a8ac-878875ca664a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162448Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22test.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=565cdd9c14b193a1114b9037d63938cc3931d15099d8220df06d43a56d1410ba
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="test.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Wed, 26 Oct 2022 16:24:47 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - R6HJA16KYG1TYVQX
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"-":"test-move-source/test.text","destination":"test-moved-source/test.text"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/move/test-move-source/test.text
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"3efc5e93-f100-4d83-b551-118b9051245b","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-moved-source/test.text
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-move-source/test.text
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"823c4f11-1ed5-41ed-875e-b6ed1c50712a","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-moved-source/test.text
    method: GET
  response:
    body: '{"path":"test-moved-source/test.text","display_name":"test.text","type":"file","size":9,"created_at":"2022-10-26T16:24:47Z","mtime":"2022-10-26T16:24:47Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
