---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/taco
    method: DELETE
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"f96253b0-5c5f-493a-b964-9a031392d20d","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/taco
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"c92931ae-94ea-481e-aa3a-70f0c5bd3b93","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"-":"taco","mkdir_parents":true,"size":1102}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/taco
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-25T23:57:38Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2820834424","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/0314aae1-f09b-43b2-bdbb-f609f6ad80dd?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221025%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221025T234238Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=s_2v8wizJVyyKPZlIaB.XIzSD4y0TdelXyigDID0g2ULF2iKW4gsImJhGaGD3GOeT7X5LjHBxB089jC8EeUj9cIX7HkmTQMk7oGa7gyrsyik5TummL.42hTRebKruVws\u0026X-Amz-Signature=77cf7b60e89a6517098b76c99e4d6f7512f49b1c0ebccd2aed124f57b263d948"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      The MIT License

      Copyright (c) 2019- Action Verb, LLC (https://www.files.com)

      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to w[...]
- request:
    body: '{"-":"taco","action":"end","etags":[{"etag":"5b1e5439f3483c0b3e5af1d44889d0f7","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-25T16:39:08.86287787-07:00","ref":"put-2820834424","size":1102}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/taco
    method: POST
  response:
    body: '{"path":"taco","display_name":"taco","type":"file","size":1102,"created_at":"2022-10-25T23:42:39Z","mtime":"2022-10-25T23:42:39Z","provided_mtime":"2022-10-25T23:39:08Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/taco
    method: GET
  response:
    body: '{"path":"taco","display_name":"taco","type":"file","size":1102,"created_at":"2022-10-25T23:42:39Z","mtime":"2022-10-25T23:42:39Z","provided_mtime":"2022-10-25T23:39:08Z","crc32":"32107119","md5":"5b1e5439f3483c0b3e5af1d44889d0f7","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/0314aae1-f09b-43b2-bdbb-f609f6ad80dd?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221025%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221025T234240Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22taco%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=b34cd8878d94e6bce15c7a95e6f4cfd876c1cf821394213294c50906eca74fa9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/0314aae1-f09b-43b2-bdbb-f609f6ad80dd?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221025%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221025T234240Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22taco%22&response-content-type=application%2Foctet-s[...]
[...]
