---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-move-source
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"b54a6dce-f520-4eef-aa53-d8b8a141f762","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-move-source/test.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-08T20:03:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-173696928","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/da86e32c-c966-4fa9-bda4-ccf6d4cea00d?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211008T194836Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=_rtxYz3xoiRbcynxLYfJfx83rHh1lGFUnHuuc8pJCIR3f1RSXVXz5oV8Qw9rLCe_XInLtTM.DFdBcImjjjPYgiki1zExfjnSeqawCdYdLjheXHSUNp9f0xaHVRJX6cQ6\u0026X-Amz-Signature=fb82e2c59b267e38a840c3ee5aa2218bc7986abeb5bfc173fc88434ab74a6196"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/da86e32c-c966-4fa9-bda4-ccf6d4cea00d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211008T194836Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=_rtxYz3xoiRbcynxLYfJfx83rHh1lGFUnHuuc8pJCIR3f1RSXVXz5oV8Qw9rLCe_XInLtTM.DFdBcImjjjPYgiki1zExfjnSeqawCdYdLjheXHSUNp9f0xaHVRJX6cQ6&X-Amz-Signature=fb82e2c59b267e38a840c3ee5aa2218bc7986abeb5bfc173fc88434ab74a6196
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - VQP0D76305DZE1H4
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"15e081c59a53cf6aadd83c7dc0e831d3","etags[0][part]":"1","provided_mtime":"2021-10-08T12:48:36-07:00","ref":"put-173696928","size":"9"}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-move-source/test.text
    method: POST
  response:
    body: '{"path":"test-move-source/test.text","display_name":"test.text","type":"file","size":9,"mtime":"2021-10-08T19:48:36Z","provided_mtime":"2021-10-08T19:48:36Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-move-source
    method: GET
  response:
    body: '{"path":"test-move-source","display_name":"test-move-source","type":"directory","size":null,"mtime":"2021-10-08T19:48:36Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/test-move-source?page=1
    method: GET
  response:
    body: '[{"path":"test-move-source/test.text","display_name":"test.text","type":"file","size":9,"mtime":"2021-10-08T19:48:36Z","provided_mtime":"2021-10-08T19:48:36Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-move-source/test.text
    method: GET
  response:
    body: '{"path":"test-move-source/test.text","display_name":"test.text","type":"file","size":9,"mtime":"2021-10-08T19:48:36Z","provided_mtime":"2021-10-08T19:48:36Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/da86e32c-c966-4fa9-bda4-ccf6d4cea00d?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211008T194838Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22test.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=4d5d574beaeb06b1c52dd3f58d79b2f4070cfa14b31e1b602fc41f6ae0db4dfc"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/da86e32c-c966-4fa9-bda4-ccf6d4cea00d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211008T194838Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22test.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=4d5d574beaeb06b1c52dd3f58d79b2f4070cfa14b31e1b602fc41f6ae0db4dfc
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="test.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Fri, 08 Oct 2021 19:48:36 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - ZS1A18BCAGHYC2WG
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destination":"test-moved-source/test.text"}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/move/test-move-source/test.text
    method: POST
  response:
    body: '{"status":"completed"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-move-source/test.text
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"1c232aa4-d871-468c-9cc0-8fdabbee6f70","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-moved-source/test.text
    method: GET
  response:
    body: '{"path":"test-moved-source/test.text","display_name":"test.text","type":"file","size":9,"mtime":"2021-10-08T19:48:36Z","provided_mtime":"2021-10-08T19:48:36Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
