---
version: 1
interactions:
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T23:55:35Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4080752581","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/98c3fb2f-047f-4f1b-a5d1-057652467d3e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T234035Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=iBa_sb_kvRoG6uv.6hcIpgtkcbbCR2S0m_OMTi8_ey6fPEms1XcbUTJqcBC8lFXC03lBmPvPzhKGrDlcuj5r5bz4JQ3P1J5TRFsRZaFFrg9u_jtfCumcfngrxdYpQF89\u0026X-Amz-Signature=175cee8121d72ea33ad28d218b8ef83e03131c4796bd49f2292a66fcdb7a7ede"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/98c3fb2f-047f-4f1b-a5d1-057652467d3e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210331T234035Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=iBa_sb_kvRoG6uv.6hcIpgtkcbbCR2S0m_OMTi8_ey6fPEms1XcbUTJqcBC8lFXC03lBmPvPzhKGrDlcuj5r5bz4JQ3P1J5TRFsRZaFFrg9u_jtfCumcfngrxdYpQF89&X-Amz-Signature=175cee8121d72ea33ad28d218b8ef83e03131c4796bd49f2292a66fcdb7a7ede
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      X-Amz-Request-Id:
      - FPDBXVNANYTNPYD5
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"5d41402abc4b2a76b9719d911017c592\"","etags[0][part]":"1","provided_mtime":"2021-03-31T16:40:36-07:00","ref":"put-4080752581","size":"5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-03-31T23:40:36Z","provided_mtime":"2021-03-31T23:40:36Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/i%20am%20at%20the%20root.text?page=1
    method: GET
  response:
    body: '[{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-03-31T23:40:36Z","provided_mtime":"2021-03-31T23:40:36Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: GET
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-03-31T23:40:36Z","provided_mtime":"2021-03-31T23:40:36Z","crc32":"3610a686","md5":"5d41402abc4b2a76b9719d911017c592","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/98c3fb2f-047f-4f1b-a5d1-057652467d3e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T234037Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=d7f31fc28da6fc7f36be5043fa217e656ed5b8120b7b3ac0cd164fea434e6036"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/98c3fb2f-047f-4f1b-a5d1-057652467d3e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210331T234037Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text&response-content-type=application%2Foctet-stream&X-Amz-Signature=d7f31fc28da6fc7f36be5043fa217e656ed5b8120b7b3ac0cd164fea434e6036
    method: GET
  response:
    body: hello
    headers:
      Content-Disposition:
      - attachment; filename*=UTF-8''i%20am%20at%20the%20root.text
      Content-Type:
      - application/octet-stream
      Etag:
      - '"62109206880d38a4010a98e11243924a-1"'
      Last-Modified:
      - Wed, 31 Mar 2021 23:40:36 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - YBV2G8YC33KS171C
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
