---
version: 1
interactions:
- request:
    body: '{"-":"TestClient_ListForRecursive"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f701f4e7-38d1-49da-9da5-f239816686b4","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_ListForRecursive/nested_1"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"2b589216-3391-4324-a9c8-46035fdf7855","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_ListForRecursive/nested_1/nested_2"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"b129e40d-85d0-40b5-a19e-3be96d4fc87f","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_ListForRecursive/nested_1/nested_2/nested_3"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"c0edaac0-2817-46e7-99e0-65eb501f9e20","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_ListForRecursive/nested_1/nested_2/3.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_ListForRecursive/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T16:41:22Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2831724417","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c46b86c7-070a-40a5-b2e9-378778bd07ff?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162622Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=dfPoX3pF4okDyhbbL4fMwojsVHUqxUtEuVfQfCFrYsoHBfXtAUHeVpC8ZOnql6SF.VsSuc.JZNZPRwv2aBMo1ZFBP2SYIPkbbBs63j29gzH4mEXZrsHDOGG1DsPdUu1k\u0026X-Amz-Signature=528aba4a9dd901f99339ad289aceca9edc814746891b6d57c842d195ed2810df"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c46b86c7-070a-40a5-b2e9-378778bd07ff?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162622Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=dfPoX3pF4okDyhbbL4fMwojsVHUqxUtEuVfQfCFrYsoHBfXtAUHeVpC8ZOnql6SF.VsSuc.JZNZPRwv2aBMo1ZFBP2SYIPkbbBs63j29gzH4mEXZrsHDOGG1DsPdUu1k&X-Amz-Signature=528aba4a9dd901f99339ad289aceca9edc814746891b6d57c842d195ed2810df
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 9DGBH5B8WQJAFQ59
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_ListForRecursive/nested_1/nested_2/3.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2831724417","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_ListForRecursive/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T16:26:23Z","mtime":"2022-10-26T16:26:23Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T16:41:23Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2831724609","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/483da6e6-48ff-4980-8420-c7e0ee5ceba8?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162623Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=20eobgHDnUefwXFxZhggDa_P39N8Yk.io84BvDj7RCgisL7Ls2rBFV_Fpn9PPP75DwPQb9MUcHpxKi4sYF1FJRz3hTWb4uVM7xyff2ykC4d9tLroHK.OI3KZx76DzWlk\u0026X-Amz-Signature=2ce33e5a081d2243787aee6f063115d2734f42291bb968ca647c2f9cfd5699ce"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/483da6e6-48ff-4980-8420-c7e0ee5ceba8?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162623Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=20eobgHDnUefwXFxZhggDa_P39N8Yk.io84BvDj7RCgisL7Ls2rBFV_Fpn9PPP75DwPQb9MUcHpxKi4sYF1FJRz3hTWb4uVM7xyff2ykC4d9tLroHK.OI3KZx76DzWlk&X-Amz-Signature=2ce33e5a081d2243787aee6f063115d2734f42291bb968ca647c2f9cfd5699ce
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - PGNXBS2VXJYANVAP
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2831724609","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-26T16:26:24Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_ListForRecursive
    method: GET
  response:
    body: '{"path":"TestClient_ListForRecursive","display_name":"TestClient_ListForRecursive","type":"directory","size":null,"created_at":"2021-12-01T23:25:35Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1","display_name":"nested_1","type":"directory","size":null,"created_at":"2021-12-01T23:25:35Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_ListForRecursive/nested_1
    method: GET
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1","display_name":"nested_1","type":"directory","size":null,"created_at":"2021-12-01T23:25:35Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1/nested_2","display_name":"nested_2","type":"directory","size":null,"created_at":"2021-12-01T23:25:36Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_ListForRecursive/nested_1/nested_2
    method: GET
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1/nested_2","display_name":"nested_2","type":"directory","size":null,"created_at":"2021-12-01T23:25:36Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1/nested_2/nested_3","display_name":"nested_3","type":"directory","size":null,"created_at":"2021-12-01T23:25:36Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"TestClient_ListForRecursive/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T16:26:23Z","mtime":"2022-10-26T16:26:23Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_ListForRecursive/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T16:26:23Z","mtime":"2022-10-26T16:26:23Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c46b86c7-070a-40a5-b2e9-378778bd07ff?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T162627Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=9afacd4356314aba7cfff7bbbc5b81e472d37912be4fcbf4a1e1ae2f1fee7b0a"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/c46b86c7-070a-40a5-b2e9-378778bd07ff?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T162627Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=9afacd4356314aba7cfff7bbbc5b81e472d37912be4fcbf4a1e1ae2f1fee7b0a
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Wed, 26 Oct 2022 16:26:23 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 5C30J3WVQ33MRACK
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_ListForRecursive/nested_1/nested_2/nested_3
    method: GET
  response:
    body: '{"path":"TestClient_ListForRecursive/nested_1/nested_2/nested_3","display_name":"nested_3","type":"directory","size":null,"created_at":"2021-12-01T23:25:36Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_ListForRecursive/nested_1/nested_2/nested_3?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_ListForRecursive/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-26T16:26:24Z","mtime":"2022-10-26T16:26:24Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
