---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/golib
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"1097233d-e5a9-4596-b829-ee09cc6bbd35","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900126","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/522afa22-bde3-4669-b209-20d5d6d70fca?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=8wO43QGUtq_RWwq26PWo.A0iNkQB2iYnhmMZF5xQB0jElwka4SMJB5gjfKP3f2jrajP_iVUCDEiyJO0Ennwg2PMDcvnBMsOGN.BFwqdXGyJugZf_8nlBIWATg5sMh8nE\u0026X-Amz-Signature=9d9c99b2ec4411b1500f4b91f961ec1f69a8f1e5d132be22cee8c040706b2688"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/query.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900136","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b65c9730-a178-41fd-be28-f7fe6fa0144c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=gIhzAuamblkNXeYjBQ0SWbZwfuxBC4.Mw45EYNnxXIzs7x4LRjJD2Ad3lkqObEwn5tevVPVzwgkCVkPuhDJ5TPA2qMfJbUjPiVKbFVgnRxDRuZzAg9RkLIh.BMjeXmWm\u0026X-Amz-Signature=427d6dc692275b3be76589075bfac0bdff1d4edb549fc12ca5170fdacf3cd451"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900129","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/244046b2-2298-4cdf-85ab-cc3f2028649a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=PjJEwj_QYsVDrtWhAThulOMf2SLHGJ3CSAhAByJRoAdYO9NhOyYxm.5_EQd30y6gvvCdY0m_VCh5hLZfvrmWuw1FzjMXrvjY6AhSrwOMy13VLhWsS_jzK9RNdFLH.ClF\u0026X-Amz-Signature=c7e5ec2799818ba7758acd49b9f241624478cc8d18682ac59c6da79b9e242f6e"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/export_params.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900135","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a37a7290-1ac2-43c8-9f3a-9fef091dedc3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=A9UhlVJDu_WcuSFOpKshXWvskEDF5mELIZN_y1mH0GjDMImhEEphJCZRXdyf.7g65JEovQVqwVTCB3gYRjfP5lch_vixvd6pqBbhlpCZcIKyillF9f3jE9m80f9QvZzC\u0026X-Amz-Signature=99db9490284a5d83d83b3c1d103a1e8509d801bdab1e3df228c1ff6d9cc3f2e7"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/progresswriter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900128","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/009d68f1-247c-469d-b055-e2adb35f99f9?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=8F71T2Q08gpAhubbzSTsFD0cMCcc88oq.VeyH9KdS9MMbGRRhivnTk7oti05vr6QNlDjJllN8p8bFYapJqEyEzIeeinlqJ8yx5HnfbZ9GmcHejIeij3C59Mva.irVtJH\u0026X-Amz-Signature=28bd2616401b1e966b14c9b30986695faa23473cdc6f3d843b0632032f578368"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/interface.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900138","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/01a35189-e261-4d3a-8ef4-24c13ccdc03a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=jZ0ad._QyCv_VDAuvSJYF56YjZTzw0g1SybEMj4TxlSCXsx2dfVzw_UFTya51qRUoUzmHY9XCLor8AGTFRrJ3TzVPbnhcGLqVPSDH1Rca_Fd2mQLfuZbIRbnRtLWDNeg\u0026X-Amz-Signature=f07369b3ada60c597ab219e6de148f1bf81e1215cb5c776262b934f8b323810b"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/required.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900140","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/227aa4ce-6501-419f-aba9-cd8c4971a76b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=EuXjrDE6I5K2psKHUripcWBiqke.HfOUcn0U3qeef9ZpFpr5mh2LGgv5EI9JKwIzqlHwi625zbUdmQLWIOzPTCA6oGF.hy8WPVCoPqP7pf3kP6IxyMkVX.gvPZDLWlxz\u0026X-Amz-Signature=a29c3f6ec809ef486f58dc72f1a24d2b3d98107b0d4053f851696dd0a3f870c5"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/bool.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900139","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/bbfa4996-e12b-488a-9ebc-5a358a2c3c85?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=2tXKEyoMY_eWyo.DiBJPFihV9jePPhEouN2x8pKNPDOmGBTUF_wYaW0jS4Hq5uxYMzcmybFPz2IJgT.fk3Umb30TIDj3fFpD.rpQPvi02sMvEu2ojCg2bvlqnxJKtRt3\u0026X-Amz-Signature=ce4d05ab0326e47c3f898f692aae6b9aa9866181204bb274cd9a8e141430ee26"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/string.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900142","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3232b173-9f50-4aa4-aa6b-ece2321659f9?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=bE34hrsB3EDKv9NEmwK.wjvutptyLuNQ6I73bWGdbWTe6wSpC.fViyttrHyC5iJUJqLm0U0Krhk8nrG28K9Xhz6Jzzg68DDxftd8gRlQefW0LBPXaPiMHglENAK_L9Fv\u0026X-Amz-Signature=1561d75114f2fe6e1ab258fea09b5e5c89413eeef1932e60154acb43988f8533"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/golib/iter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-26T18:45:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4047900134","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/2dfaa66d-f0b9-4ec4-a5d1-17c4365b8f02?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210326T183029Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=TgR.eCHN4ZuMLFtbjk4js8TQmlXhYoxGHM_1QPnhbsJR.fsWywHGNSHHY3IdMw7gACkyNAVhVr.B5_8i_7TNyYQMzwOxO6P9fvGlCeFsQ09koynsxt4qErqazw07gEVR\u0026X-Amz-Signature=94153e72a596db6db81d622b1230dbd0e436dfbbd65c481571b11085beda03e9"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/appscode/go-querystring/query\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      A struct {\n\tName   string `url:\"name\" required:\"true\"`\n\tAge    int    `url:\"age\"
      required:\"false\"`\n\tIgnore int    `url:\"-\" required:\"false\"`\n}\n\nfunc
      TestCheckRequired_Valid(t *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Name:
      \"Dustin\", Age: 90, Ignore: 50}\n\tvalues, _ := query.Values(a)\n\n\terr :=
      CheckRequired(a, &values)\n\tassert.Equal(err, nil)\n}\n\nfunc TestCheckRequired_Invalid(t
      *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Age: 90}\n\tvalues, _ :=
      query.Values(a)\n\n\terr := CheckRequired(a, &values)\n\tassert.EqualError(err,
      \"missing required field: A{}.Name\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/244046b2-2298-4cdf-85ab-cc3f2028649a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183029Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=PjJEwj_QYsVDrtWhAThulOMf2SLHGJ3CSAhAByJRoAdYO9NhOyYxm.5_EQd30y6gvvCdY0m_VCh5hLZfvrmWuw1FzjMXrvjY6AhSrwOMy13VLhWsS_jzK9RNdFLH.ClF&X-Amz-Signature=c7e5ec2799818ba7758acd49b9f241624478cc8d18682ac59c6da79b9e242f6e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"129a7a11d2f07ee5446398ff07588c99"'
      X-Amz-Request-Id:
      - 8EDCBQPF1VZT6X05
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      TestIter_Next_MaxPages(t *testing.T) {\n\tassert := assert.New(t)\n\tparams
      := ListParams{}\n\tparams.Set(0, 5, \"\", 2)\n\tit := Iter{}\n\tit.ListParams
      = &params\n\n\tit.Query = func() (*[]interface{}, string, error) {\n\t\tret
      := make([]interface{}, params.PerPage)\n\n\t\treturn &ret, \"cursor\", nil\n\t}\n\trecordCount
      := 0\n\tfor it.Next() {\n\t\t[...]
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n)\n\nvar
      QueryEscape = url.QueryEscape\n\nfunc PathEscape(path string) string {\n\tpathParts
      := strings.Split(path, \"/\")\n\tnewParts := make([]string, len(pathParts))\n\n\tfor
      i, part := range pathParts {\n\t\tnewParts[i] = url.PathEscape(part)\n\t}\n\n\treturn
      strings.Join(newParts, \"/\")\n}\n\nfunc BuildPath(resourcePath string, unescapedPath
      string) stri[...]
- request:
    body: "package lib\n\nimport \"io\"\n\ntype ProgressWriter struct {\n\tWriter
      \         io.Writer\n\tProgressWatcher func(int64)\n}\n\nfunc (w ProgressWriter)
      Write(p []byte) (n int, err error) {\n\tn, err = w.Writer.Write(p)\n\n\tw.ProgressWatcher(int64(n))\n\treturn
      n, err\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/009d68f1-247c-469d-b055-e2adb35f99f9?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183029Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=8F71T2Q08gpAhubbzSTsFD0cMCcc88oq.VeyH9KdS9MMbGRRhivnTk7oti05vr6QNlDjJllN8p8bFYapJqEyEzIeeinlqJ8yx5HnfbZ9GmcHejIeij3C59Mva.irVtJH&X-Amz-Signature=28bd2616401b1e966b14c9b30986695faa23473cdc6f3d843b0632032f578368
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"a818d0badee418a848d9dc03b985b244"'
      X-Amz-Request-Id:
      - 8EDES3F14WJDQ9XT
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"fmt\"\n\t\"net/url\"\n\t\"reflect\"\n\t\"strings\"\n)\n\nfunc
      CheckRequired(iStruct interface{}, values *url.Values) error {\n\tvar errors
      = make([]string, 0)\n\tval := reflect.ValueOf(iStruct)\n\tfor val.Kind() ==
      reflect.Ptr {\n\t\tif val.IsNil() {\n\t\t\treturn nil\n\t\t}\n\t\tval = val.Elem()\n\t}\n\n\tif
      iStruct == nil {\n\t\treturn nil\n\t}\n\n\tif val.Kind() != reflect.Struct {\n\t\treturn
      fmt.Errorf(\"CheckR[...]
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\n\t\"github.com/appscode/go-querystring/query\"\n)\n\nfunc
      ExportParams(i interface{}) (url.Values, error) {\n\tv, err := query.Values(i)\n\tif
      err != nil {\n\t\tpanic(err)\n\t}\n\n\treturn v, CheckRequired(i, &v)\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a37a7290-1ac2-43c8-9f3a-9fef091dedc3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183029Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=A9UhlVJDu_WcuSFOpKshXWvskEDF5mELIZN_y1mH0GjDMImhEEphJCZRXdyf.7g65JEovQVqwVTCB3gYRjfP5lch_vixvd6pqBbhlpCZcIKyillF9f3jE9m80f9QvZzC&X-Amz-Signature=99db9490284a5d83d83b3c1d103a1e8509d801bdab1e3df228c1ff6d9cc3f2e7
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"3cc6728f7554f3ea0f53dabed57b19d2"'
      X-Amz-Request-Id:
      - 8ED56Z2NP7QWCCGQ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc String(string string) *string {\n\treturn &string\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3232b173-9f50-4aa4-aa6b-ece2321659f9?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183029Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=bE34hrsB3EDKv9NEmwK.wjvutptyLuNQ6I73bWGdbWTe6wSpC.fViyttrHyC5iJUJqLm0U0Krhk8nrG28K9Xhz6Jzzg68DDxftd8gRlQefW0LBPXaPiMHglENAK_L9Fv&X-Amz-Signature=1561d75114f2fe6e1ab258fea09b5e5c89413eeef1932e60154acb43988f8533
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"cecd1ea94155ea41d1f8f9e0c2f2e0d9"'
      X-Amz-Request-Id:
      - 8ED041BBWFA1R2BG
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Interface() interface{} {\n\tvar i interface{}\n\treturn
      i\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/01a35189-e261-4d3a-8ef4-24c13ccdc03a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183029Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=jZ0ad._QyCv_VDAuvSJYF56YjZTzw0g1SybEMj4TxlSCXsx2dfVzw_UFTya51qRUoUzmHY9XCLor8AGTFRrJ3TzVPbnhcGLqVPSDH1Rca_Fd2mQLfuZbIRbnRtLWDNeg&X-Amz-Signature=f07369b3ada60c597ab219e6de148f1bf81e1215cb5c776262b934f8b323810b
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f7cb73244af2aafb2ced638dc9658dee"'
      X-Amz-Request-Id:
      - 8EDDGM07N21YZ0NR
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Bool(bool bool) *bool {\n\treturn &bool\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/bbfa4996-e12b-488a-9ebc-5a358a2c3c85?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210326T183029Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=2tXKEyoMY_eWyo.DiBJPFihV9jePPhEouN2x8pKNPDOmGBTUF_wYaW0jS4Hq5uxYMzcmybFPz2IJgT.fk3Umb30TIDj3fFpD.rpQPvi02sMvEu2ojCg2bvlqnxJKtRt3&X-Amz-Signature=ce4d05ab0326e47c3f898f692aae6b9aa9866181204bb274cd9a8e141430ee26
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"83789abda0845357c13aa5fa9c8605a2"'
      X-Amz-Request-Id:
      - 8ED91S5GN1MHBZF5
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"129a7a11d2f07ee5446398ff07588c99\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900129","size":"691"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required_test.go
    method: POST
  response:
    body: '{"path":"golib/required_test.go","display_name":"required_test.go","type":"file","size":691,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"72556a26959c471a4b0bff38d08e558b\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900140","size":"1087"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/required.go
    method: POST
  response:
    body: '{"path":"golib/required.go","display_name":"required.go","type":"file","size":1087,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"f20d10453ea1faf1c149d68a137d5f32\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900126","size":"1763"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter_test.go
    method: POST
  response:
    body: '{"path":"golib/iter_test.go","display_name":"iter_test.go","type":"file","size":1763,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"896d351744edbb4420bd736284a1a288\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900136","size":"549"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/query.go
    method: POST
  response:
    body: '{"path":"golib/query.go","display_name":"query.go","type":"file","size":549,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"a818d0badee418a848d9dc03b985b244\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900128","size":"250"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/progresswriter.go
    method: POST
  response:
    body: '{"path":"golib/progresswriter.go","display_name":"progresswriter.go","type":"file","size":250,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"cecd1ea94155ea41d1f8f9e0c2f2e0d9\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900142","size":"68"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/string.go
    method: POST
  response:
    body: '{"path":"golib/string.go","display_name":"string.go","type":"file","size":68,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"3cc6728f7554f3ea0f53dabed57b19d2\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900135","size":"231"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/export_params.go
    method: POST
  response:
    body: '{"path":"golib/export_params.go","display_name":"export_params.go","type":"file","size":231,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"83789abda0845357c13aa5fa9c8605a2\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900139","size":"58"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/bool.go
    method: POST
  response:
    body: '{"path":"golib/bool.go","display_name":"bool.go","type":"file","size":58,"mtime":"2021-03-26T18:30:30Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"b51aa1bbd63521b3e178ed0d97218e82\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900134","size":"3122"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/iter.go
    method: POST
  response:
    body: '{"path":"golib/iter.go","display_name":"iter.go","type":"file","size":3122,"mtime":"2021-03-26T18:30:32Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"f7cb73244af2aafb2ced638dc9658dee\"","etags[0][part]":"1","provided_mtime":"2021-03-26T11:30:30-07:00","ref":"put-4047900138","size":"75"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/golib/interface.go
    method: POST
  response:
    body: '{"path":"golib/interface.go","display_name":"interface.go","type":"file","size":75,"mtime":"2021-03-26T18:30:32Z","provided_mtime":"2021-03-26T18:30:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
