---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"5db74a45-3dbf-4fff-8bc6-66de85028d6c","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"653c53e5-2d49-4935-950b-b02c9d9f3157","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"30d1ccdd-a08a-4a4e-8a21-c98832f9f099","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"51654b60-b6e3-48d4-9e49-98e762f439a7","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-14T23:53:39Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-215491153","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/670e0e3f-650e-40d3-b234-750d8c7bd041?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211014T233839Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=f2_t2.8XcodCRePxHI3BceF.pZlRBhKpXQstOVPuk5j1yvVHz5y8vcqo79vGq3Np74hCNUTuF5kvghsFC63uGFb9cKUFeBua3qSY5TkX8PoM2HeQ3kSII9PmcMznL_Tx\u0026X-Amz-Signature=3f0400a3f656e98c8b1a2e62ac52cc830ea57a041829e0a7e374b0fa6b56c053"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/670e0e3f-650e-40d3-b234-750d8c7bd041?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T233839Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=f2_t2.8XcodCRePxHI3BceF.pZlRBhKpXQstOVPuk5j1yvVHz5y8vcqo79vGq3Np74hCNUTuF5kvghsFC63uGFb9cKUFeBua3qSY5TkX8PoM2HeQ3kSII9PmcMznL_Tx&X-Amz-Signature=3f0400a3f656e98c8b1a2e62ac52cc830ea57a041829e0a7e374b0fa6b56c053
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 3QGDX4V01JZ52GTE
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"15e081c59a53cf6aadd83c7dc0e831d3","etags[0][part]":"1","provided_mtime":"2021-10-14T16:38:39-07:00","ref":"put-215491153","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-10-14T23:38:40Z","provided_mtime":"2021-10-14T23:38:39Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-14T23:53:40Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-215491250","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b0eb982a-1d9b-48d7-a4dc-1d54ecdd6271?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211014T233840Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=BgaeMijYOCaBsL8749WiKEx6_aJelpd.MRe.ruChYUMNc8OyaipfIYQPGml8iGMnnvPSGtuH7K0npYUY2pyc92NQA2lvd06Xp358PEUsXrGntrG8hiXpsrbWoGNvXoPV\u0026X-Amz-Signature=045e8395969641e76bf057167b7d6b8f2c88978059e8f6c23109c8523ca2e2f5"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b0eb982a-1d9b-48d7-a4dc-1d54ecdd6271?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T233840Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=BgaeMijYOCaBsL8749WiKEx6_aJelpd.MRe.ruChYUMNc8OyaipfIYQPGml8iGMnnvPSGtuH7K0npYUY2pyc92NQA2lvd06Xp358PEUsXrGntrG8hiXpsrbWoGNvXoPV&X-Amz-Signature=045e8395969641e76bf057167b7d6b8f2c88978059e8f6c23109c8523ca2e2f5
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 605X7H73KFZMDMTY
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"15e081c59a53cf6aadd83c7dc0e831d3","etags[0][part]":"1","provided_mtime":"2021-10-14T16:38:40-07:00","ref":"put-215491250","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"mtime":"2021-10-14T23:38:41Z","provided_mtime":"2021-10-14T23:38:40Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_Downloader_Move_Source_Missing_Dir
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir","display_name":"TestClient_Downloader_Move_Source_Missing_Dir","type":"directory","size":null,"mtime":"2021-10-14T23:38:41Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1","display_name":"nested_1","type":"directory","size":null,"mtime":"2021-10-14T23:38:41Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2","display_name":"nested_2","type":"directory","size":null,"mtime":"2021-10-14T23:38:41Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3","display_name":"nested_3","type":"directory","size":null,"mtime":"2021-10-14T23:38:41Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false},{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-10-14T23:38:40Z","provided_mtime":"2021-10-14T23:38:39Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"mtime":"2021-10-14T23:38:41Z","provided_mtime":"2021-10-14T23:38:40Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-10-14T23:38:40Z","provided_mtime":"2021-10-14T23:38:39Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/670e0e3f-650e-40d3-b234-750d8c7bd041?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211014T233843Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=82e2e13a84fc7de9b70f440ca905eb57457593ba1062e300a3dc9eaa45d5e912"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/670e0e3f-650e-40d3-b234-750d8c7bd041?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T233843Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=82e2e13a84fc7de9b70f440ca905eb57457593ba1062e300a3dc9eaa45d5e912
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Thu, 14 Oct 2021 23:38:40 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - KV4P14BK6KPY1N87
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"destination":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/3.text"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/move/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"error":"The destination parent does not exist.","http-code":409,"instance":"fa2a8cbb-8465-46df-8277-2f4ece6b7e78","title":"Destination
      Parent Does Not Exist","type":"processing-failure/destination-parent-does-not-exist"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f7bf9d59-6a40-4c78-97a8-e4ac7beb6701","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"destination":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/nested_3/4.text"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/move/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"error":"The destination parent does not exist.","http-code":409,"instance":"93c72969-f9e9-48fa-a533-516d55cc1432","title":"Destination
      Parent Does Not Exist","type":"processing-failure/destination-parent-does-not-exist"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1
    method: POST
  response:
    body: '{"display_name":"nested_1","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2
    method: POST
  response:
    body: '{"display_name":"nested_2","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"display_name":"nested_3","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_Downloader_Move_Source_Missing_Dir-moved
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir-moved","display_name":"TestClient_Downloader_Move_Source_Missing_Dir-moved","type":"directory","size":null,"mtime":"2021-10-14T23:39:31Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
