---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/empty%20folder
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"cae19bec-1c87-4818-b269-139ed215848c","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/empty%20folder?page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cached-Response:
      - "1622129278"
    status: 200 OK
    code: 200
    duration: ""
