---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/
    method: GET
  response:
    body: '[{"path":"aws-sftp","display_name":"aws-sftp","type":"directory","size":null,"created_at":"2022-02-07T19:13:01Z","mtime":"2022-02-07T19:13:01Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"azure","display_name":"azure","type":"directory","size":null,"created_at":null,"mtime":"2023-01-02T19:03:42Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cached-Response:
      - "1682112627"
    status: 200 OK
    code: 200
    duration: ""
