---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"5c397688-224d-4cd8-9293-e7083e049962","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"617ae5cd-b4a8-4ee5-b951-7f63f599a1d4","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"cc896ba0-bb01-4b44-a491-a06e7d55e14a","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file_to_implicit/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f7fb3f01-714a-4590-a849-704609f5a583","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file_to_implicit/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-21T19:40:21Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-59027882","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8deeda7d-9369-4231-bd6b-5b531363e86b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210921T192521Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=lI6DkcUJdrknAvw05H3.T28G1qC1Xs.3pnRrC_tTYKEfYzGd5oqPIeKBb936G2wY4QmmTnydkpF1lVgKIGzX7LE7PnuUC4670dQTMcWdE8VDJ436jmz7kGLFW46J8q5p\u0026X-Amz-Signature=b5067e26f78f69717f4e120a87200beef243d923718f37e17c167366aec7c414"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8deeda7d-9369-4231-bd6b-5b531363e86b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210921T192521Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=lI6DkcUJdrknAvw05H3.T28G1qC1Xs.3pnRrC_tTYKEfYzGd5oqPIeKBb936G2wY4QmmTnydkpF1lVgKIGzX7LE7PnuUC4670dQTMcWdE8VDJ436jmz7kGLFW46J8q5p&X-Amz-Signature=b5067e26f78f69717f4e120a87200beef243d923718f37e17c167366aec7c414
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 8T84SEFTSVGYHR6G
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-09-21T12:25:21-07:00","ref":"put-59027882","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-09-21T19:25:21Z","provided_mtime":"2021-09-21T19:25:21Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file_to_implicit/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-21T19:40:22Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-59027975","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/9a5adb54-17e8-4740-894d-9051024723c0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210921T192522Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=dWREDUM7rTJ884ia5lklfZoy.MlGgcNg6VnqUpmzejyAIat6.Oz2HCYKhCcADCeI76qyEj282ogT0XvngX6RAduQ2cjsIaPHCvIE4BTrNTHB8R7fM94EFGWpo9tnXFF0\u0026X-Amz-Signature=d9e67e7f2de945e18fc727aba08e97593a3c1d3488b59f37fdb98542f66328c5"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/9a5adb54-17e8-4740-894d-9051024723c0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210921T192522Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=dWREDUM7rTJ884ia5lklfZoy.MlGgcNg6VnqUpmzejyAIat6.Oz2HCYKhCcADCeI76qyEj282ogT0XvngX6RAduQ2cjsIaPHCvIE4BTrNTHB8R7fM94EFGWpo9tnXFF0&X-Amz-Signature=d9e67e7f2de945e18fc727aba08e97593a3c1d3488b59f37fdb98542f66328c5
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - KT774ZJQT1ZXRS5B
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"15e081c59a53cf6aadd83c7dc0e831d3\"","etags[0][part]":"1","provided_mtime":"2021-09-21T12:25:22-07:00","ref":"put-59027975","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"mtime":"2021-09-21T19:25:22Z","provided_mtime":"2021-09-21T19:25:22Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/file_to_implicit/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-09-21T19:25:21Z","provided_mtime":"2021-09-21T19:25:21Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/file_to_implicit/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"file_to_implicit/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"mtime":"2021-09-21T19:25:21Z","provided_mtime":"2021-09-21T19:25:21Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8deeda7d-9369-4231-bd6b-5b531363e86b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210921T192523Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=974404dbf53fe392765d24791b0ff0131a246fba6c986604d8695436901e694f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8deeda7d-9369-4231-bd6b-5b531363e86b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210921%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210921T192523Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=974404dbf53fe392765d24791b0ff0131a246fba6c986604d8695436901e694f
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Tue, 21 Sep 2021 19:25:22 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 9W3BWA128HE7P6QJ
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
