---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/go-from-dot
    method: POST
  response:
    body: '{"display_name":"go-from-dot","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/download.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108858","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/a44aebe6-7c49-4158-96c5-588c68f61875?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155653Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=R_9TQCS3oKOvVgZ60hw9Hd59AN2jQUxEyGuqh1GbaZSVQZk6oIFk1Gnl090HbkSy3P4EjzJptJrYb4WzLCAvFA.BQXGGOphO.CL7O1DlCySEwEh8swawKSvk.SGLG_vk\u0026X-Amz-Signature=db359f9566658e2ffba677168d1254c05f7dd1c58a77847067ad0760f4d053d9"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/client.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108857","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1248a3e3-362d-4269-9e20-5eec2bcb3427?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155653Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=PtnhQjXlB3Q4Y3N5o9j.3OhGIACychewukST22QUOlcOjFPkZrxkvU1FQfaztqau2ARyzb23v6br3EJK7n0yJv_FueTPyuqRfPgEOyapEcYIdw2gDaUKnKhMAe4kqbE_\u0026X-Amz-Signature=bc24a4d21ffae620ab9ff96be5caf2d11730ece72431cf3c4cce3f47478e14e9"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/upload.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108859","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/78e8f844-6d03-4678-83ac-c5badbb2f161?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155653Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=_eeT45k7rl1NhrME1LbsSE8l9asNfrXMa_rfRLOTH1tKheq6ogxXBaZO6iSvl5Jzk2wslIozPA6TpXwTUNqWYUSxlxxkzuYbdLpVqOmTBfPRRVNOZiL3jixpOHnmBTnD\u0026X-Amz-Signature=d684301464f06331f93c23f5d4c3783c55166aa4294a469a995cef3265767aaf"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/client_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108861","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/70ea47cf-d48c-46cf-b82c-cb43aef1a19a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155653Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=QrjRchrHnGAm.L4yip_GrDWFtUK2Rjf8zvijeKp4SFV65OOH6JMvl8HzjWX3yd0ZuS9PNyrcmStLnE3fblYgCEAOjBxmR.8fPWHpgAgg31qDOlwDJrXDa94ZJFPPyMLC\u0026X-Amz-Signature=f30f90a93f8f695ac719c9be35815bdfe0f8c0389adb278bc28ccb748a5199c6"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/proxyreader_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108860","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/eb594238-4ea0-41fe-ab09-00d0aa18d7da?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155653Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=1Z1jSWlMos0wlJVXD2AWqIfrQfLnQXOWs1EfIq3MJL7uCLLcYgV2kcxh1SK2kkuXvSzvePRy6R9lWlhnV3Mli6ADVJy3RqlYiekgLfpXDgFH5fjlL3URHq5xaoyqZANb\u0026X-Amz-Signature=3c0f70e155ba39def892fb1bc3febb976c35f5122eb3e99832cc52b0b487f1d8"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_UploadFolder.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:11:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451108866","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/457ab66a-d7af-4cc4-a6cc-642820beb1c9?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155653Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=L4T1qkW4NeU1EVnLcCNrBNROnEarDP7PABC32DvQRvRLCYqw.l.ZepJWqEXVBtoJ8KLc10NFwB4zP8wR.jbnS_PEbXa.8JNO0SEZ3qogSotJvJKJQvejtrp6iQQQz_h9\u0026X-Amz-Signature=631e995158c1155b80337a23604c2ac889dc5b87f78166396f8f11c187bd3393"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package file\n\nimport (\n\t\"io\"\n\n\tfiles_sdk \"github.com/Files-com/files-sdk-go/v2\"\n\tlib
      \"github.com/Files-com/files-sdk-go/v2/lib\"\n)\n\ntype Client struct {\n\tfiles_sdk.Config\n}\n\nfunc
      (c *Client) Find(Path string) (files_sdk.File, error) {\n\tfile := files_sdk.File{}\n\tpath
      := lib.BuildPath(\"/files/\", Path)\n\texportParams, err := lib.ExportParams(lib.Interface())\n\tif
      err != nil {\n\t\treturn file, err\n\t}\n\tdata, _, err := fi[...]
- request:
    body: "package file\n\nimport (\n\t\"fmt\"\n\t\"math\"\n\t\"net/http\"\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n\n\tfiles_sdk
      \"github.com/Files-com/files-sdk-go/v2\"\n\t\"github.com/Files-com/files-sdk-go/v2/folder\"\n\t\"github.com/Files-com/files-sdk-go/v2/lib\"\n\t\"github.com/zenthangplus/goccm\"\n)\n\nfunc
      (c *Client) DownloadToFile(params files_sdk.FileDownloadParams, filePath string)
      (files_sdk.File, error) {\n\tout, err := os.Create(filePath)\n\tif[...]
- request:
    body: "package file\n\nimport (\n\t\"io\"\n\t\"os\"\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      TestProxyReader_Read_1(t *testing.T) {\n\tassert := assert.New(t)\n\n\tlocalFile,
      err := os.Open(\"../LICENSE\")\n\tassert.NoError(err)\n\treader := &ProxyReader{\n\t\tReaderAt:
      localFile,\n\t\toff:      100,\n\t\tlen:      101,\n\t\tonRead:   nil,\n\t\tread:
      \    0,\n\t}\n\n\tb, err := io.ReadAll(reader)\n\tassert.NoError(err)\n\tassert[...]
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"f3cecaa4f356b24a47de843f9715e830\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:53-07:00","ref":"put-4451108857","size":"3553"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/client.go
    method: POST
  response:
    body: '{"path":"go-from-dot/client.go","display_name":"client.go","type":"file","size":3553,"mtime":"2021-05-27T15:56:53Z","provided_mtime":"2021-05-27T15:56:53Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"9f5441997386adc5c43a781210ee4315\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:53-07:00","ref":"put-4451108858","size":"6223"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/download.go
    method: POST
  response:
    body: '{"path":"go-from-dot/download.go","display_name":"download.go","type":"file","size":6223,"mtime":"2021-05-27T15:56:53Z","provided_mtime":"2021-05-27T15:56:53Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"04f0bdeae24256dff8e065160fe047a4\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:53-07:00","ref":"put-4451108859","size":"11902"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/upload.go
    method: POST
  response:
    body: '{"path":"go-from-dot/upload.go","display_name":"upload.go","type":"file","size":11902,"mtime":"2021-05-27T15:56:53Z","provided_mtime":"2021-05-27T15:56:53Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"8a3a43df8cb66906143570ddaa5d5709\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:53-07:00","ref":"put-4451108860","size":"881"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/proxyreader_test.go
    method: POST
  response:
    body: '{"path":"go-from-dot/proxyreader_test.go","display_name":"proxyreader_test.go","type":"file","size":881,"mtime":"2021-05-27T15:56:53Z","provided_mtime":"2021-05-27T15:56:53Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "package file\n\nimport (\n\t\"fmt\"\n\t\"io/ioutil\"\n\t\"net/http\"\n\t\"os\"\n\t\"path\"\n\t\"path/filepath\"\n\t\"strings\"\n\t\"sync\"\n\t\"testing\"\n\n\tfiles_sdk
      \"github.com/Files-com/files-sdk-go/v2\"\n\t\"github.com/Files-com/files-sdk-go/v2/folder\"\n\t\"github.com/Files-com/files-sdk-go/v2/lib\"\n\t\"github.com/dnaeon/go-vcr/cassette\"\n\trecorder
      \"github.com/dnaeon/go-vcr/recorder\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      CreateC[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/golib
          method: POST
        response:
          body: '{"display_name":"golib","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
          headers:
            Content-Type:
            - applicati[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"152549d6004417488fb9d6efedf9c480\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:53-07:00","ref":"put-4451108861","size":"16449"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/client_test.go
    method: POST
  response:
    body: '{"path":"go-from-dot/client_test.go","display_name":"client_test.go","type":"file","size":16449,"mtime":"2021-05-27T15:56:54Z","provided_mtime":"2021-05-27T15:56:53Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"f9e32016de62a81ac8117a65c7e543f9\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:56:54-07:00","ref":"put-4451108866","size":"50695"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/fixtures/TestClient_UploadFolder.yaml
    method: POST
  response:
    body: '{"path":"go-from-dot/fixtures/TestClient_UploadFolder.yaml","display_name":"TestClient_UploadFolder.yaml","type":"file","size":50695,"mtime":"2021-05-27T15:56:54Z","provided_mtime":"2021-05-27T15:56:54Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/go-from-dot
    method: DELETE
  response:
    body: '{"error":"Folder go-from-dot not empty","http-code":422,"instance":"c5283efb-ac0f-4809-90be-6eb7d3acb2c8","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/go-from-dot?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
