---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file-fixtures
    method: POST
  response:
    body: '{"display_name":"file-fixtures","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFolder_Dot.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:15Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860860","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/23fc8e74-e5a5-4f9a-8cc5-ec493f6ced75?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162915Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=mwdV0Z9Of.cGPUheH2mjG6WhQUvLgqrsxjlCd8fLoEFopcKf0y0LAWbD2MVMDSLVvJRBeJY2adBzOHc1JMtlzd025r5gKKN5.CgEjk0fMgky96_hlP8dDxAJjEP8kfuo\u0026X-Amz-Signature=0ac02fab27d0cf8142686db4a52434e9d5f3ea0fc8944402c289ec553e58e155"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFolder.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:15Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169860859","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/493f7a96-76ef-496e-9f36-707316dcb16d?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162915Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=OjJ.pHv5Xp_ig7XEhuZZh4h6qMCEwuj5NDYw53hx3CTOLA3jBkHKenvCxzmoV.GZdTypSsy4YH.GC4p36bATrmNVsyBC9crWgSx_9yl1qnCNuy3jyszvOavD1fmOdEKN\u0026X-Amz-Signature=cffd83e151622d102b3aab3183b6adb6388cbde3ad039396526972f47ff23e23"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/golib
          method: POST
        response:
          body: '{"display_name":"golib","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
          headers:
            Content-Type:
            - applicati[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/go-from-dot
          method: POST
        response:
          body: '{"display_name":"go-from-dot","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
          headers:
            Content-Type:
           [...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"f58d6ccddc2d66a6914a02680ca7975d\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:15-07:00","ref":"put-4169860859","size":"50695"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFolder.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFolder.yaml","display_name":"TestClient_UploadFolder.yaml","type":"file","size":50695,"mtime":"2021-04-14T16:29:16Z","provided_mtime":"2021-04-14T16:29:15Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"0391ac602b13b12274c0e313908c7972\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:16-07:00","ref":"put-4169860860","size":"123507"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFolder_Dot.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFolder_Dot.yaml","display_name":"TestClient_UploadFolder_Dot.yaml","type":"file","size":123507,"mtime":"2021-04-14T16:29:16Z","provided_mtime":"2021-04-14T16:29:16Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/file-fixtures
    method: DELETE
  response:
    body: '{"error":"Folder file-fixtures not empty","http-code":422,"instance":"25cd42f6-24e6-412e-ad58-3f3af5dfdff9","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/file-fixtures?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
