---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/go-from-dot
    method: POST
  response:
    body: '{"display_name":"go-from-dot","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/client_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610264","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/00153f92-29ae-4781-8df2-c2b947c2bcd9?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=LyIFisbguXQmfFHF9ahXQ6D733q25HSi6_.agqkmCD_9Xit4v.IFIG8fQkCJ8QXT2e835EqWdoslf_E3okRqy1VxvzwP9kpRtFLRYhSYxXRrnWveRZBTolTdSV7NsJxm\u0026X-Amz-Signature=f5a773fef3f4b1307ba435a384e1becb7343ed4df0981b420699bf06a3368aa5"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/client.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610265","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d1c293f2-3de4-43d0-8847-4da3cc5b257b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=JGhf6lbZ0n0G.MroXbPhlt50.eQVTImEY_34WZzySmJijOweH0WmPTkkQbcAFoAlrdkNgZDa20Ld9DK.JV8PHzMr8SEPDIS.KYJwygrGTIATGpXVAlwFuHCMm6ub43I2\u0026X-Amz-Signature=c14fa363b39af111fe22f45ddf325bcbf2268ae437ac914fa5ac0281c42eb4e0"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/upload.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610266","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4f20510b-78f8-4bd7-b1d5-5daad85f7c54?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=RO5G2N737lQmwgMf3bse3REAa0NgJwjSomSYNHRpI8Uer0Q6LiceqOkytnLaC1_5nhSGrdNYKF_0ZUFlQTchFLTuijidEGQhbpQ6LG5GVP1X.zZn1yXM32tqbV_X684r\u0026X-Amz-Signature=5e6625fb21fc3f6248e00ebc560faefb66ed5bcf42984f42818df7678bca721a"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/download.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610263","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/dc8a644c-2932-42bf-8b59-d93cdf44e9b7?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=t7_kpD6jLFzGbyA_veOgt9DPREBECWrUQnQJ.x5QjIIRY0eChiMIS9tXx16WzoLjzQJ7kIp.7LOyKdLL_EMk.nWczJcyJUDb7XKcXLg83HLNTYA_92dBGkcfSLYtiEDM\u0026X-Amz-Signature=293e6a1fce1fb850ea5fb9bd9ccc06f001dcb494e736fb9e27ca75324890e4ed"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_DownloadFolder_file_to_file.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610267","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/fe5d649b-c9eb-48e4-baf5-77a2b9e71a91?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=dNwJ.8wJRX21SQ.0SlyQV.j0C1NxRoc3DIWuy7WVeRmGzIZmEUUkw8ceW7w_bDUqKto5E1ccym850bbzAGU8j9E5mt_PN0wOWoedG5i1pneYHOp4rNTz86Vzg3TZZWJk\u0026X-Amz-Signature=365fe130d1b9eb2213cacfc5cc6ba7e0b4a03a4c958db22c86475f2b4b35eb8b"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_UploadFile_To_NonExistingPath.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610277","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b490b699-0f20-4256-92bb-eb00b7640085?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=yqDtV8YHWnXwA2lPACMKw5Shtrg2gmGVipXVx_K7k84VyghQVGR0JBUK2ZC5DenUNxStb0YVJ0clCWWcL9H8l8fka9_J4JxnZv5Fd59OEylMGAMqRzJGlUC04JNzW5TO\u0026X-Amz-Signature=e16fcc55b1a441148cec75247f51a3e01a0a65b1afdb6d40c23cd96998f12d10"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_UploadFile_To_NonExistingPath_WithSlash.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610272","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/472dfcc2-7e70-4347-a2f3-2092d1d473d8?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=BcpNCxprHWasLelfcImP7KccxbDGA9dTSkWMIqo63E_l2k9pGSaSkAztqttlZsLhFZFVj939zRwfxU4DKfbbnWtWgs0MaZnQTB4XyqngbaepQ.gRbdrtPjFCyELhfFgT\u0026X-Amz-Signature=a656c55c99f3e4d331257eb6ee80d1f39f04eee8dffa9c8ace8f041701b48b69"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_UploadFolder.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610268","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3f8d538a-8996-4e46-b7c4-3e08fa79a95f?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=UpL7c6shDx2eOstWdfU0cSDO507rbGLdef37NsV4p_l3p9EEjezMnNquKMsfBMxZoYuf02vqTasqlZ5w1EVeDZ_im3tRhg8GCfaOlMCjkWIPyPA3lzQis6jbKBAs9CW3\u0026X-Amz-Signature=3db7ea646528e43af930f020563d78eb593845f52bebae8239f7c4952d17d9b4"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_UploadFolder_as_file2.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610283","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/cfb516de-df02-4994-a5c6-bec074e3eac3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=95HF2s_1hOPPaHpSednq3iv2chmS0Eh.e.XNJLgn5m4LGJ2ctnC37YA5R_PYFqHU3PVywQDiIdpBgm1fUJZCQILLSdZlitl2c7MV4N2C0UgyTgkKEn6GaRhjBe_nOGlv\u0026X-Amz-Signature=400e90ff40d2342459d9996c5532b26c9d3783e224d28c70d9b3fec327040b84"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_DownloadFolder_file_to_implicit.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610278","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/ad7eb425-07e3-4a9a-8fea-3949e401037f?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171329Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Zo7yGGQpPixZNzl54pYTUm9pdVDzBRaX_Q7utFpFIl1lyjqe_sQEwqtlD.R7KTtyHrFD4xTN00SPMr3mLbUXX9co4LFtnhLRI.RLMuNM6RlBYTV1G8KsbZFDvhbrT3oo\u0026X-Amz-Signature=acfde883fcb2a8fabb18aaa9a3ca15bc5e8d37715ff8e80446dcd98d8c43b241"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package file\n\nimport (\n\t\"io\"\n\n\tfiles_sdk \"github.com/Files-com/files-sdk-go\"\n\tlib
      \"github.com/Files-com/files-sdk-go/lib\"\n)\n\ntype Client struct {\n\tfiles_sdk.Config\n}\n\nfunc
      (c *Client) Find(Path string) (files_sdk.File, error) {\n\tfile := files_sdk.File{}\n\tpath
      := lib.BuildPath(\"/files/\", Path)\n\texportParams, err := lib.ExportParams(lib.Interface())\n\tif
      err != nil {\n\t\treturn file, err\n\t}\n\tdata, _, err := files_sd[...]
- request:
    body: "package file\n\nimport (\n\t\"fmt\"\n\t\"math\"\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n\n\tfiles_sdk
      \"github.com/Files-com/files-sdk-go\"\n\t\"github.com/Files-com/files-sdk-go/folder\"\n\t\"github.com/Files-com/files-sdk-go/lib\"\n\t\"github.com/zenthangplus/goccm\"\n)\n\nfunc
      (c *Client) DownloadToFile(params files_sdk.FileDownloadParams, filePath string)
      (files_sdk.File, error) {\n\tout, err := os.Create(filePath)\n\tif err != nil
      {\n\t\t[...]
[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: ""
          form: {}
          headers:
          url: https://app.files.com/api/rest/v1/files/taco
          method: DELETE
        response:
          body: '{"error":"Not Found","http-code":404,"instance":"ebf0dbd4-9554-4871-80ce-3ce6b2f488bc","title":"Not
            Found","type":"not-found"}'
          headers:
            Content-Type:
            - application/json
          status: 404 Not Found
          code: 404
          duration: ""
      - request:
          body: ""
          form: {}
          headers:
          url: https://app.files.com/api/rest/v1/files/taco
          method: GET
        response:
          body: '{"error":"Not Found","http-code":404,"instance":"487fa9c3-8efe-4502-9c7b-bd1f00bb0b07","title":"Not
            F[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file
          method: POST
        response:
          body: '{"display_name":"TestClient_DownloadFolder_file_to_file","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
  [...]
- request:
    body: "package file\n\nimport (\n\t\"fmt\"\n\t\"io/ioutil\"\n\t\"net/http\"\n\t\"os\"\n\t\"path\"\n\t\"path/filepath\"\n\t\"strings\"\n\t\"sync\"\n\t\"testing\"\n\n\tfiles_sdk
      \"github.com/Files-com/files-sdk-go\"\n\t\"github.com/Files-com/files-sdk-go/folder\"\n\t\"github.com/Files-com/files-sdk-go/lib\"\n\t\"github.com/dnaeon/go-vcr/cassette\"\n\trecorder
      \"github.com/dnaeon/go-vcr/recorder\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      CreateClient(fix[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: ""
          form: {}
          headers:
          url: https://app.files.com/api/rest/v1/files/docs
          method: DELETE
        response:
          body: '{"error":"Not Found","http-code":404,"instance":"f0b6810f-17a4-4058-8e65-50a4504fbdeb","title":"Not
            Found","type":"not-found"}'
          headers:
            Content-Type:
            - application/json
          status: 404 Not Found
          code: 404
          duration: ""
      - request:
          body: ""
          form: {}
          headers:
          url: https://app.files.com/api/rest/v1/files/docs
          method: GET
        response:
          body: '{"error":"Not Found","http-code":404,"instance":"69586306-a3d0-4cb7-8edc-abcdf68afbb6","title":"Not
            Found","type":"not-found"}'
          headers:
            Content-Type:
            - application/json
          status: 404 Not Found
          code: 404
          duration: ""
      - request:
          body: '{"mkdir_parents":"true","part":"1"}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/file_actions/begin_upload/docs/LICENSE
          method: POST
        response:
          body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T00:22:02Z","headers":{},"http_method":"PUT","next_partsize":6291456,"p[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{"part":"1"}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/file_actions/begin_upload/LICENSE
          method: POST
        response:
          body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000[...]
[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/file_to_implicit
          method: POST
        response:
          body: '{"error":"The destination exists.","http-code":422,"instance":"e053c2a7-8da6-4dfc-a7c7-cb77ad1db4cb","title":"Destination
            Exists","type":"processing-fail[...]
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"65b44b168f6f4c1a050109e21fa17f1b\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610263","size":"5985"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/download.go
    method: POST
  response:
    body: '{"path":"go-from-dot/download.go","display_name":"download.go","type":"file","size":5985,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/golib
          method: POST
        response:
          body: '{"error":"The destination exists.","http-code":422,"instance":"103ff6cc-d03c-4047-a119-7476de8e861c","title":"Destination
            Exists","type":"processing-failure/destina[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"bcc684a0e701a8bb0b9e3f976cc465f8\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610264","size":"14581"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/client_test.go
    method: POST
  response:
    body: '{"path":"go-from-dot/client_test.go","display_name":"client_test.go","type":"file","size":14581,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"17f5673a323a6289820826b017c5cf8d\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610267","size":"19094"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/fixtures/TestClient_DownloadFolder_file_to_file.yaml
    method: POST
  response:
    body: '{"path":"go-from-dot/fixtures/TestClient_DownloadFolder_file_to_file.yaml","display_name":"TestClient_DownloadFolder_file_to_file.yaml","type":"file","size":19094,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"0e6111212e4eac913c59985ee05166e8\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610277","size":"12935"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/fixtures/TestClient_UploadFile_To_NonExistingPath.yaml
    method: POST
  response:
    body: '{"path":"go-from-dot/fixtures/TestClient_UploadFile_To_NonExistingPath.yaml","display_name":"TestClient_UploadFile_To_NonExistingPath.yaml","type":"file","size":12935,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_DownloadFolder_Smart.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610426","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/bea864ab-ffca-41aa-b1dd-3657a5dc2ae0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171330Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=kpQbDqa5c1MUkonYerpOjw53swGQOVqh4oD.mk4OSmIoLO7Gq4iJ9Mmfx9Y7XPhyDAa3pSD4UgT9GIz_l57lfPzjO6jwGTG0Zplw3lij8EQdAcbahfHElFoP1W8FFiwZ\u0026X-Amz-Signature=b119ff4f9a637de8bc502aac14e547213a52f5d4fe9d621a64421fd81dd80b88"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"b32f2c6f708588b2cf425d3bd80eb5fb\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610283","size":"10883"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/fixtures/TestClient_UploadFolder_as_file2.yaml
    method: POST
  response:
    body: '{"path":"go-from-dot/fixtures/TestClient_UploadFolder_as_file2.yaml","display_name":"TestClient_UploadFolder_as_file2.yaml","type":"file","size":10883,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"277b549c7ca9f4de3373318765b52d2c\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610265","size":"3304"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/client.go
    method: POST
  response:
    body: '{"path":"go-from-dot/client.go","display_name":"client.go","type":"file","size":3304,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"0ac5823c0aba53d002607561f80e573c\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610278","size":"18978"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/fixtures/TestClient_DownloadFolder_file_to_implicit.yaml
    method: POST
  response:
    body: '{"path":"go-from-dot/fixtures/TestClient_DownloadFolder_file_to_implicit.yaml","display_name":"TestClient_DownloadFolder_file_to_implicit.yaml","type":"file","size":18978,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"dd9ca9a5f7b72e7827711b5d101226fa\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:13:30-07:00","ref":"put-4078610266","size":"10102"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/upload.go
    method: POST
  response:
    body: '{"path":"go-from-dot/upload.go","display_name":"upload.go","type":"file","size":10102,"mtime":"2021-03-31T17:13:30Z","provided_mtime":"2021-03-31T17:13:30Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_UploadFile.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:28:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078610444","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/00644a45-0d6a-4871-8ecd-003dc92f3d96?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T171330Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=.3TgiHFl3h5u6elnN08VgGL1PPAqcnGTwF6xz46GQXGpL60jT6jRPMeZKS_4CJQ0qJC3ag.GeJkPITiAucTv4JuF4s3P3MoGy8QNqo9MkubEraXME8llEGDFI3zYfkS8\u0026X-Amz-Signature=ccecc6a9aad440408ccd4c289520152d8330835dd1acb69969f75201ccbe297c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/fixtures/TestClient_UploadFile_To_Existing_Dir.yaml
    method: POST
  response:
[...]
