---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/zero_byte_folder
    method: POST
  response:
    body: '{"path":"zero_byte_folder","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"zero_byte_folder","type":"directory","size":null,"created_at":"2024-11-13T21:14:43Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-11-13T21:14:43Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/zero_byte_folder/zero-byte-file.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-11-10T18:36:59Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3011675882","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8bec1310-a417-425d-922f-6604a48f3cbe?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221110%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221110T182159Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=mN1HiW3iU1VpRCAueXhuQO1kboe719i1WdqK9tgb7_6NnZF09Ff9MlfXLOf69nn9pACdyHBN4ggnyJsA5FqH7OmHWa0w2yeaF9mqS0sjqcUYXxWJYFCjjTgVzXV4zIIe\u0026X-Amz-Signature=68c89616c20d5a850bb1a988f4f06ece4fd7115e87926eeb531c4f44fb5dd0d6"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8bec1310-a417-425d-922f-6604a48f3cbe?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221110%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221110T182159Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=mN1HiW3iU1VpRCAueXhuQO1kboe719i1WdqK9tgb7_6NnZF09Ff9MlfXLOf69nn9pACdyHBN4ggnyJsA5FqH7OmHWa0w2yeaF9mqS0sjqcUYXxWJYFCjjTgVzXV4zIIe&X-Amz-Signature=68c89616c20d5a850bb1a988f4f06ece4fd7115e87926eeb531c4f44fb5dd0d6
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - QD5F1HGJ3MDS6WQZ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-11-10T10:21:57.9512661-08:00","ref":"put-3011675882"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/zero_byte_folder/zero-byte-file.text
    method: POST
  response:
    body: '{"path":"zero_byte_folder/zero-byte-file.text","display_name":"zero-byte-file.text","type":"file","size":0,"created_at":"2022-11-10T18:22:00Z","mtime":"2022-11-10T18:22:00Z","provided_mtime":"2022-11-10T18:21:57Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/zero_byte_folder
    method: GET
  response:
    body: '{"path":"zero_byte_folder","display_name":"zero_byte_folder","type":"directory","size":null,"created_at":"2022-11-03T21:53:05Z","mtime":"2022-11-10T18:22:00Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/zero_byte_folder/zero-byte-file.text
    method: GET
  response:
    body: '{"path":"zero_byte_folder/zero-byte-file.text","display_name":"zero-byte-file.text","type":"file","size":0,"created_at":"2022-11-10T18:22:00Z","mtime":"2022-11-10T18:22:00Z","provided_mtime":"2022-11-10T18:21:57Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8bec1310-a417-425d-922f-6604a48f3cbe?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221110%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221110T182202Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22zero-byte-file.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=1f9d6ae2c161553b3b2b57e23fd762cdb556dc1eca11e59ceea8d8a47ba044be"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8bec1310-a417-425d-922f-6604a48f3cbe?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221110%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221110T182202Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22zero-byte-file.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=1f9d6ae2c161553b3b2b57e23fd762cdb556dc1eca11e59ceea8d8a47ba044be
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="zero-byte-file.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Thu, 10 Nov 2022 18:22:00 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - M3VT4DW79KSN1DCC
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/zero_byte_folder/zero_byte_folder
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
