---
version: 1
interactions:
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/LICENSE
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:32Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106362","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/06e0bfcc-e551-4c5f-b195-b0bc9ec6e737?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233432Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=sn6lghFyNof0p4bPfdSoma0fX3Tf3LieaMDXZ0Mjt9UrZlRKcmWVksu9SJ.5WfP8_SQWtfqURAQhn0FNfDJMfxmJFQ_TgcPQE2RhkY0Y3Qn_lUXsTq9_vVHPMlbjucA9\u0026X-Amz-Signature=8bd0b0407d1ee7b2d7c495ec6f60a37dd7c159f1e23e2ca486d157e4527557ae"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      The MIT License

      Copyright (c) 2019- Action Verb, LLC (https://www.files.com)

      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to w[...]
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"5b1e5439f3483c0b3e5af1d44889d0f7\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:32-08:00","ref":"put-3243106362","size":"1102"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/LICENSE
    method: POST
  response:
    body: '{"path":"LICENSE","display_name":"LICENSE","type":"file","size":1102,"mtime":"2020-11-16T23:34:33Z","provided_mtime":"2020-11-16T23:34:32Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/LICENSE
    method: GET
  response:
    body: '{"path":"LICENSE","display_name":"LICENSE","type":"file","size":1102,"mtime":"2020-11-16T23:34:33Z","provided_mtime":"2020-11-16T23:34:32Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/06e0bfcc-e551-4c5f-b195-b0bc9ec6e737?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233433Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22LICENSE%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=6b6262fb6572909c57278c1844f06cc2df30f49baa41c688688cab68262e2646"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/06e0bfcc-e551-4c5f-b195-b0bc9ec6e737?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201116T233433Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22LICENSE%22&response-content-type=application%2Focte[...]
