---
version: 1
interactions:
- request:
    body: '{"-":"go-from-dot/3.text","mkdir_parents":true,"size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T19:09:50Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2592124710","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b0857af5-413b-4899-8aaf-f5beb413cea0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T185450Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Eoo_HmJfov1_E.fTWMQeWh6oRR7MtCIYliZKskn0q3y9b5I4FbMvZzYIaomhSVqzh0hlkXRJQMiOq6E1KrwT3zI1DZJqUUmbKNwhQbkc4GAykegQ5lwzI8U_5JufCkko\u0026X-Amz-Signature=59a52e205a322f83ebd98ee7ce3302bd65aee1b266b8677e64f55e5f5e992f2e"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: hello 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b0857af5-413b-4899-8aaf-f5beb413cea0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T185450Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Eoo_HmJfov1_E.fTWMQeWh6oRR7MtCIYliZKskn0q3y9b5I4FbMvZzYIaomhSVqzh0hlkXRJQMiOq6E1KrwT3zI1DZJqUUmbKNwhQbkc4GAykegQ5lwzI8U_5JufCkko&X-Amz-Signature=59a52e205a322f83ebd98ee7ce3302bd65aee1b266b8677e64f55e5f5e992f2e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"dab729aefdf2bfa7ed05b5531dc26118"'
      X-Amz-Request-Id:
      - WTESXQHCWC6B2888
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/06970880-bab4-4740-bef2-ea5b239febad?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T185450Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=9RWH5nZYti3IiJoQBjPk4uVRHuUGvjFCmdB9Ss9XG7NgjMpMwXxUTtjrystBh2phIL0oOLQeuKo6bLw64k_bXPg6a2ZyOooG2ypX8kefPkpwjS_8yNzWZJagPxl3AFp5&X-Amz-Signature=850f9e2a22220b0c3c8e818607e80a27b34a96987533d948e6a7851c8efd15e4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"bb21ec8394b75795622f61613a777a8b"'
      X-Amz-Request-Id:
      - WTEW09EC0Z6WBTS3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/eb13be6b-b820-4500-9625-585714965d1b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T185450Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=K7QcKzF37GFeJH3u6pAd8U_WzYDlgnX9DWMjSJCejDB0ZPjErz6TD.BCiPSEqpkyu5_QoffILEC_4qogRkSaSFF6OprloTAbpSVeWWMu41WERStU10qToy72Rq_AxF7g&X-Amz-Signature=7a6ee14b3b3abb4c31986ac6ac66d90fda14b90774b5c8c3d757343e90187261
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"df0649bc4f1be901c85b6183091c1d83"'
      X-Amz-Request-Id:
      - WTESK32YH57XN2JZ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"go-from-dot/3.text","action":"end","etags":[{"etag":"dab729aefdf2bfa7ed05b5531dc26118","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-04T11:54:49.378349114-07:00","ref":"put-2592124710","size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/go-from-dot/3.text
    method: POST
  response:
    body: '{"path":"go-from-dot/3.text","display_name":"3.text","type":"file","size":7,"created_at":"2022-10-04T18:54:51Z","mtime":"2022-10-04T18:54:51Z","provided_mtime":"2022-10-04T18:54:49Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/go-from-dot
    method: DELETE
  response:
    body: '{"error":"Folder go-from-dot not empty","http-code":422,"instance":"c2426678-f0fd-40d2-9311-2fdddd9e722c","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/go-from-dot?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
