---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test/test
    method: POST
  response:
    body: '{"path":"test/test","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"test","type":"directory","size":null,"created_at":"2024-11-13T21:06:55Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-11-13T21:06:55Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"test/test/1.text","mkdir_parents":true,"size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test/test/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-11-03T20:24:29Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2932344558","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/7ecb259a-ef43-4a82-99e3-3d6cb0f5bfd2?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221103%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221103T200929Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Hgk48skpFT_NzPqLR63ibHykup0ueAhrcJ_Jy4FNzkQ2.2A3E0ZiVXfZEsHPskQdDTSkTebhCzoH9k3EudhcHPFhUIcrGJZBbeem5c6I6swkL8vBW7roXM35ZlBR4qE8\u0026X-Amz-Signature=1646336276d46d7825ea35ed5618b2e46f762121f0aa1dc4deebd9ed20ca8248"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: hello 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/7ecb259a-ef43-4a82-99e3-3d6cb0f5bfd2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221103%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221103T200929Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Hgk48skpFT_NzPqLR63ibHykup0ueAhrcJ_Jy4FNzkQ2.2A3E0ZiVXfZEsHPskQdDTSkTebhCzoH9k3EudhcHPFhUIcrGJZBbeem5c6I6swkL8vBW7roXM35ZlBR4qE8&X-Amz-Signature=1646336276d46d7825ea35ed5618b2e46f762121f0aa1dc4deebd9ed20ca8248
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"df0649bc4f1be901c85b6183091c1d83"'
      X-Amz-Request-Id:
      - 3694RQ3NEVB2Z8ES
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/2dc6b0f9-1f58-490f-a57e-94c25aa27763?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221103%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221103T200929Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=TvVD.5PJ68y75zMJNrSp8Zup5sQGp6XW621yXvzsX.OQZzR5f2.JPzWu8DymdvPb5SI08pJlF5LM0UwZC2nxmIB7CFbs.P.sHbE3JCcFxqOPrPFdqkVPiGnAh5mmOCRd&X-Amz-Signature=7adf2fca795193b44d0c67fc8f7260643bc429889b876593c01946c13bf73d8d
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"bb21ec8394b75795622f61613a777a8b"'
      X-Amz-Request-Id:
      - 369582S2Z44MJWRV
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/d285ee3f-7764-4af1-80cf-c6754397bc76?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221103%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221103T200929Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=LL3UYUHJ_SOndfBfLOeDIQqftz63dKHJI2HsVUGhms0y7A7.SZf4YVdnDw5I8mEUhHp.pkibgo2qdoWxSNXyvXfiCY9G2n6zSpH_mVV7ecH.YM5cZCkvT4Qk.OWiL0x6&X-Amz-Signature=b585769b31aca7ef80383fb5d880d3afda5a64383e60c68e049cbaf4b50cabf5
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"dab729aefdf2bfa7ed05b5531dc26118"'
      X-Amz-Request-Id:
      - 3696K3RJMA5V8YHE
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"test/test/1.text","action":"end","etags":[{"etag":"df0649bc4f1be901c85b6183091c1d83","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-11-03T20:09:28.765662937Z","ref":"put-2932344558","size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test/test/1.text
    method: POST
  response:
    body: '{"path":"test/test/1.text","display_name":"1.text","type":"file","size":7,"created_at":"2022-11-03T20:09:30Z","mtime":"2022-11-03T20:09:30Z","provided_mtime":"2022-11-03T20:09:28Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
