---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-04-14T16:44:32Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4169862083","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a122bc0a-8c3f-44ba-b51f-72e798f71b69?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162932Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=0xXu0oU_hF3QRuJSSoVn1QfpyBvPL7u6IVlzkRlOpQH9rFAoXS1pv_Ul275HzAFTxjP3PQjSQDPpaysiELnNbqHFLFUl2shetpy1yu3QKpUFa2M1_Gg1AnUae8WJ7O_7\u0026X-Amz-Signature=4f8ad684ab949a492567f69c7974198955a7eb601b72339c049aeff2dc0d2c07"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a122bc0a-8c3f-44ba-b51f-72e798f71b69?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162932Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=0xXu0oU_hF3QRuJSSoVn1QfpyBvPL7u6IVlzkRlOpQH9rFAoXS1pv_Ul275HzAFTxjP3PQjSQDPpaysiELnNbqHFLFUl2shetpy1yu3QKpUFa2M1_Gg1AnUae8WJ7O_7&X-Amz-Signature=4f8ad684ab949a492567f69c7974198955a7eb601b72339c049aeff2dc0d2c07
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      X-Amz-Request-Id:
      - NXG880Y6X0DZGT72
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"5d41402abc4b2a76b9719d911017c592\"","etags[0][part]":"1","provided_mtime":"2021-04-14T09:29:32-07:00","ref":"put-4169862083","size":"5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-04-14T16:29:32Z","provided_mtime":"2021-04-14T16:29:32Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/i%20am%20at%20the%20root.text?page=1
    method: GET
  response:
    body: '[{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-04-14T16:29:32Z","provided_mtime":"2021-04-14T16:29:32Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: GET
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-04-14T16:29:32Z","provided_mtime":"2021-04-14T16:29:32Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a122bc0a-8c3f-44ba-b51f-72e798f71b69?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210414T162933Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=d64bf43a9632980cd077a80677cc09dc61ccddc36b0731a63610401c6b7d8472"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a122bc0a-8c3f-44ba-b51f-72e798f71b69?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210414%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210414T162933Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text&response-content-type=application%2Foctet-stream&X-Amz-Signature=d64bf43a9632980cd077a80677cc09dc61ccddc36b0731a63610401c6b7d8472
    method: GET
  response:
    body: hello
    headers:
      Content-Disposition:
      - attachment; filename*=UTF-8''i%20am%20at%20the%20root.text
      Content-Type:
      - application/octet-stream
      Etag:
      - '"62109206880d38a4010a98e11243924a-1"'
      Last-Modified:
      - Wed, 14 Apr 2021 16:29:33 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - QDJ1XSAA00S23WWK
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
