---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/remotefs_test/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-13T20:00:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3790604541","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1d3fca66-6843-4d54-80bb-182bf834f1df?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230113%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230113T194511Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=7vmuSetmyed4SD77KvviE0oPUhx4oTIzoJQYv3ATXKh265lOe5I_DEeQ1k6HnMkCj8OlGdz7goDHrMbcj_LAQVInnqkSUuUvpEOuNs_ERji_JhieaESX3InSCD4C2DK9\u0026X-Amz-Signature=07d5d6789c7b99362682f3e975a236a00bbd744a7d6023bf545832cf970767c3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1d3fca66-6843-4d54-80bb-182bf834f1df?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230113T194511Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=7vmuSetmyed4SD77KvviE0oPUhx4oTIzoJQYv3ATXKh265lOe5I_DEeQ1k6HnMkCj8OlGdz7goDHrMbcj_LAQVInnqkSUuUvpEOuNs_ERji_JhieaESX3InSCD4C2DK9&X-Amz-Signature=07d5d6789c7b99362682f3e975a236a00bbd744a7d6023bf545832cf970767c3
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - QY3VEBCS7RAHPK2K
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"0001-01-01T00:00:00Z","ref":"put-3790604541","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/remotefs_test/1.text
    method: POST
  response:
    body: '{"error":"provided_mtime must contain valid date and time","http-code":400,"instance":"c0a22461-fea9-4a67-bcb6-9667b6b94d6b","title":"Datetime
      Parse","type":"bad-request/datetime-parse"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/remotefs_test
    method: GET
  response:
    body: '{"path":"remotefs_test","display_name":"remotefs_test","type":"directory","size":null,"created_at":"2022-07-16T23:35:58Z","mtime":"2022-07-16T23:35:59Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/remotefs_test?page=1
    method: GET
  response:
    body: '[{"path":"remotefs_test/1.text","display_name":"1.text","type":"file","size":9,"created_at":"2022-07-16T23:35:59Z","mtime":"2022-07-16T23:35:59Z","provided_mtime":"2022-07-16T23:35:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cached-Response:
      - "1673639000"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/remotefs_test/1.text
    method: GET
  response:
    body: '{"path":"remotefs_test/1.text","display_name":"1.text","type":"file","size":9,"created_at":"2022-07-16T23:35:59Z","mtime":"2022-07-16T23:35:59Z","provided_mtime":"2022-07-16T23:35:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/93b37a2e-4077-437d-890e-3a9a5964b831?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230113%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230113T194513Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%221.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=9fd506d1a8a455ce9b3cd2151194ce4eccb27df3ad13af667702d81b6a033c04"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/93b37a2e-4077-437d-890e-3a9a5964b831?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230113T194513Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%221.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=9fd506d1a8a455ce9b3cd2151194ce4eccb27df3ad13af667702d81b6a033c04
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="1.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Sat, 16 Jul 2022 23:35:59 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 2409NY46W743YHZ4
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/?page=1
    method: GET
  response:
    body: '[{"path":" leading space","display_name":" leading space","type":"directory","size":null,"created_at":"2021-07-20T21:31:17Z","mtime":"2021-09-24T23:20:32Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":".config","display_name":".config","type":"directory","size":null,"created_[...]
