---
version: 1
interactions:
- request:
    body: '{"-":"upload-move-source.text","mkdir_parents":true,"size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload-move-source.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:38:46Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593844449","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6440931b-f949-40b8-9ab4-bb0e35e7decc?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222346Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Tm.ayMdLQKE.BOAIvp81R43gjAJ1T_t9DamtDC7TWf3Ssroyd7K.9nOIEY7OUJuXqsYbOSVrL4a4F02IJbtlxQLYW.4AMlbNTXRWgdqLRMq25u75t1O_jJP.pZ0dzSz_\u0026X-Amz-Signature=51c4c3e28550e94645c076e0350fc4bcbfbf002fb17224671957d4c210095782"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6440931b-f949-40b8-9ab4-bb0e35e7decc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T222346Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Tm.ayMdLQKE.BOAIvp81R43gjAJ1T_t9DamtDC7TWf3Ssroyd7K.9nOIEY7OUJuXqsYbOSVrL4a4F02IJbtlxQLYW.4AMlbNTXRWgdqLRMq25u75t1O_jJP.pZ0dzSz_&X-Amz-Signature=51c4c3e28550e94645c076e0350fc4bcbfbf002fb17224671957d4c210095782
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ae2b1fca515949e5d54fb22b8ed95575"'
      X-Amz-Request-Id:
      - 976CC8FCNPSYHEPE
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"upload-move-source.text","action":"end","etags":[{"etag":"ae2b1fca515949e5d54fb22b8ed95575","part":"1"}],"mkdir_parents":true,"provided_mtime":"2022-10-04T22:23:45.32155849Z","ref":"put-2593844449","size":7}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/upload-move-source.text
    method: POST
  response:
    body: '{"path":"upload-move-source.text","display_name":"upload-move-source.text","type":"file","size":7,"created_at":"2022-10-04T22:23:47Z","mtime":"2022-10-04T22:23:47Z","provided_mtime":"2022-10-04T22:23:45Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
