---
version: 1
interactions:
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"7a6304fd-cd1e-4579-9187-c36c7687817c","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f3520ca3-8bc9-4061-8cbb-0cf8fdad6152","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"650b28b4-5223-42c5-9394-32da6ec452e7","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"4b91f953-0a4b-4bfe-82ed-9fe579d4e1ac","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:44Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593857809","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d32e169e-7fd9-488d-a1b1-21ffd5bd28e5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222544Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=RBjfZzHabmV.vAVUp9RFCHJU00m_y2fxykG0R5F2sV8qWm8H17oqgFq_QEBweC18c3ErfSOcDOGfxx.yuK6Q5alaMYeTv.T5XndQymElxcCtHWvnx7iJKFI690lH9b5P\u0026X-Amz-Signature=1ef425d39a171282bbd40777ec7c71360a9b453ebb2238586f811d9e456fa9ae"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d32e169e-7fd9-488d-a1b1-21ffd5bd28e5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T222544Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=RBjfZzHabmV.vAVUp9RFCHJU00m_y2fxykG0R5F2sV8qWm8H17oqgFq_QEBweC18c3ErfSOcDOGfxx.yuK6Q5alaMYeTv.T5XndQymElxcCtHWvnx7iJKFI690lH9b5P&X-Amz-Signature=1ef425d39a171282bbd40777ec7c71360a9b453ebb2238586f811d9e456fa9ae
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - ZNEZ6E8E0P0A865M
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2593857809","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-04T22:25:45Z","mtime":"2022-10-04T22:25:45Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T22:40:45Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593858024","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8621cbfb-c338-48ca-8da3-cef3a816e0b5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222545Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=_zm5eIqJfN5rHlbtqKVQpIMfngv9NM5C2Yd.T24yOcyCwm2TvnTqjzmjWFcqOeO4VpOPtZroetjAM2Uqy9vwx4zQoWTAnsrjjRGI_r9SXCZab5kNzcdLY0ShMNZ2FWbF\u0026X-Amz-Signature=f386b820d4eea1b9d3eaaef63c58fc7a1874747b3467c644d30efd0e89e8f211"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/8621cbfb-c338-48ca-8da3-cef3a816e0b5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T222545Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=_zm5eIqJfN5rHlbtqKVQpIMfngv9NM5C2Yd.T24yOcyCwm2TvnTqjzmjWFcqOeO4VpOPtZroetjAM2Uqy9vwx4zQoWTAnsrjjRGI_r9SXCZab5kNzcdLY0ShMNZ2FWbF&X-Amz-Signature=f386b820d4eea1b9d3eaaef63c58fc7a1874747b3467c644d30efd0e89e8f211
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - X5N42NFW97W8SEBV
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2593858024","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-04T22:25:47Z","mtime":"2022-10-04T22:25:47Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_Downloader_Move_Source_Missing_Dir
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir","display_name":"TestClient_Downloader_Move_Source_Missing_Dir","type":"directory","size":null,"created_at":"2022-10-04T21:49:07Z","mtime":"2022-10-04T22:25:47Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1","display_name":"nested_1","type":"directory","size":null,"created_at":"2022-10-04T21:49:08Z","mtime":"2022-10-04T22:25:47Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2","display_name":"nested_2","type":"directory","size":null,"created_at":"2022-10-04T21:49:08Z","mtime":"2022-10-04T22:25:47Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3","display_name":"nested_3","type":"directory","size":null,"created_at":"2022-10-04T21:49:09Z","mtime":"2022-10-04T22:25:47Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false},{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-04T22:25:45Z","mtime":"2022-10-04T22:25:45Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-04T22:25:45Z","mtime":"2022-10-04T22:25:45Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d32e169e-7fd9-488d-a1b1-21ffd5bd28e5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T222549Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=acd71f56a41a45e741b90f05cb0dca3d435d43927e81a7e63ba693d72abf01a5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3?page=1
    method: GET
  response:
    body: '[{"path":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-04T22:25:47Z","mtime":"2022-10-04T22:25:47Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/d32e169e-7fd9-488d-a1b1-21ffd5bd28e5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T222549Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=acd71f56a41a45e741b90f05cb0dca3d435d43927e81a7e63ba693d72abf01a5
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Tue, 04 Oct 2022 22:25:45 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - ASZZ970F9ZKAPA40
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text","destination":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/3.text"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/move/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f2a42752-5375-434d-a534-d23d06789159","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{"-":"TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text","destination":"TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/nested_3/4.text"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/move/TestClient_Downloader_Move_Source_Missing_Dir/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"3a41a082-1659-43f1-92c7-2eeda965c6f1","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/3.text
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_Downloader_Move_Source_Missing_Dir-moved/nested_1/nested_2/nested_3/4.text
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_Downloader_Move_Source_Missing_Dir-moved
    method: GET
  response:
    body: '{"path":"TestClient_Downloader_Move_Source_Missing_Dir-moved","display_name":"TestClient_Downloader_Move_Source_Missing_Dir-moved","type":"directory","size":null,"created_at":"2022-10-04T22:06:20Z","mtime":"2022-10-04T22:25:51Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
