---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-delete-source
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"843ec46b-5384-4b96-85fc-503ac98d0d25","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-delete-source/test.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-08T20:04:56Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-173702521","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b363f13a-418c-4480-8281-a648100ef449?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211008T194956Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=rXCNi8Ap9CCioympOFMo7WL1yKGOlbcFuhYJr3hlB_LDiXlZRzqm2w0rg4pgiNnkhl6CCeUrXWwfhrMhE8MYoTbu1mwsaxB8GSbp0UHBiyWp4XhS1P0JZvANHSICSOfN\u0026X-Amz-Signature=ee2ab1bf46235ad6dbb768d222452b768579ac9290384ad1d54a3967bba89f2e"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b363f13a-418c-4480-8281-a648100ef449?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211008T194956Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=rXCNi8Ap9CCioympOFMo7WL1yKGOlbcFuhYJr3hlB_LDiXlZRzqm2w0rg4pgiNnkhl6CCeUrXWwfhrMhE8MYoTbu1mwsaxB8GSbp0UHBiyWp4XhS1P0JZvANHSICSOfN&X-Amz-Signature=ee2ab1bf46235ad6dbb768d222452b768579ac9290384ad1d54a3967bba89f2e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - JRKR50G0A19TSBZ3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"15e081c59a53cf6aadd83c7dc0e831d3","etags[0][part]":"1","provided_mtime":"2021-10-08T12:49:56-07:00","ref":"put-173702521","size":"9"}'
    form: {}
    headers:
      Content-Direction:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-delete-source/test.text
    method: POST
  response:
    body: '{"path":"test-delete-source/test.text","display_name":"test.text","type":"file","size":9,"mtime":"2021-10-08T19:49:57Z","provided_mtime":"2021-10-08T19:49:56Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-delete-source
    method: GET
  response:
    body: '{"path":"test-delete-source","display_name":"test-delete-source","type":"directory","size":null,"mtime":"2021-10-08T19:49:57Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"rwd","subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/test-delete-source?page=1
    method: GET
  response:
    body: '[{"path":"test-delete-source/test.text","display_name":"test.text","type":"file","size":9,"mtime":"2021-10-08T19:49:57Z","provided_mtime":"2021-10-08T19:49:56Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-delete-source/test.text
    method: GET
  response:
    body: '{"path":"test-delete-source/test.text","display_name":"test.text","type":"file","size":9,"mtime":"2021-10-08T19:49:57Z","provided_mtime":"2021-10-08T19:49:56Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b363f13a-418c-4480-8281-a648100ef449?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211008T194958Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22test.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=b857d87583ed87a1092de2c743492f21489767be1200c46eb72d7f6c5ef555cd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b363f13a-418c-4480-8281-a648100ef449?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211008%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211008T194958Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22test.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=b857d87583ed87a1092de2c743492f21489767be1200c46eb72d7f6c5ef555cd
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="test.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Fri, 08 Oct 2021 19:49:57 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - MM9KS122KE7DRTG1
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/test-delete-source/test.text
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"4257607e-6f24-47f2-97fe-0739776da558","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
