---
version: 1
interactions:
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"473069dc-a97e-42be-9dfc-35596cbff441","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file/nested_1"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file/nested_1
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"292c069d-9d4d-47d6-a26e-37358231c458","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file/nested_1/nested_2
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"63b75cb9-c1cc-4221-92a8-2b9c7e71a2b1","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3"}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"97c966dc-0abc-4616-90a3-e4853fc61f18","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T00:33:08Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2821234981","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1424a637-a00a-440c-abcf-30d69c104fd3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T001808Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=9GwGnDddmsmu0iaFYbB.pqIWymxBBdsNKhJ.zuKLh4dMYqlQxY8jFOZyWREiLmzOeIqFQOxygVC_8EQEr.twB753Q6EBYl_LaG3VNZ8ikgmDJhKLPfmJ3e1rr1OCIOJI\u0026X-Amz-Signature=c499206086e40b7e5b6bcf35492a86fa5d04b67d907d228a5c80c0dfd8640610"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1424a637-a00a-440c-abcf-30d69c104fd3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T001808Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=9GwGnDddmsmu0iaFYbB.pqIWymxBBdsNKhJ.zuKLh4dMYqlQxY8jFOZyWREiLmzOeIqFQOxygVC_8EQEr.twB753Q6EBYl_LaG3VNZ8ikgmDJhKLPfmJ3e1rr1OCIOJI&X-Amz-Signature=c499206086e40b7e5b6bcf35492a86fa5d04b67d907d228a5c80c0dfd8640610
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - 2W0FX2944R7E6T2X
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2821234981","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T00:18:09Z","mtime":"2022-10-26T00:18:09Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text","mkdir_parents":true,"size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-26T00:33:10Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2821235223","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8c3bf28e-06d2-41c0-b215-20a71be266b1?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T001810Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=omayc2qIa5g6HI8vWa0h2BobJdbyypFnO3OZt7QXKHuLCuyPB3Czn23HwELQHRtbblawVM6K8Vcnwjlad42qzimfTT1fh0Mq8duMYyVWMsFx6nFmHq7FK.vdaDOHZznK\u0026X-Amz-Signature=a207258d6d2b43b471c16537fa074e6aebf9ef633a4f6800eaf9c984837d30f2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8c3bf28e-06d2-41c0-b215-20a71be266b1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T001810Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=omayc2qIa5g6HI8vWa0h2BobJdbyypFnO3OZt7QXKHuLCuyPB3Czn23HwELQHRtbblawVM6K8Vcnwjlad42qzimfTT1fh0Mq8duMYyVWMsFx6nFmHq7FK.vdaDOHZznK&X-Amz-Signature=a207258d6d2b43b471c16537fa074e6aebf9ef633a4f6800eaf9c984837d30f2
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - G765XBTZVHYEJEQM
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text","action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2821235223","size":9}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text
    method: POST
  response:
    body: '{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/nested_3/4.text","display_name":"4.text","type":"file","size":9,"created_at":"2022-10-26T00:18:11Z","mtime":"2022-10-26T00:18:11Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T00:18:09Z","mtime":"2022-10-26T00:18:09Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text
    method: GET
  response:
    body: '{"path":"TestClient_DownloadFolder_file_to_file/nested_1/nested_2/3.text","display_name":"3.text","type":"file","size":9,"created_at":"2022-10-26T00:18:09Z","mtime":"2022-10-26T00:18:09Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1424a637-a00a-440c-abcf-30d69c104fd3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221026T001812Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%223.text%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=a66f93efc8f01805db72c89687460a1942e07173c72c6e391b4f478ea1fb7e7b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1424a637-a00a-440c-abcf-30d69c104fd3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221026T001812Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%223.text%22&response-content-type=application%2Foctet-stream&X-Amz-Signature=a66f93efc8f01805db72c89687460a1942e07173c72c6e391b4f478ea1fb7e7b
    method: GET
  response:
    body: testing 3
    headers:
      Content-Disposition:
      - attachment; filename="3.text"
      Content-Type:
      - application/octet-stream
      Etag:
      - '"1f10b9f0c89ab4910091c8cb836b2b21-1"'
      Last-Modified:
      - Wed, 26 Oct 2022 00:18:09 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 9H2Q8R6TXCSQYPTA
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
