---
version: 1
interactions:
- request:
    body: '{"-":"i am at the root.text","mkdir_parents":true,"size":5}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-10-04T21:57:22Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-2593494747","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3fd7942a-b95f-4a12-9552-427be0685c3b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T214222Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=0e_9JAKSvOxCqMD6jL6_p4UGWWvwK5T8.WoDh9kHv2Dwp.UaJvuFb22pd_HZqtDQb1rVyIpkzCzqQRySkQUExUHO9.fb6zGWDthVMdblr4MEdaakLUvJHQPxqjDF6vAy\u0026X-Amz-Signature=bdf7e28acb427b9bb78edb07488b17a5f8238c21828ea4b9335e3c4ecad330cb"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3fd7942a-b95f-4a12-9552-427be0685c3b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T214222Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=0e_9JAKSvOxCqMD6jL6_p4UGWWvwK5T8.WoDh9kHv2Dwp.UaJvuFb22pd_HZqtDQb1rVyIpkzCzqQRySkQUExUHO9.fb6zGWDthVMdblr4MEdaakLUvJHQPxqjDF6vAy&X-Amz-Signature=bdf7e28acb427b9bb78edb07488b17a5f8238c21828ea4b9335e3c4ecad330cb
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      X-Amz-Request-Id:
      - 48SF1C6W2NF96M4Y
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"-":"i am at the root.text","action":"end","etags":[{"etag":"5d41402abc4b2a76b9719d911017c592","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-2593494747","size":5}'
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"created_at":"2022-10-04T21:42:23Z","mtime":"2022-10-04T21:42:23Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/i%20am%20at%20the%20root.text
    method: GET
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"created_at":"2022-10-04T21:42:23Z","mtime":"2022-10-04T21:42:23Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"3610a686","md5":"5d41402abc4b2a76b9719d911017c592","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: GET
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"created_at":"2022-10-04T21:42:23Z","mtime":"2022-10-04T21:42:23Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"3610a686","md5":"5d41402abc4b2a76b9719d911017c592","mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3fd7942a-b95f-4a12-9552-427be0685c3b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221004T214225Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=b9583c5a2e49e06b993cdb05b3000559989101939a62977eebaa72155504d284"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3fd7942a-b95f-4a12-9552-427be0685c3b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20221004%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221004T214225Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text&response-content-type=application%2Foctet-stream&X-Amz-Signature=b9583c5a2e49e06b993cdb05b3000559989101939a62977eebaa72155504d284
    method: GET
  response:
    body: hello
    headers:
      Content-Disposition:
      - attachment; filename*=UTF-8''i%20am%20at%20the%20root.text
      Content-Type:
      - application/octet-stream
      Etag:
      - '"62109206880d38a4010a98e11243924a-1"'
      Last-Modified:
      - Tue, 04 Oct 2022 21:42:23 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - DBHBHNPGEMS5JPMT
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
