---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/file-fixtures
    method: POST
  response:
    body: '{"display_name":"file-fixtures","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFile_To_NonExistingPath_WithSlash.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693057","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1cbafa26-e743-4ee5-9949-4773b24bf1b7?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=e2R9z70OCKTeOk9lZR78iKWh4jOZT0LXYPUNaNMYvIj1wO_C1MhPC8ZR5YRuL3QTSWF9_M9ro4csn4UJjaCpv7miBcau9E6gscUhnnWHf_pJ4MGLW0o34lrToON3JIh.\u0026X-Amz-Signature=c2310d7bedd2c9999248555abe31005a637c84d3a4ef603a515274b23af7d933"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_DownloadFolder_Smart.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693062","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/17689917-9d5b-4469-9961-172d7549e54a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=0JchFJcbFgkTBauxceGJy1wbGpJaIT5KIanzjUQbYe0EFHqJ6KbfKqKXolGQzK3_fFiOPKSqDmfTxgCCyzpq2McwYzP0RbZZz6K3i7PjNj827t0BJ9O1Rin8mqiBwLiD\u0026X-Amz-Signature=e13a9877fc84e0baef0c036c12954fd5162654ac8dfe59dd8652bd79a84c67a3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFolder_Dot.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693059","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a21d8937-ef65-4011-964c-947833a16e5e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=HqGNXawi8RAyq8SV7XYFuibWXJIvKlwlv..6WcbNqxI1dj68zzpgKQI7yQFPR6Q_ZDNgctfDppaRs8DD0XyPQ8GqJBxRHezeuKhW8rYz7OUkaG0PU3a_T0KP1oB4aJaM\u0026X-Amz-Signature=fe6e2480576ed9d7d4ed6c4bba9a37115b68e7b45a25878d2f0fad56f66bc347"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFile_To_NonExistingPath.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693061","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5cfde378-0647-4e08-b2fd-b39f24461e10?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=yazAEA6KWzkFuzEnD18ui1CHtCeydx1uI5g1uA.Hrm7SoCi7f1MZSLX0qn8BPRjNRCrAzietfGV65uFIANATyZwpcoLwPCbG4GMLXmLBjwhX_rAf_4L.yPYkgjfWPgpU\u0026X-Amz-Signature=9ff6bc0c0db2a7cc9b9224bcde9501169897b279293a48a40e283d2977f0b704"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_DownloadFolder.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693066","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/e29dfdeb-2e93-4b59-b223-1ebc64cffeb1?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=IWXU7qMbRScaeF9.dqYyEK1pzALjUG6BoDRkBauuk0EwS6lKulNtMxFXoaIiWfNkB1YNIIddf_.EBSDbihqqAqE2MKwiQGBogKdxTu0LP.REztahrrvfSO5De7Fwjurj\u0026X-Amz-Signature=7b1c73cca796171559748631df3d64859beb7554e55bc19ada7a53b990c5827c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_DownloadFolder_file_to_file.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693060","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/c014d784-0d98-4bc2-a270-9db0bc919e7a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=9JVJsIaLS38iYPqHyGeh42asAJLNQki1yZoTTZklkirAHC4a9adE1cPuvX0syFJH1HUespZy3VHk.rZy11XTOZakk5h8.8KQfAEZ_AzLhV944vc7P6gXSTa1u2qJ8fRp\u0026X-Amz-Signature=8ac4b5b53e5561b55cc603b91a72072f9702d013e1a19da5a161bbf1730d9a7c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFile_To_Existing_Dir.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693063","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/e9b8157d-369c-4661-bf92-40be5c761f70?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=y3EFEq198ZIYbqBCZEec.HUp33X90BY6khiP4ih3kbBCk3ucPVGQOxJYnyxqRwCdnB5s1sv663Tk.dGCFwwcFyb1s.1AY0H4TITj2dU2lpQydijEsfC56pXUL8c3BAOg\u0026X-Amz-Signature=dad54fc270e1f1db28b8c0710a3f129e36993229c88675e9a3bcf7971b125a31"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFolder_as_file2.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693058","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1bfdb2e9-d143-407a-ad7a-04d61f3e2500?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=wOjA9SoBOvEx_r4XawJ28zHnMea1TP_kJnee4BOzsWBid4XQNoDYJgJHKkfY392UAu8KDvusBY0qLI5tpeeL0BKPp09tm1eJGaTjUvWuBpOHZ0XhdwcpB1bg.MnjqEwh\u0026X-Amz-Signature=cd69d15816952d9cd9e030c1004efcb4d55492695753235109b9f004e2cb1980"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFolder.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693064","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6a68f107-99f3-4842-bfb2-45c83e5bea7f?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=h7dPoI9tZ4QyWwuQTgtxrkeTY7ozU.S2UDc.LQX5qqr0snNdoZVhJKx.6k7sSlVlunOM9of5B49hYzdzOYWM1F.Ki0N1uQ_SYjOkvxX1WX6a.noiv8_14aXOrklmSosd\u0026X-Amz-Signature=088117ab0be26776090a46f46ce1c5624e6a6d10450259a12b45f14f510589f4"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_UploadFile.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:36Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693065","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/43c596db-a7fe-477d-a337-022579e5c572?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172736Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=oT_7I2TLyOMrKuKarsyTR9WwC6tcS0fLE7koRVs03W3B6bHGp_v3uM4LhALuQ7G93b.L3hWOra8Lr3ayF0UjGxnGW3YBLRULu4vpOLhEQ9o.1uL796m2sIKhsxhEK_G5\u0026X-Amz-Signature=44e2bebd9d60b42abd4640c0e19b2fc585019a5b263d48bfe6e68d4207ac0aa9"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: ""
          form: {}
          headers:
          url: https://app.files.com/api/rest/v1/files/docs
          method: DELETE
        response:
          body: '{"error":"Not Found","http-code":404,"instance":"f0b6810f-17a4-4058-8e65-50a4504fbdeb","title":"Not
            Found","type":"not-found"}'
          headers:
            Content-Type:
            - application/json
          status: 404 Not Found
          code: 404
          duration: ""
      - request:
          body: ""
          form: {}
          headers:
          url: https://app.files.com/api/rest/v1/files/docs
          method: GET
        response:
          body: '{"error":"Not Found","http-code":404,"instance":"69586306-a3d0-4cb7-8edc-abcdf68afbb6","title":"Not
            Found","type":"not-found"}'
          headers:
            Content-Type:
            - application/json
          status: 404 Not Found
          code: 404
          duration: ""
      - request:
          body: '{"mkdir_parents":"true","part":"1"}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/file_actions/begin_upload/docs/LICENSE
          method: POST
        response:
          body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T00:22:02Z","headers":{},"http_method":"PUT","next_partsize":6291456,"p[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: ""
          form: {}
          headers:
          url: https://app.files.com/api/rest/v1/files/taco
          method: DELETE
        response:
          body: '{"error":"Not Found","http-code":404,"instance":"ebf0dbd4-9554-4871-80ce-3ce6b2f488bc","title":"Not
            Found","type":"not-found"}'
          headers:
            Content-Type:
            - application/json
          status: 40[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{"part":"1"}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/file_actions/begin_upload/LICENSE
          method: POST
        response:
          body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000[...]
[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/docs
          method: POST
        response:
          body: '{"display_name":"docs","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
          headers:
            Content-Type:
            - application[...]
[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_Smart
          method: POST
        response:
          body: '{"error":"The destination exists.","http-code":422,"instance":"6ddbec11-68d6-466e-9f26-c76f2170d944","title":"Destination
            Exists","type":"[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder_file_to_file
          method: POST
        response:
          body: '{"display_name":"TestClient_DownloadFolder_file_to_file","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
  [...]
[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/TestClient_DownloadFolder
          method: POST
        response:
          body: '{"error":"The destination exists.","http-code":422,"instance":"f8729131-2ea7-4294-af84-fc44f87273e7","title":"Destination
            Exists","type":"proces[...]
[...]
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/golib
          method: POST
        response:
          body: '{"display_name":"golib","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
          headers:
            Content-Type:
            - applicati[...]
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"b32f2c6f708588b2cf425d3bd80eb5fb\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693058","size":"10883"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFolder_as_file2.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFolder_as_file2.yaml","display_name":"TestClient_UploadFolder_as_file2.yaml","type":"file","size":10883,"mtime":"2021-03-31T17:27:37Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"196a3c1fd5c2f26b8fb93a67608b20cf\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693057","size":"13928"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFile_To_NonExistingPath_WithSlash.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFile_To_NonExistingPath_WithSlash.yaml","display_name":"TestClient_UploadFile_To_NonExistingPath_WithSlash.yaml","type":"file","size":13928,"mtime":"2021-03-31T17:27:37Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"46b17c75ccf5bf1238fef62711f49c27\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693065","size":"10883"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFile.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFile.yaml","display_name":"TestClient_UploadFile.yaml","type":"file","size":10883,"mtime":"2021-03-31T17:27:37Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"adf583c8fdc764f7e60e6750d3f23810\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693063","size":"13995"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFile_To_Existing_Dir.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFile_To_Existing_Dir.yaml","display_name":"TestClient_UploadFile_To_Existing_Dir.yaml","type":"file","size":13995,"mtime":"2021-03-31T17:27:37Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"0e6111212e4eac913c59985ee05166e8\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693061","size":"12935"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFile_To_NonExistingPath.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFile_To_NonExistingPath.yaml","display_name":"TestClient_UploadFile_To_NonExistingPath.yaml","type":"file","size":12935,"mtime":"2021-03-31T17:27:37Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"c5f0f6318d427b2bda6efd89b0c66a08\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693066","size":"35582"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_DownloadFolder.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_DownloadFolder.yaml","display_name":"TestClient_DownloadFolder.yaml","type":"file","size":35582,"mtime":"2021-03-31T17:27:37Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/file-fixtures/TestClient_DownloadFolder_file_to_implicit.yaml
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-31T17:42:38Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4078693206","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1e6e936a-4de2-4e12-b83f-7cd89fb70336?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210331%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210331T172738Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=m2RJQk2oGEhCtb4YNsOyqumPyMKRyDJZuGv2QEc8YVr.adPOHaZg6kEkVTFFDHp5qyyTp9SqrzcCEUQE7dri7xVbjRxBLR3sKy4xivsFva2KPtTPkbVvwOT9EawmAOKP\u0026X-Amz-Signature=7d12290157b4e9968fbe64b0b5e7c2e9941f0a5d1e1d089d370893e724382f86"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"17f5673a323a6289820826b017c5cf8d\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693060","size":"19094"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_DownloadFolder_file_to_file.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_DownloadFolder_file_to_file.yaml","display_name":"TestClient_DownloadFolder_file_to_file.yaml","type":"file","size":19094,"mtime":"2021-03-31T17:27:38Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"6c39c8a68017b3a317a30c73293c7e80\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693062","size":"27454"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_DownloadFolder_Smart.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_DownloadFolder_Smart.yaml","display_name":"TestClient_DownloadFolder_Smart.yaml","type":"file","size":27454,"mtime":"2021-03-31T17:27:38Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"8d2b23c404a4a09ad0940ca22a1d07ed\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:37-07:00","ref":"put-4078693064","size":"67226"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_UploadFolder.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_UploadFolder.yaml","display_name":"TestClient_UploadFolder.yaml","type":"file","size":67226,"mtime":"2021-03-31T17:27:38Z","provided_mtime":"2021-03-31T17:27:37Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/file_to_implicit
          method: POST
        response:
          body: '{"error":"The destination exists.","http-code":422,"instance":"e053c2a7-8da6-4dfc-a7c7-cb77ad1db4cb","title":"Destination
            Exists","type":"processing-fail[...]
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"0ac5823c0aba53d002607561f80e573c\"","etags[0][part]":"1","provided_mtime":"2021-03-31T10:27:38-07:00","ref":"put-4078693206","size":"18978"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/file-fixtures/TestClient_DownloadFolder_file_to_implicit.yaml
    method: POST
  response:
    body: '{"path":"file-fixtures/TestClient_DownloadFolder_file_to_implicit.yaml","display_name":"TestClient_DownloadFolder_file_to_implicit.yaml","type":"file","size":18978,"mtime":"2021-03-31T17:27:38Z","provided_mtime":"2021-03-31T17:27:38Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      ---
      version: 1
      interactions:
      - request:
          body: '{}'
          form: {}
          headers:
            Content-Type:
            - application/json
          url: https://app.files.com/api/rest/v1/folders/go-from-dot
          method: POST
        response:
          body: '{"display_name":"go-from-dot","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
          headers:
            Content-Type:
           [...]
[...]
- request:
[...]
