---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/2.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-05-30T19:00:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9013262032","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/118064/7d104a72-7027-4a69-b0c7-4a4cad2be9bd?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240530%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240530T184530Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=uvgp1pRatdvtNwayEjyK887yQowCReaVKmGKQpBpL6eHRen1BJFUrYNuXQ9DZFBK5q3X.nZazUc5HgL9kf1n4zLwJKcZzArE7pR6IbKCMANUL1W1397m.x4AjeXcm6hK\u0026X-Amz-Signature=7409e7dd3168020cb71f8c58997cae04103f2ef0cc0628da16608130ca502f39"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/Z/4.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-05-30T19:00:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9013262036","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/118064/176f3ec6-3a28-4c1d-9501-176b9fa98579?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240530%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240530T184530Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=hWvGaaRjkUUs94DVJZoZ_S79Tl9T0ZAHchFV8zQoCbI2esE8aLDt2T5OZcYsd2yLHcZovUvgRg_E0muzs.Z5YEmrltT0rH43A0qdacL0DujqSxr7FGZXNPMd22gdI7dQ\u0026X-Amz-Signature=e9171fbbe338d37be34de1ca6c3caef0a6421e8b8611e6c4818b014be504cc6c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/Z
    method: POST
  response:
    body: '{"path":"Z","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"Z","type":"directory","size":null,"created_at":"2024-11-13T20:46:42Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-11-13T20:46:42Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/empty_dir
    method: POST
  response:
    body: '{"path":"empty_dir","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"empty_dir","type":"directory","size":null,"created_at":"2024-11-13T20:46:42Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-11-13T20:46:42Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/Z/empty_dir
    method: POST
  response:
    body: '{"path":"Z/empty_dir","created_by_id":1028730,"created_by_api_key_id":null,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"empty_dir","type":"directory","size":null,"created_at":"2024-11-13T20:46:42Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-11-13T20:46:42Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/118064/7d104a72-7027-4a69-b0c7-4a4cad2be9bd?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240530%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240530T184530Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=uvgp1pRatdvtNwayEjyK887yQowCReaVKmGKQpBpL6eHRen1BJFUrYNuXQ9DZFBK5q3X.nZazUc5HgL9kf1n4zLwJKcZzArE7pR6IbKCMANUL1W1397m.x4AjeXcm6hK&X-Amz-Signature=7409e7dd3168020cb71f8c58997cae04103f2ef0cc0628da16608130ca502f39
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - SNWYN6H4PT9NWYCG
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/118064/176f3ec6-3a28-4c1d-9501-176b9fa98579?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240530%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240530T184530Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=hWvGaaRjkUUs94DVJZoZ_S79Tl9T0ZAHchFV8zQoCbI2esE8aLDt2T5OZcYsd2yLHcZovUvgRg_E0muzs.Z5YEmrltT0rH43A0qdacL0DujqSxr7FGZXNPMd22gdI7dQ&X-Amz-Signature=e9171fbbe338d37be34de1ca6c3caef0a6421e8b8611e6c4818b014be504cc6c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - SNWXAZEM19C65H2Z
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/118064/2fd41921-0b42-4a03-bf0a-4e4d0654aa2b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240530%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240530T184530Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Nc9.N9v4PTtbri4mItZVZHvAptF5f1aYa0j69XA59ICMqHezLnuRQdGBMp.KH_4AW26abzBuvEFwf1JJ0mU04s6BcUqZ2tMQi8mLF6A7E7raTF0eNxrfqs1EB8ykJpnW&X-Amz-Signature=0196edd1edfffc1cd7a0e133a71179e7e9fd6d72ac02038a28b1bb30143efb62
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - SNWTZ6EWP5QZ490F
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"5045cf51883b32c692d1b38d57993daf","part":"1"}],"mkdir_parents":true,"ref":"put-9013262036","size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/Z/4.text
    method: POST
  response:
    body: '{"path":"Z/4.text","created_by_id":null,"created_by_api_key_id":2503727,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"4.text","type":"file","size":24,"created_at":"2024-05-30T18:45:30Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-05-30T18:45:30Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"5045cf51883b32c692d1b38d57993daf","part":"1"}],"mkdir_parents":true,"ref":"put-9013262032","size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/2.text
    method: POST
  response:
    body: '{"path":"2.text","created_by_id":null,"created_by_api_key_id":2503727,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"2.text","type":"file","size":24,"created_at":"2024-05-30T18:45:30Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-05-30T18:45:30Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
