---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/go-from-dot/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-14T18:44:50Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-213556967","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/eb138056-7ae9-45f1-b8e9-795debe978e3?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211014T182950Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Y4aXD8QCg7HyjfaIGGpF4Xdu_6iNwfKy_Pgq3pSOhrGN2U9JM53FXBWjca6Ek1QdvSw_k83LkLYCUGdsCxG9B_YRkQFIEY.u_6i4o9AyTS34OQ6XFdjp5dLuGu18FPIZ\u0026X-Amz-Signature=7d00fe54bd5fd5973b431619639c1888ff6f4ecf823f2e036e2678d9064068f8"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: hello 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/eb138056-7ae9-45f1-b8e9-795debe978e3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T182950Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Y4aXD8QCg7HyjfaIGGpF4Xdu_6iNwfKy_Pgq3pSOhrGN2U9JM53FXBWjca6Ek1QdvSw_k83LkLYCUGdsCxG9B_YRkQFIEY.u_6i4o9AyTS34OQ6XFdjp5dLuGu18FPIZ&X-Amz-Signature=7d00fe54bd5fd5973b431619639c1888ff6f4ecf823f2e036e2678d9064068f8
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"df0649bc4f1be901c85b6183091c1d83"'
      X-Amz-Request-Id:
      - 22TJZ73MD2NSH0N5
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/250624dc-5345-4e52-b82a-d143f476ea23?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T182950Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Nl5gl5DKsTiZxyaO5Q2.X27uQuU_jzX7n6OyFDZL_oeufpCFq65yTNVB.xwdmhyhHyfQkhMp2mcIsJWYO.Q34c1mHCf5vQiAA51mcVds_NKTHFlYZ1zmbe1TpyK_IrH5&X-Amz-Signature=97981005bddf89e1ad0f2cdd364e9e372c6a0316d44b5ff0899477037ecef1ce
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"bb21ec8394b75795622f61613a777a8b"'
      X-Amz-Request-Id:
      - 22TW96KH4VV5AWHM
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/7714139d-2501-4cc2-a66f-e2580631af63?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211014%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211014T182950Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=lanPfes5TR_zBb.WOk3l0eLExWWtrrwrBdTVW6RabxgwPJbDtiOFg2GlmpjyVnDYcvReWeX8gq9dioliHPGQNtdWBfWl2BM3KESKIOxcvL7l_nxta5t330o_k1lq.bHd&X-Amz-Signature=779efa7fae04d617705642c6964adcaca9a186d9f9bff9d19fec05b23c17efab
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"dab729aefdf2bfa7ed05b5531dc26118"'
      X-Amz-Request-Id:
      - 22TMM43QZ5M1S5PW
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"bb21ec8394b75795622f61613a777a8b","etags[0][part]":"1","provided_mtime":"2021-10-14T11:29:50-07:00","ref":"put-213556971","size":"7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/go-from-dot/2.text
    method: POST
  response:
    body: '{"path":"go-from-dot/2.text","display_name":"2.text","type":"file","size":7,"mtime":"2021-10-14T18:29:51Z","provided_mtime":"2021-10-14T18:29:50Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/go-from-dot
    method: DELETE
  response:
    body: '{"error":"Folder go-from-dot not empty","http-code":422,"instance":"960e69a3-f212-4e6d-ad2c-9df791fceeaf","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/go-from-dot?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
