---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/folders/lib
    method: POST
  response:
    body: '{"error":"file or folder already exists with that name","http-code":"422"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Fbool.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106213","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b372192c-d208-4969-b35b-bccc0a8c3913?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=EEqnIhLOyE2YK8JBYp9dL7HoSTkKSLkfpQ6P8A1fK8upznY51IJ5mwdJQPJE8J_JGtfr6FmbB3CW69QclkgaimD__X8HQyhdwP5h.mMPXMtRUThePxvyA.LrHIrFDAWi\u0026X-Amz-Signature=91dacc68f53f4c4e7746c9a127a26f05f971838a1b74baf577281d7eb2e26215"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Fexport_params.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106217","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1e0f8fab-4ea0-4285-9f7d-6cd8005da6e1?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=qKmChXlsr17TWgkDzya07a8EG8S6Pfw1WgQ3ZxjxdIHJfGJ9Pu9ksEg4KScdR8inIjRX5znQBoGF2Goe3fRWWZE7nt55_3ZbfYec_dvxTHZ9gFwWvvObILPyNb7uvVpd\u0026X-Amz-Signature=61718eef1383b1637259b685598718c628101a33e247cf2367dfab532340bbe8"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Frequired_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106216","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/2d036444-a4ec-4e72-aab1-ed251a6c7008?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=fY58lZ0TpBhvyPkVEgELxSGGq15dwfuDwQ_XhBQmS7K9cfKBqLbG1Pr8ciL9aIqwWW2ooUc4Ix50v4wt5D.fF_xdbHNi0pO4DLBZ6cXpIeHLTNOYkcq2tveXdBJjTyl4\u0026X-Amz-Signature=f8de2677b875fea4832c5030995e5afd3c24d666714cf8bbcf1572878cfd5e10"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Fiter_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106212","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/217b4553-99bc-41cb-8fb5-3d749dfcf397?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=dvllJjt.wgWsxsJdfGV8ni6CYoOvMW7g3PwILSt7jXROOIgk4TfXr8vUQNVJ.saGx.dBIumvj7okwKfUNJ63fU7hMLOe0ES8QhrrNHyFP846w5SanOXINi8B80BEetKW\u0026X-Amz-Signature=a5ea6af0e1e9db371d5dd3ce2266ca9f70e307a9cfbcf39cf71305c47adc99b0"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Fquery.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106220","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/03227044-822c-473b-aa83-599203da3449?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=BsV.zR5snHxJkbZrQVpORVrZ4rEXCTWaAthybnQVWEsH5PRypp64sJLLAYzwufyaWPsIdlweHHXdRi_2DKzl124rklytE6Okq2kyzimTpHs1o5SWvor3QpssIGM_mBd4\u0026X-Amz-Signature=6afe6273021a460a4266d1ec1338a4e662fe92fa2cc923d5fdb5cdc426d21838"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Frequired.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106218","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/64980794-e912-4b5a-b3ce-1faa3fcae1d4?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=gu7pNTAnCwkwPjORqa5nMGmmMevXWcfVMnTXr.wJk2RwXZ7QF_4aPRn9YdSDgyZs_.dqkHxf7DFJhZ9fIB9cdWqaxy5FRjjsXtPLR4P0F3Gj3J1igyjpqUWjbX.lp7R7\u0026X-Amz-Signature=38de030b98f0f30d21b5c2fa6b1820e0dcf1c018e7c1759fc000517cb2053321"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Fiter.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106221","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/673e0ee1-d0d1-4310-8168-5762db200466?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=PYbFJMeXN2gwaZW02FR7hQKzfjV7wcNKGI2780bc6g._H6L2M6PcMbDKWT8XP9WUXNo.isxjelaSy9pkPerijIh68u.7j7RRMcWlsrE1xqsYRh3InmT8jFzYwng7cqVJ\u0026X-Amz-Signature=0cca622b919623ff242cfab107b56096b063bd5d190510a63c019ddc55176ec2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Fstring.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106215","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6d439a96-abe6-4421-8ecf-37e29293b730?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=K4eveftzkHtckAnoSOk3T9RJzRyWjK.A1PWxicrRp96R2y_6f_mJvSdk6HXKjFT3w0xJL3OglYFUTC1vCotZLXDOeeughz0sY9wQchOIEJhoNT7CNxl43GiQIKHwP4WH\u0026X-Amz-Signature=b72aef20bdd117e14d1df06c2e2bfdad8a2451f5d50eb261497c7067ea3009df"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/lib%2Finterface.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2020-11-16T23:49:30Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3243106211","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/399e5cf6-8568-417c-b5fe-49a53bbc5f00?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20201116T233430Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=s442JD7jqt8KAWu7YzjHfYky.g.4TyvNLGNIKeBo95AGyRPKvUE1cAgKLop3bVfnOd4Jtlg2XYxPd4DobR3TfW60cGpi3cpQClXidzfP6y7_SZ09uwp7EVdspIbaP.Z5\u0026X-Amz-Signature=9055bd83a0766dc2c623f0c6710633a24364617ad001a4fc1e976536c984c380"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc String(string string) *string {\n\treturn &string\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/6d439a96-abe6-4421-8ecf-37e29293b730?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201116T233430Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=K4eveftzkHtckAnoSOk3T9RJzRyWjK.A1PWxicrRp96R2y_6f_mJvSdk6HXKjFT3w0xJL3OglYFUTC1vCotZLXDOeeughz0sY9wQchOIEJhoNT7CNxl43GiQIKHwP4WH&X-Amz-Signature=b72aef20bdd117e14d1df06c2e2bfdad8a2451f5d50eb261497c7067ea3009df
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"cecd1ea94155ea41d1f8f9e0c2f2e0d9"'
      X-Amz-Request-Id:
      - 551BCDD69A079CBF
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Interface() interface{} {\n\tvar i interface{}\n\treturn
      i\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/399e5cf6-8568-417c-b5fe-49a53bbc5f00?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201116T233430Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=s442JD7jqt8KAWu7YzjHfYky.g.4TyvNLGNIKeBo95AGyRPKvUE1cAgKLop3bVfnOd4Jtlg2XYxPd4DobR3TfW60cGpi3cpQClXidzfP6y7_SZ09uwp7EVdspIbaP.Z5&X-Amz-Signature=9055bd83a0766dc2c623f0c6710633a24364617ad001a4fc1e976536c984c380
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f7cb73244af2aafb2ced638dc9658dee"'
      X-Amz-Request-Id:
      - 043290BD76F1271A
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\t\"strings\"\n)\n\nvar QueryEscape
      = url.QueryEscape\n\nfunc PathEscape(path string) string {\n\tpathParts := strings.Split(path,
      \"/\")\n\tnewParts := make([]string, len(pathParts))\n\n\tfor _, part := range
      pathParts {\n\t\tnewParts = append(newParts, url.PathEscape(part))\n\t}\n\n\treturn
      strings.Join(newParts, \"/\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/03227044-822c-473b-aa83-599203da3449?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201116T233430Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=BsV.zR5snHxJkbZrQVpORVrZ4rEXCTWaAthybnQVWEsH5PRypp64sJLLAYzwufyaWPsIdlweHHXdRi_2DKzl124rklytE6Okq2kyzimTpHs1o5SWvor3QpssIGM_mBd4&X-Amz-Signature=6afe6273021a460a4266d1ec1338a4e662fe92fa2cc923d5fdb5cdc426d21838
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"7b6ae360822806fb9b8547d83939518c"'
      X-Amz-Request-Id:
      - 4BCC033B6FE89382
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nfunc Bool(bool bool) *bool {\n\treturn &bool\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/b372192c-d208-4969-b35b-bccc0a8c3913?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201116T233430Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=EEqnIhLOyE2YK8JBYp9dL7HoSTkKSLkfpQ6P8A1fK8upznY51IJ5mwdJQPJE8J_JGtfr6FmbB3CW69QclkgaimD__X8HQyhdwP5h.mMPXMtRUThePxvyA.LrHIrFDAWi&X-Amz-Signature=91dacc68f53f4c4e7746c9a127a26f05f971838a1b74baf577281d7eb2e26215
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"83789abda0845357c13aa5fa9c8605a2"'
      X-Amz-Request-Id:
      - 1232B8C2DEDA3A93
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"net/url\"\n\n\t\"github.com/appscode/go-querystring/query\"\n)\n\nfunc
      ExportParams(i interface{}) (url.Values, error) {\n\tv, err := query.Values(i)\n\tif
      err != nil {\n\t\tpanic(err)\n\t}\n\n\treturn v, CheckRequired(i, &v)\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1e0f8fab-4ea0-4285-9f7d-6cd8005da6e1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201116T233430Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=qKmChXlsr17TWgkDzya07a8EG8S6Pfw1WgQ3ZxjxdIHJfGJ9Pu9ksEg4KScdR8inIjRX5znQBoGF2Goe3fRWWZE7nt55_3ZbfYec_dvxTHZ9gFwWvvObILPyNb7uvVpd&X-Amz-Signature=61718eef1383b1637259b685598718c628101a33e247cf2367dfab532340bbe8
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"3cc6728f7554f3ea0f53dabed57b19d2"'
      X-Amz-Request-Id:
      - F908C08B805A2F6B
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/appscode/go-querystring/query\"\n\t\"github.com/stretchr/testify/assert\"\n)\n\ntype
      A struct {\n\tName   string `url:\"name\" required:\"true\"`\n\tAge    int    `url:\"age\"
      required:\"false\"`\n\tIgnore int    `url:\"-\" required:\"false\"`\n}\n\nfunc
      TestCheckRequired_Valid(t *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Name:
      \"Dustin\", Age: 90, Ignore: 50}\n\tvalues, _ := query.Values(a)\n\n\terr :=
      CheckRequired(a, &values)\n\tassert.Equal(err, nil)\n}\n\nfunc TestCheckRequired_Invalid(t
      *testing.T) {\n\tassert := assert.New(t)\n\ta := A{Age: 90}\n\tvalues, _ :=
      query.Values(a)\n\n\terr := CheckRequired(a, &values)\n\tassert.EqualError(err,
      \"missing required field: A{}.Name\")\n}\n"
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/2d036444-a4ec-4e72-aab1-ed251a6c7008?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20201116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201116T233430Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=fY58lZ0TpBhvyPkVEgELxSGGq15dwfuDwQ_XhBQmS7K9cfKBqLbG1Pr8ciL9aIqwWW2ooUc4Ix50v4wt5D.fF_xdbHNi0pO4DLBZ6cXpIeHLTNOYkcq2tveXdBJjTyl4&X-Amz-Signature=f8de2677b875fea4832c5030995e5afd3c24d666714cf8bbcf1572878cfd5e10
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"129a7a11d2f07ee5446398ff07588c99"'
      X-Amz-Request-Id:
      - 9V7PDW0PAP1N7TCP
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package lib\n\nimport (\n\t\"fmt\"\n\t\"net/url\"\n\t\"reflect\"\n\t\"strings\"\n)\n\nfunc
      CheckRequired(iStruct interface{}, values *url.Values) error {\n\tvar errors
      = make([]string, 0)\n\tval := reflect.ValueOf(iStruct)\n\tfor val.Kind() ==
      reflect.Ptr {\n\t\tif val.IsNil() {\n\t\t\treturn nil\n\t\t}\n\t\tval = val.Elem()\n\t}\n\n\tif
      iStruct == nil {\n\t\treturn nil\n\t}\n\n\tif val.Kind() != reflect.Struct {\n\t\treturn
      fmt.Errorf(\"CheckR[...]
- request:
    body: "package lib\n\nimport (\n\t\"testing\"\n\n\t\"github.com/stretchr/testify/assert\"\n)\n\nfunc
      TestIter_Next_MaxPages(t *testing.T) {\n\tassert := assert.New(t)\n\tparams
      := ListParams{}\n\tparams.Set(0, 5, \"\", 2)\n\tit := Iter{}\n\tit.ListParams
      = &params\n\n\tit.Query = func() (*[]interface{}, string, error) {\n\t\tret
      := make([]interface{}, params.PerPage)\n\n\t\treturn &ret, \"cursor\", nil\n\t}\n\trecordCount
      := 0\n\tfor it.Next() {\n\t\t[...]
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"3cc6728f7554f3ea0f53dabed57b19d2\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106217","size":"231"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Fexport_params.go
    method: POST
  response:
    body: '{"path":"lib/export_params.go","display_name":"export_params.go","type":"file","size":231,"mtime":"2020-11-16T23:34:31Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"7b6ae360822806fb9b8547d83939518c\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106220","size":"332"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Fquery.go
    method: POST
  response:
    body: '{"path":"lib/query.go","display_name":"query.go","type":"file","size":332,"mtime":"2020-11-16T23:34:31Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"f7cb73244af2aafb2ced638dc9658dee\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106211","size":"75"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Finterface.go
    method: POST
  response:
    body: '{"path":"lib/interface.go","display_name":"interface.go","type":"file","size":75,"mtime":"2020-11-16T23:34:31Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"83789abda0845357c13aa5fa9c8605a2\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106213","size":"58"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Fbool.go
    method: POST
  response:
    body: '{"path":"lib/bool.go","display_name":"bool.go","type":"file","size":58,"mtime":"2020-11-16T23:34:31Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"cecd1ea94155ea41d1f8f9e0c2f2e0d9\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106215","size":"68"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Fstring.go
    method: POST
  response:
    body: '{"path":"lib/string.go","display_name":"string.go","type":"file","size":68,"mtime":"2020-11-16T23:34:31Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"72556a26959c471a4b0bff38d08e558b\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106218","size":"1087"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Frequired.go
    method: POST
  response:
    body: '{"path":"lib/required.go","display_name":"required.go","type":"file","size":1087,"mtime":"2020-11-16T23:34:31Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"25f2df6af835e7bd72937852b3ef3728\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106212","size":"1593"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Fiter_test.go
    method: POST
  response:
    body: '{"path":"lib/iter_test.go","display_name":"iter_test.go","type":"file","size":1593,"mtime":"2020-11-16T23:34:31Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"c7863ec1199239ae6862018331c9ad76\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106221","size":"3141"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Fiter.go
    method: POST
  response:
    body: '{"path":"lib/iter.go","display_name":"iter.go","type":"file","size":3141,"mtime":"2020-11-16T23:34:32Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"129a7a11d2f07ee5446398ff07588c99\"","etags[0][part]":"1","provided_mtime":"2020-11-16T15:34:31-08:00","ref":"put-3243106216","size":"691"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filesapi-Key:
      - 11ebbfedb6cebcdf1d7ab0faafc4d677006b6e5cbd9a4cbe8c849f601fe82d68
    url: https://app.files.com/api/rest/v1/files/lib%2Frequired_test.go
    method: POST
  response:
    body: '{"path":"lib/required_test.go","display_name":"required_test.go","type":"file","size":691,"mtime":"2020-11-16T23:34:32Z","provided_mtime":"2020-11-16T23:34:31Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
