---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-05-27T16:12:15Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4451110787","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1363d2eb-92a2-47bf-a6ca-e725381911af?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155715Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=fkE1Al2dkS2_Dnk7C93vis28bgmp4ywgbmK90mQ3QqnK0HEUgIn38IgFB5uASAkQaBWQ1O0_D_Bq7AM3Mi7Jpq5mEMEllhNLbkl2XEszk9RTUHKb7CwQGHWFuta7CYvO\u0026X-Amz-Signature=b60533424ae019eda57dacfafd446f59966b8ca2ca403373706287398127a686"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1363d2eb-92a2-47bf-a6ca-e725381911af?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155715Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=fkE1Al2dkS2_Dnk7C93vis28bgmp4ywgbmK90mQ3QqnK0HEUgIn38IgFB5uASAkQaBWQ1O0_D_Bq7AM3Mi7Jpq5mEMEllhNLbkl2XEszk9RTUHKb7CwQGHWFuta7CYvO&X-Amz-Signature=b60533424ae019eda57dacfafd446f59966b8ca2ca403373706287398127a686
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5d41402abc4b2a76b9719d911017c592"'
      X-Amz-Request-Id:
      - NYERW67YP5GJV21E
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"5d41402abc4b2a76b9719d911017c592\"","etags[0][part]":"1","provided_mtime":"2021-05-27T08:57:15-07:00","ref":"put-4451110787","size":"5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: POST
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-05-27T15:57:15Z","provided_mtime":"2021-05-27T15:57:15Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/i%20am%20at%20the%20root.text?page=1
    method: GET
  response:
    body: '[{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-05-27T15:57:15Z","provided_mtime":"2021-05-27T15:57:15Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/i%20am%20at%20the%20root.text
    method: GET
  response:
    body: '{"path":"i am at the root.text","display_name":"i am at the root.text","type":"file","size":5,"mtime":"2021-05-27T15:57:15Z","provided_mtime":"2021-05-27T15:57:15Z","crc32":"3610a686","md5":"5d41402abc4b2a76b9719d911017c592","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1363d2eb-92a2-47bf-a6ca-e725381911af?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210527T155715Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=0f8d3487b8291336d9ce73105be8916c8728dfedc15d5484b22a2888c364ac32"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1363d2eb-92a2-47bf-a6ca-e725381911af?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210527%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210527T155715Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27i%2520am%2520at%2520the%2520root.text&response-content-type=application%2Foctet-stream&X-Amz-Signature=0f8d3487b8291336d9ce73105be8916c8728dfedc15d5484b22a2888c364ac32
    method: GET
  response:
    body: hello
    headers:
      Content-Disposition:
      - attachment; filename*=UTF-8''i%20am%20at%20the%20root.text
      Content-Type:
      - application/octet-stream
      Etag:
      - '"62109206880d38a4010a98e11243924a-1"'
      Last-Modified:
      - Thu, 27 May 2021 15:57:16 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - NYERQ9486MC546QY
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
