---
version: 1
interactions:
- request:
    headers:
    url: https://something-that-goes-to-amazon.com/1
    method: GET
  response:
    body: '{"type":"file_migration","timestamp":"2021-12-14T20:11:19+00:00","operation":"copy","status":"success","operation":"copy","file_type":"file","path":"files-cli/.gitignore","dest_path":"files-cli-4/.gitignore","status":"success"}
{"type":"file_migration","timestamp":"2021-12-14T20:11:19+00:00","operation":"copy","status":"success","operation":"copy","file_type":"file","path":"files-cli/lib/u2f.go","dest_path":"files-cli-4/lib/u2f.go","status":"success"}
{"type":"file_migration","timestamp":"2021-12-14T20:11:19+00:00","operation":"copy","status":"success","operation":"copy","file_type":"file","path":"files-cli/go.mod","dest_path":"files-cli-4/go.mod","status":"success"}
{"type"[...]
- request:
    headers:
    url: https://something-that-goes-to-amazon.com/2
    method: GET
  response:
    body: 'forbidden'
    headers:
      Content-Type:
        - application/text
    status: 404 Not Found
    code: 404