---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f470f1e1-6428-4161-a6f3-5b972801d8b8","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files
    method: POST
  response:
    body: '{"display_name":"TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files","type":"directory","size":null,"created_at":"2023-02-06T17:11:16Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root
    method: POST
  response:
    body: '{"display_name":"src-root","type":"directory","size":null,"created_at":"2023-02-06T17:11:17Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src
    method: POST
  response:
    body: '{"display_name":"src","type":"directory","size":null,"created_at":"2023-02-06T17:11:19Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo
    method: POST
  response:
    body: '{"display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T17:11:20Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:26:21Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118481624","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e80fabc6-8749-414a-974f-c0fa89c88f05?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T171121Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=ME3Z6ETF1yOWomTSKoGka71VGv_jXHgq2Si.Mzl5a.uL4lO2fo7HjyEULqDy8tsqpJHurq78r0QEr9RXBczHVrXO1_oGefwapMSiG4o7l8_fqyN9QfCrWqQcpLVz8tig\u0026X-Amz-Signature=6ffb3af20061741c693012be64797fc2b9a574926bb5754897c3038a558b2f35"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e80fabc6-8749-414a-974f-c0fa89c88f05?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T171121Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=ME3Z6ETF1yOWomTSKoGka71VGv_jXHgq2Si.Mzl5a.uL4lO2fo7HjyEULqDy8tsqpJHurq78r0QEr9RXBczHVrXO1_oGefwapMSiG4o7l8_fqyN9QfCrWqQcpLVz8tig&X-Amz-Signature=6ffb3af20061741c693012be64797fc2b9a574926bb5754897c3038a558b2f35
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - 56FG1BPHP6CW713B
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"ref":"put-4118481624"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:22Z","mtime":"2023-02-06T17:11:22Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar
    method: POST
  response:
    body: '{"display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T17:11:24Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar/lo.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:26:25Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118482061","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/af89ab16-c3f5-4bfd-af46-3eed8b0a81e0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T171125Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=2Pqr4aFtChMIdMQQ_ujCEcALMA6ZBS.Iun13OCgz0.GjSO5zMw1X4XL2jpMRTjCLCIGvYF2MI5C1uZsOyCedKTyBnDcifExoFAW_NQRb7_zzM_20v3l8ej6_dWjkHFwz\u0026X-Amz-Signature=b5d86e4acece3cba3ab72b29ae4dd8d2ecdb1996f8b2e8c84ffd0ab01bc743bf"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/af89ab16-c3f5-4bfd-af46-3eed8b0a81e0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T171125Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=2Pqr4aFtChMIdMQQ_ujCEcALMA6ZBS.Iun13OCgz0.GjSO5zMw1X4XL2jpMRTjCLCIGvYF2MI5C1uZsOyCedKTyBnDcifExoFAW_NQRb7_zzM_20v3l8ej6_dWjkHFwz&X-Amz-Signature=b5d86e4acece3cba3ab72b29ae4dd8d2ecdb1996f8b2e8c84ffd0ab01bc743bf
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - CTR6QC1F5PQZ6XBA
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"ref":"put-4118482061"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar/lo.txt
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar/lo.txt","display_name":"lo.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:26Z","mtime":"2023-02-06T17:11:26Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo","display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T17:11:20Z","mtime":"2023-02-06T17:11:26Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar","display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T17:11:24Z","mtime":"2023-02-06T17:11:26Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:22Z","mtime":"2023-02-06T17:11:22Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:22Z","mtime":"2023-02-06T17:11:22Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar","display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T17:11:24Z","mtime":"2023-02-06T17:11:26Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar/lo.txt","display_name":"lo.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:26Z","mtime":"2023-02-06T17:11:26Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar/lo.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar/lo.txt","display_name":"lo.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:26Z","mtime":"2023-02-06T17:11:26Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:22Z","mtime":"2023-02-06T17:11:22Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e80fabc6-8749-414a-974f-c0fa89c88f05?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T171128Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22\u0026response-content-type=text%2Fplain\u0026X-Amz-Signature=0ac8552d95c89a40303736164dd01e5bae319a8d42ef67b870f9e568bd999e6d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e80fabc6-8749-414a-974f-c0fa89c88f05?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T171128Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22&response-content-type=text%2Fplain&X-Amz-Signature=0ac8552d95c89a40303736164dd01e5bae319a8d42ef67b870f9e568bd999e6d
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="baz.txt"
      Content-Type:
      - text/plain
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Mon, 06 Feb 2023 17:11:22 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - SWQD8XQ1CZCW9KFS
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/af89ab16-c3f5-4bfd-af46-3eed8b0a81e0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T171128Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22lo.txt%22&response-content-type=text%2Fplain&X-Amz-Signature=fda905ae9a4329c2807b0000adf93ba8657c2b3f529e3de363c218e79ea73382
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="lo.txt"
      Content-Type:
      - text/plain
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Mon, 06 Feb 2023 17:11:26 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - SWQ4DGQFDC36AATM
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/bar","display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T17:11:24Z","mtime":"2023-02-06T17:11:26Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root/src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:11:22Z","mtime":"2023-02-06T17:11:22Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cached-Response:
      - "1675703487"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_foo_to_dest_with_nested_directories_and_files/src-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
