---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"15c99a71-5f60-4276-ad23-ac98b0ed9298","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename
    method: POST
  response:
    body: '{"display_name":"TestDownload-downloader-copy_baz.txt_to_Dest_with_rename","type":"directory","size":null,"created_at":"2023-02-06T17:10:32Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root
    method: POST
  response:
    body: '{"display_name":"src-root","type":"directory","size":null,"created_at":"2023-02-06T17:10:33Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src
    method: POST
  response:
    body: '{"display_name":"Src","type":"directory","size":null,"created_at":"2023-02-06T17:10:35Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo
    method: POST
  response:
    body: '{"display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T17:10:37Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:25:37Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118475490","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4f09a70f-dcd7-49b2-bc9a-89087b195a80?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T171037Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=BVAZHvZ53vIDUNXBuVA0cLIP5.bbqImUnyM.pXQvxhVx8E9wxjzT7sbCFGeTHG.53w3gk_w4nQI0rAREHcQNybUmg8fqu8La6PNl6SllBQVEaVioT.UzhqvPmiqI7hL_\u0026X-Amz-Signature=38c350bb48b43d82a049541652a6d4f9a467d815ca6719086452429e5198fe35"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4f09a70f-dcd7-49b2-bc9a-89087b195a80?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T171037Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=BVAZHvZ53vIDUNXBuVA0cLIP5.bbqImUnyM.pXQvxhVx8E9wxjzT7sbCFGeTHG.53w3gk_w4nQI0rAREHcQNybUmg8fqu8La6PNl6SllBQVEaVioT.UzhqvPmiqI7hL_&X-Amz-Signature=38c350bb48b43d82a049541652a6d4f9a467d815ca6719086452429e5198fe35
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - 0CHSM4AJK2K840T1
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"ref":"put-4118475490"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:10:38Z","mtime":"2023-02-06T17:10:38Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:10:38Z","mtime":"2023-02-06T17:10:38Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:10:38Z","mtime":"2023-02-06T17:10:38Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4f09a70f-dcd7-49b2-bc9a-89087b195a80?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T171040Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22\u0026response-content-type=text%2Fplain\u0026X-Amz-Signature=583c074e4f7d8bf14672bcabb265a5cff3f3b2e6c1cc0d3a915e7481ff0d0a60"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/4f09a70f-dcd7-49b2-bc9a-89087b195a80?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T171040Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22&response-content-type=text%2Fplain&X-Amz-Signature=583c074e4f7d8bf14672bcabb265a5cff3f3b2e6c1cc0d3a915e7481ff0d0a60
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="baz.txt"
      Content-Type:
      - text/plain
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Mon, 06 Feb 2023 17:10:38 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 37AFV0TN0DX8JPNV
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root/Src","display_name":"Src","type":"directory","size":null,"created_at":"2023-02-06T17:10:35Z","mtime":"2023-02-06T17:10:38Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_baz.txt_to_Dest_with_rename/src-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
