---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"2ccf3db8-d672-45ed-bd05-a0c2811d8f0b","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo
    method: POST
  response:
    body: '{"display_name":"TestDownload-downloader-copy_contents_of_foo_to_foo","type":"directory","size":null,"created_at":"2023-02-06T17:09:36Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root
    method: POST
  response:
    body: '{"display_name":"src-root","type":"directory","size":null,"created_at":"2023-02-06T17:09:38Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src
    method: POST
  response:
    body: '{"display_name":"Src","type":"directory","size":null,"created_at":"2023-02-06T17:09:39Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo
    method: POST
  response:
    body: '{"display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T17:09:41Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:24:42Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118468834","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/30d2fdf1-6557-44fe-8cbe-ad8718503268?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T170942Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=sBKsiOI3ChqapFCpVAOMjxGUtDe0ZLob5QP0cTaTJ11aQv1FUgoslIJob.eefRp3QOndkxTxY9Xd9eSLi9DyyGUeMNtHr3J07SJa36jYqG2HK4RefSydR2JXW1_EeyWW\u0026X-Amz-Signature=0401b3bcc9fd7375dcade9f20d354ecab05b4d9018d889731e71d688901c6463"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/30d2fdf1-6557-44fe-8cbe-ad8718503268?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T170942Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=sBKsiOI3ChqapFCpVAOMjxGUtDe0ZLob5QP0cTaTJ11aQv1FUgoslIJob.eefRp3QOndkxTxY9Xd9eSLi9DyyGUeMNtHr3J07SJa36jYqG2HK4RefSydR2JXW1_EeyWW&X-Amz-Signature=0401b3bcc9fd7375dcade9f20d354ecab05b4d9018d889731e71d688901c6463
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - J9TSNB3C7CNP9S1X
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"ref":"put-4118468834"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:09:43Z","mtime":"2023-02-06T17:09:43Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo","display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T17:09:41Z","mtime":"2023-02-06T17:09:43Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:09:43Z","mtime":"2023-02-06T17:09:43Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:09:43Z","mtime":"2023-02-06T17:09:43Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/30d2fdf1-6557-44fe-8cbe-ad8718503268?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T170945Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22\u0026response-content-type=text%2Fplain\u0026X-Amz-Signature=349726afe4c766b7cf3077806db664f1a2392c21c0734b07f923aef12cff4bb1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/30d2fdf1-6557-44fe-8cbe-ad8718503268?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T170945Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22&response-content-type=text%2Fplain&X-Amz-Signature=349726afe4c766b7cf3077806db664f1a2392c21c0734b07f923aef12cff4bb1
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="baz.txt"
      Content-Type:
      - text/plain
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Mon, 06 Feb 2023 17:09:43 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - BCX79J2CPQ63B10E
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo
    method: GET
  response:
    body: '[{"path":"tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T17:09:43Z","mtime":"2023-02-06T17:09:43Z","provided_mtime":null,"crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cached-Response:
      - "1675703384"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_contents_of_foo_to_foo/src-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
