---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"288739ecfceb6c4ddef9c52eab6e52f7","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes
    method: POST
  response:
    body: '{"display_name":"TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes","type":"directory","size":null,"created_at":"2024-04-22T21:28:34Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root
    method: POST
  response:
    body: '{"display_name":"src-root","type":"directory","size":null,"created_at":"2024-04-22T21:28:34Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src
    method: POST
  response:
    body: '{"display_name":"Src","type":"directory","size":null,"created_at":"2024-04-22T21:28:35Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo
    method: POST
  response:
    body: '{"display_name":"foo","type":"directory","size":null,"created_at":"2024-04-22T21:28:35Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-04-22T21:43:35Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-8590332990","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/ba6b1bcd-880a-4159-8f2c-771bf6df8429?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240422%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240422T212835Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=gx5UffXnMhhL4ZLbNWK3lvxwM4ttEZekzoVOg.jnCkBhJXX2VHr2oH8wbDn26g9WfyXoPwVQZCujqCGxET1kVn4FmwVeM2y4XPXTlfLUX.5Xo7tHQc6UN0qQOe38SY17\u0026X-Amz-Signature=95f0227394f00cf3b56954ed90658a87ef489a299351e622a12991ca0456a871"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/ba6b1bcd-880a-4159-8f2c-771bf6df8429?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240422%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240422T212835Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=gx5UffXnMhhL4ZLbNWK3lvxwM4ttEZekzoVOg.jnCkBhJXX2VHr2oH8wbDn26g9WfyXoPwVQZCujqCGxET1kVn4FmwVeM2y4XPXTlfLUX.5Xo7tHQc6UN0qQOe38SY17&X-Amz-Signature=95f0227394f00cf3b56954ed90658a87ef489a299351e622a12991ca0456a871
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - PWH5XJ7ZMC1F6W6P
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"ref":"put-8590332990"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2024-04-22T21:28:36Z","mtime":"2024-04-22T21:28:36Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo","display_name":"foo","type":"directory","size":null,"created_at":"2024-04-22T21:28:35Z","mtime":"2024-04-22T21:28:36Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2024-04-22T21:28:36Z","mtime":"2024-04-22T21:28:36Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2024-04-22T21:28:36Z","mtime":"2024-04-22T21:28:36Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/ba6b1bcd-880a-4159-8f2c-771bf6df8429?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240422%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240422T212837Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22\u0026response-content-type=text%2Fplain\u0026X-Amz-Signature=8a51532466de2fc0496eacdedaaedc55e7059a622e06fbc5cb593337f6b739f4"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/ba6b1bcd-880a-4159-8f2c-771bf6df8429?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240422%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240422T212837Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22&response-content-type=text%2Fplain&X-Amz-Signature=8a51532466de2fc0496eacdedaaedc55e7059a622e06fbc5cb593337f6b739f4
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="baz.txt"
      Content-Type:
      - text/plain
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Mon, 22 Apr 2024 21:28:36 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 8SZFYZMHBWHTCDDH
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo
    method: GET
  response:
    body: '[{"path":"tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root/Src/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2024-04-22T21:28:36Z","mtime":"2024-04-22T21:28:36Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Cached-Response:
      - "1713821317"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-downloader-copy_foo_to_Dest_with_PreserveTimes/src-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
